    <%= form_for @edition_arcticle do |f| %>

        <% if @edition_arcticle.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@edition_arcticle.errors.count, "error") + (I18n.t :notsaved) %></h2>
              <ul>
                  <% @edition_arcticle.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                      <%= link_to edition_arcticles_path(:edition_id => @edition_arcticle.edition_id) do %>
                        <i class="btn btn-primary glyphicon glyphicon-list"></i>
                      <% end %>
                      <%= (I18n.t :artikel) + " " + @edition_arcticle.edition.mobject.name %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <div class="form-group">
                      <% @mobject = Mobject.find(@edition_arcticle.mobject_id) %>
                      <%= f.label @mobject.name %><br/>
                      <%= showFirstImage2(:medium, @mobject, @mobject.mdetails) %>
                    </div>
                    <div class="form-group">
                      <% f.label (I18n.t :artikel) %><br/>
                      <% f.collection_select :mobject_id, Mobject.where('mtype=? and active=?', "artikel", true), :id, :name, {}, class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" name="my-checkbox1" checked>
                      <%= f.label (I18n.t :active) %>
                    </div>
                      <div class="form-group">
                        <%= f.label (I18n.t :reihenfolge) %><br/>
                        <%= f.number_field :sequence, class:"form-control"%>
                      </div>
                     <%= f.check_box :active, :id => "active", class:"form-control hidden" %>
                     <%= f.hidden_field :edition_id, class:"form-control" %>
                     <%= f.hidden_field :mobject_id, class:"form-control" %>
                     <%= f.hidden_field :status, class:"form-control" %>
                    <div class="actions">
                       <%= f.submit (I18n.t :speichern),  class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
                
            </div>
        </div>
    <% end %>                

<script type="text/javascript">
  $(document).ready(function(){
     $.fn.bootstrapSwitch.defaults.onColor = 'success';
     $("[name='my-checkbox1']").bootstrapSwitch('state',<%= @edition_arcticle.active %>);
     $("[name='my-checkbox1']").on('switchChange.bootstrapSwitch', function () {
     $("#active").prop('checked',$("[name='my-checkbox1']").bootstrapSwitch('state'));
     });
  });
</script>

<script>
  document.addEventListener("turbolinks:load", function() {$document.ready()})
</script>