<p id="notice"><%= notice %></p>

<p>
  <strong>Article:</strong>
  <%= @edition_arcticle.article_id %>
</p>

<p>
  <strong>Edition:</strong>
  <%= @edition_arcticle.edition_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @edition_arcticle.status %>
</p>

<%= link_to 'Edit', edit_edition_arcticle_path(@edition_arcticle) %> |
<%= link_to 'Back', edition_arcticles_path %>
