<p id="notice"><%= notice %></p>

<h1>Listing Msponsors</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @msponsors.each do |msponsor| %>
      <tr>
        <td><%= msponsor.status %></td>
        <td><%= link_to 'Show', msponsor %></td>
        <td><%= link_to 'Edit', edit_msponsor_path(msponsor) %></td>
        <td><%= link_to 'Destroy', msponsor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Msponsor', new_msponsor_path %>
