<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dataloader.name %>
</p>

<p>
  <strong>Mcategory:</strong>
  <%= @dataloader.mcategory_id %>
</p>

<%= link_to 'Edit', edit_dataloader_path(@dataloader) %> |
<%= link_to 'Back', dataloaders_path %>
