
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <%= link_to accounts_path :customer_id => @customer_id do %>
            <i class="btn btn-primary glyphicon glyphicon-list"></i>
          <% end %>
          KONTOAUSZUG <%= @account.name %>
          <span class="badge"><%= @trxanz %></span>
        </li_header>
      </div>
    </div>
    </div>
    
	<div class="row">
    <div class="col-md-12">
      <div class="panel-body">
        <% if @trxanz > 0 %>
      		<table class="table table-striped">
                <thead>
                  <tr>
                    <th></th>
                    <th>Datum (Valuta)</th>
                    <th>Mitteilung</th>
                    <th>Konto Belastung</th>
                    <th>Konto Vergütung</th>
                    <th>Referenz</th>
                    <th>Betrag</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <% saldo = 0 %>
                  <% @trx.each do |t| %>
                    <tr>
                      <td>
                        <%= link_to edit_transaction_path(t, :user_id => current_user.id), :user_id => current_user.id do %>
                          <i class="btn btn-primary btn btn-xs glyphicon glyphicon-wrench"></i>
                        <% end %>
              	        <%= link_to t, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                        <% end %>
                      </td>
                      <td>
                        <%= t.trx_date.strftime("%d.%m.%Y") %><br>
                        (<%= t.valuta.strftime("%d.%m.%Y") %>)
                      </td>
                      <td><%= t.text %></td>
                      <td><%= Account.find(t.account_bel).iban if t.account_bel %></td>
                      <td><%= Account.find(t.account_ver).iban if t.account_ver %></td>
                      <td><%= t.ref %></td>
                      <% if t.account_bel == @account.id %>
                          <% saldo = saldo - t.amount %>
                      <% end %>
                      <% if t.account_ver == @account.id %>
                          <% saldo = saldo + t.amount %>
                      <% end %>
                      <td><%= sprintf("%05.2f CHF",t.amount) if t.amount != nil %></td>
                      <td><%= t.status %></td>
                    </tr>
                  <% end %>
                  <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td>
                      <% if saldo >= 0 %>
                         <angefragt><%= sprintf("%05.2f CHF",saldo) %></angefragt>
                      <% else %>
                          <abgelehnt><%= sprintf("%05.2f CHF",saldo) %></abgelehnt>
                      <% end %>
                    </td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
        <% end %>
      </div>
     </div>
     </div>

