
  <div class="row">
    <% if @loc %>
      <%= header("Kalender " + @loc.name + " " + "<span class='badge'>" + @anz.to_s + "</span>", true) %>
    <% end %>
    <% if @kam %>
      <%= header("Kalender " + @kam.name + " " + "<span class='badge'>" + @anz.to_s + "</span>", true) %>
    <% end %>
  </div>

  <div class="panel-header">
    <% if user_signed_in? %>
      <% if @loc %>
        <%= link_to new_signage_cal_path(:loc_id => @loc.id) do %>
          <i class="btn btn-primary glyphicon glyphicon-plus"></i>
        <% end %>
      <% end %>
      <% if @kam %>
        <%= link_to new_signage_cal_path(:kam_id => @kam.id) do %>
          <i class="btn btn-primary glyphicon glyphicon-plus"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div id='calendar'></div>
  
  <%= header("Kalenderübersicht ", false) %>
  <div class="panel-body">
  	<table class="table table-striped">
      <thead>
        <tr>
  	      <small_cal>
  	      <th></th>
          <th colspan=2>wer</th>
          <th colspan=2>von-bis</th>
          </small_cal>
        </tr>
      </thead>
      <body>
      	<% if user_signed_in? and @cals %>
          <% @cals.each do |ca| %>
            <% if @kam %>
              <% @owner_id = @kam.owner_id %>
              <% @obj = Mobject.find(ca.mstandort) %>
            <% end %>
            <% if @loc %>
              <% @owner_id = @loc.owner_id %>
              <% @obj = Mobject.find(ca.mkampagne) %>
            <% end %>
      			<% if @owner_id == current_user.id %>
              <tr>
                <td>
    				      <% if !ca.confirmed %>
    				        <% if @loc %>
                      <%= link_to signage_cals_path(:confirm_id => ca.id, :loc_id => @loc.id) do %>
                        <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                      <% end %>
                    <% end %>
    				        <% if @kam %>
                      <%= link_to signage_cals_path(:confirm_id => ca.id, :kam_id => @kam.id) do %>
                        <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                      <% end %>
                    <% end %>
                  <% else %>
    				        <% if @loc %>
                      <%= link_to signage_cals_path(:noconfirm_id => ca.id, :loc_id => @loc.id) do %>
                        <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                      <% end %>
                    <% end %>
    				        <% if @kam %>
                      <%= link_to signage_cals_path(:noconfirm_id => ca.id, :loc_id => @kam.id) do %>
                        <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                      <% end %>
                    <% end %>
                  <% end %>

                  <%= link_to edit_signage_cal_path(ca) do %>
                    <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                  <% end %>
  				        <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                  <% end %>

                </td>
                <td>
                  <%= showFirstImage2(:small, @obj, @obj.mdetails) %>
                  <%= @obj.name %>
                </td>
                <td>
                  <small_cal>
                    <%= ca.date_from.strftime("%d.%m.%Y") + ca.time_from.to_s + " Uhr" %>
                  </small_cal>
                </td>
                <td>
                  <small_cal>
                    <%= ca.date_to.strftime("%d.%m.%Y") + ca.time_to.to_s + " Uhr" %>
                  </small_cal>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>          
      </body>
   	</table>
  </div>

<script>
$(document).ready(function(){

    $('#calendar').fullCalendar({
        now: '<%= DateTime.now %>',
        allDaySlot: false,
        timeFormat: 'H(:mm)',
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'agendaWeek',
        defaultView: 'month',
        slotDuration: '1:00:00',
        contentHeight: 'auto',
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]
    })
  
});
</script>

<script>
  document.addEventListener("turbolinks:load", function() {})
</script>
