<p id="notice"><%= notice %></p>

<p>
  <strong>Signage loc:</strong>
  <%= @signage_cal.signage_loc_id %>
</p>

<p>
  <strong>Signage:</strong>
  <%= @signage_cal.signage_id %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @signage_cal.date_from %>
</p>

<p>
  <strong>Date to:</strong>
  <%= @signage_cal.date_to %>
</p>

<p>
  <strong>Time from:</strong>
  <%= @signage_cal.time_from %>
</p>

<p>
  <strong>Time to:</strong>
  <%= @signage_cal.time_to %>
</p>

<%= link_to 'Edit', edit_signage_cal_path(@signage_cal) %> |
<%= link_to 'Back', signage_cals_path %>
