<p id="notice"><%= notice %></p>

<p>
  <strong>Mobject:</strong>
  <%= @idea.mobject_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea.user_id %>
</p>

<p>
  <strong>Name1:</strong>
  <%= @idea.name1 %>
</p>

<p>
  <strong>Description1:</strong>
  <%= @idea.description1 %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
