<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= (I18n.t :welcometo) %>, <%= @user.name %></h1>
    <%= email_image_tag("thurcloud.png", :size => "200x200") %>
    <p>
      <%= (I18n.t :registered) %><%= @user.fullname %>.<br>
    </p>
    <p>
      <%= (I18n.t :login) %> <%= @url + "/users/sign_in" %>
    </p>
    <p><%= (I18n.t :thx) %></p>
  </body>
</html>