    <%= form_for @signage_loc, html: {multipart: true}  do |f| %>

        <% if @signage_loc.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@signage_loc.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                  <% @signage_loc.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-12">
                    <div class="panel-heading header">
                      <li_header>
                        <%= link_to company_path(:id => @signage_loc.owner_id, :topic => "Digital Signage (Standorte)") do %>
                          <i class="btn btn-primary glyphicon glyphicon-list"></i>
                        <% end %>
                        DIGITAL SIGNAGE STANDORT
                      </li_header>
                    </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <div class="form-group">
                       <%= f.label "Standort Photo" %><br/>
                       <%= image_tag @signage_loc.avatar.url(:medium) %><br>
                       <%= f.file_field :avatar, class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Standort" %><br/>
                      <%= f.text_field :name, autofocus: true, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <input type="checkbox" name="my-checkbox1" checked>
                      <%= f.label "Öffentlich" %>
                    </div>
                    <div class="form-group">
                       <%= f.label "Standort-Adresse" %><br/>
                       <%= f.text_field :address1, class:"form-control" %>
                       <%= f.text_field :address2, class:"form-control" %>
                       <%= f.text_field :address3, class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Auflösung horizontal" %><br/>
                      <%= f.number_field :res_h, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <%= f.label "Auflösung vertikal" %><br/>
                      <%= f.number_field :res_v, class:"form-control" %>
                    </div>
                    <div class="form-group">
                      <%= f.label "Preis pro Kampangne" %><br/>
                      <%= f.number_field :price, class:"form-control" %>
                    </div>
                     <%= f.hidden_field :owner_id, class:"form-control" %>
                     <%= f.hidden_field :owner_type, class:"form-control" %>
                     <%= f.hidden_field :longitude, class:"form-control" %>
                     <%= f.hidden_field :latitude, class:"form-control" %>
                    <div class="actions">
                      <%= f.submit "Speichern", class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
                    <div>
                       <%= f.check_box :privateonly, :id => "privateonly", class:"form-control hidden" %>
                    </div>
            </div>
                
            <div class="col-md-6">
                <div class="panel-body">
                    <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
                    <div id="map">
                      <div id="map-canvas">
                      </div>
                    </div>
                </div>
                
            </div>
        </div>
    <% end %>

<script type="text/javascript">
    var latitudes = [<%= @signage_loc.latitude %>];
    var longitudes = [<%= @signage_loc.longitude %>];
    function init_map(index) {
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),
        mapOptions);
        marker.setMap(map);
    }
    init_map(0);
</script>

<script>
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    $("[name='my-checkbox1']").bootstrapSwitch('state',<%= @signage_loc.privateonly %>);
    $("[name='my-checkbox1']").on('switchChange.bootstrapSwitch', function () {
    $("#privateonly").prop('checked',$("[name='my-checkbox1']").bootstrapSwitch('state'));
    });    
</script>

<script>
  document.addEventListener("turbolinks:load", function() {init_map(0);datepicker()})
</script>
