<div class="row">
    <action>
    <%= action_buttons2(:dsstandorte, @signage_loc, @topic) %>
    </action> 
</div>

<div class="row">
    <header>
    <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + @signage_loc.name + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
    <nav>
      <div class='col-xs-12'>
          <%= navigate("dsstandorte", @signage_loc) %>
      </div>
    </nav>
    </header>
</div>
  
  
<div class="row">
  <div class='col-xs-12'>

      <% case @topic %>
        <% when "Info" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
            <%= showImage2(:medium, @signage_loc, nil) %>
            <% if @signage_loc.description and @signage_loc.description !="" %>
              <br><br>
              <b>Beschreibung</b><br>
          		<%= @signage_loc.description %>
              <br><br>
            <% end %>
        		<br><br>
            <br>
            <b>Verantwortlich</b><br>
            <%= showImage2(:small, @signage_loc.owner, true) %>
            <br>
            <%= @signage_loc.owner.name %>
            <br><br>
            <cite><%= @signage_loc.created_at.strftime("%d.%m.%Y") %></cite><br>
          </div>
          
        <% when :dskampagnen %>
          <%= header(:dsstandorte, false) %>
          <!--<div class="panel-body">-->
          <!--  <%= build_medialist2(@signage_loc.signage_cals, "signage_cals", nil) %>-->
          <!--</div>-->
          <%= @anz_s.to_s if false %>
          <div class="panel-body">
            <div id="curve_chart1"></div>
          </div>

          <%= @anz_s2.to_s if false %>
          <div class="panel-body">
            <div id="curve_chart2"></div>
          </div>

        <% when "Kalender" %>

          <div id='calendar'></div>

          <%= header("Kalender", false) %>
          <div class="panel-body">
          	<table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th colspan=2>Kampagne</th>
                  <th colspan=2>Eigentümer</th>
                  <th colspan=2>Zeitraum</th>
                </tr>
              </thead>
              <body>
                <% @signage_loc.signage_cals.each do |ca| %>
                  <tr>
                    <td>
          				    <% if user_signed_in? %>
          				      <% if (ca.signage_loc.owner.user_id == current_user.id) %>
          				        <% if !ca.confirmed %>
                            <%= link_to signage_loc_path(:id => ca.signage_loc_id, :confirm_id => ca.id, :topic => "Kalender") do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                            <% end %>
                          <% else %>
                            <%= link_to signage_loc_path(:id => ca.signage_loc_id, :noconfirm_id => ca.id, :topic => "Kalender") do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                            <% end %>
                          <% end %>
          				      <% end %>
          				      <% if (ca.signage_camp.owner.user_id == current_user.id) %>
          				        <%= link_to edit_signage_cal_path(ca, :loc_id => ca.signage_loc_id) do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                          <% end %>
          				        <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                          <% end %>
                        <% end %>
              				<% end %>
                    </td>
                    <td>
                      <%= showFirstImage2(:small, ca.signage_camp, ca.signage_camp.signages) %>
                    </td>
                    <td>
                      <smallcall>
                      <%= ca.signage_camp.name %><br>
                      </smallcal>
                    </td>
                    <td>
                      <%= showImage2(:small, ca.signage_camp.owner, true) %>
                    </td>
                    <td>
                      <smallcall>
                      <%= ca.signage_camp.owner.name %><br>
                      </smallcal>
                    <td>
                      <smallcall>
                      <%= ca.date_from.strftime("%d.%m.%Y")+"  "+ca.time_from.to_s+" Uhr"%><br>
                      <%= ca.date_to.strftime("%d.%m.%Y")+"  "+ca.time_to.to_s+" Uhr"%>
                      </smallcal>
                    </td>
                  </tr>
                <% end %>
              </body>
           	</table>
          </div>
          
      <% end %>

  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
$(document).ready(function(){
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();

    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();

    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });

    $('#calendar').fullCalendar({
        now: '<%= DateTime.now %>',
        allDaySlot: false,
        timeFormat: 'H(:mm)',
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'month',
        defaultView: 'agendaWeek',
        slotDuration: '1:00:00',
        contentHeight: 'auto',
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]
    });
    
});
</script>

<% if @topic == :dskampagnen %>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart1);
  function drawChart1() {
    var data = google.visualization.arrayToDataTable([
      ['Datum', 'Anzahl'],
      <%= raw @anz_s %>
    ]);
    var options = {
      title: 'Standort <%= @signage_loc.name %>',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart2);
  function drawChart2() {
    var data = google.visualization.arrayToDataTable([
      <%= raw @anz_s2 %>
    ]);
    var options = {
      title: 'Standort <%= @signage_loc.name %>',
      curveType: 'function',
      legend: { position: 'bottom' },
      isStacked: true
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('curve_chart2'));

    chart.draw(data, options);
  }
</script>
<% end %>

<script>
  document.addEventListener("turbolinks:load", function() {drawChart1();drawChart2();})
</script>


