
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
        <%= link_to searches_path :search_domain => "Tickets", :controller_name => controller_name, :ticket_id => @ticket.id do %>
          <i class="btn btn-primary glyphicon glyphicon-list"></i>
        <% end %>
        UEBERSICHT für TICKET <%= @ticket.name + " " + @ticket.msponsor.mobject.name + " " + @ticket.msponsor.company.name %>
        <span class="badge"><%= @ticanz %></span>
        </li_header>
      </div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-12">
  		<table class="table table-striped">
        <thead>
          <tr>
            <td colspan="3">
              <div class="digg_pagination">
                  <%= will_paginate @usertickets, :container => false, previous_label: "<", next_label: ">" %>
              </div>	  
            </td>
          </tr>
          <tr>
            <th></th>
            <th colspan="2">Name</th>
            <th>Status</th>
          </tr>
        </thead>
        
        <tbody>

            <% @usertickets.each do |ut| %>

              <tr>
    			       <td>
        	         <%= link_to ut, method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= showImage2(:small, ut.user, true) %>
                  </td>
                  <td>
                    <anzeigetext>
                      <%= ut.user.name + " " + ut.user.lastname %>
                    </anzeigetext>
                  </td>
                  <td>
                    <%= ut.status %>
                  </td>
              </tr>
            <% end %>

        </tbody>
      </table>
    </div>
  </div>
