<p id="notice"><%= notice %></p>

<h1>Signage Camps</h1>

<table>
  <thead>
    <tr>
      <th>Owner</th>
      <th>Owner type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signage_camps.each do |signage_camp| %>
      <tr>
        <td><%= signage_camp.owner_id %></td>
        <td><%= signage_camp.owner_type %></td>
        <td><%= link_to 'Show', signage_camp %></td>
        <td><%= link_to 'Edit', edit_signage_camp_path(signage_camp) %></td>
        <td><%= link_to 'Destroy', signage_camp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signage Camp', new_signage_camp_path %>
