<div class="row">
    <action>
    <%= action_buttons2("Kampagnen", @signage_camp, @topic) %>
    </action> 
</div>

<div class="row">
    <header>
    <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + @signage_camp.name + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
    <nav>
      <div class='col-xs-12'>
          <%= navigate("Kampagnen", @signage_camp) %>
      </div>
    </nav>
    </header>
</div>
  
  
<div class="row">
  <div class='col-xs-12'>

      <% case @topic %>
        <% when "Info" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
            <%= carousel(@signage_camp.signages, :medium, nil) %>
          </div>
          <br><br>
          <% if @signage_camp.description %>
            <b>Beschreibung</b><br>
        		<%= @signage_camp.description %>
            <br><br>
          <% end %>
      		<br><br>
          <%= @signage_camp.created_at.strftime("%d.%m.%Y") %>

        <% when "Details" %>
          <%= header("Details", false) %>
          <div class="panel-body">
            <%= build_medialist2(@signage_camp.signages, "signages", nil) %>
          </div>

        <% when "Standorte" %>
          <%= header("Standorte", false) %>
          <div class="panel-body">
            <%= build_medialist2(@signage_camp.signage_cals, "signage_cals", nil) %>
          </div>

        <% when "Kalender" %>

          <div id='calendar'></div>

          <%= header("Kalender", false) %>
          <div class="panel-body">
          	<table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th colspan=2>Standort</th>
                  <th colspan=2>Owner</th>
                  <th colspan=2>wann</th>
                </tr>
              </thead>
              <body>
                <% @signage_camp.signage_cals.each do |ca| %>
                  <tr>
                    <td>
          				    <% if user_signed_in? %>
          				      <% if (ca.signage_camp.owner.user_id == current_user.id) %>
          				        <% if !ca.confirmed %>
                            <%= link_to signage_camp_path(:id => ca.signage_camp_id, :confirm_id => ca.id, :topic => "Kalender") do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                            <% end %>
                          <% else %>
                            <%= link_to signage_camp_path(:id => ca.signage_camp_id, :noconfirm_id => ca.id, :topic => "Kalender") do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                            <% end %>
                          <% end %>
          				      <% end %>
        				        <%= link_to edit_signage_cal_path(ca) do %>
                          <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                        <% end %>
        				        <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' } do %>
                          <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                        <% end %>
              				<% end %>
                    </td>
                    <td>
                      <%= showImage2(:small, ca.signage_loc, true) %>
                      <smallcall>
                      <%= ca.signage_loc.name %><br>
                      </smallcal>
                    </td>
                    <td>
                      <%= showImage2(:small, ca.signage_loc.owner, true) %>
                      <smallcall>
                      <%= ca.signage_loc.owner.name %><br>
                      </smallcal>
                    <td>
                      <smallcall>
                      <%= ca.date_from.strftime("%d.%m.%Y")+"  "+ca.time_from.to_s+" Uhr"%><br>
                      <%= ca.date_to.strftime("%d.%m.%Y")+"  "+ca.time_to.to_s+" Uhr"%>
                      </smallcal>
                    </td>
                  </tr>
                <% end %>
              </body>
           	</table>
          </div>
          
      <% end %>

  </div>
</div>

<!--<script type="text/javascript">-->
<!--$(document).ready(function(){-->
<!--  $('.owl-show').owlCarousel({  -->
    
<!--    itemsCustom : false,-->
<!--    itemsDesktop : [1199,4],-->
<!--    itemsDesktopSmall : [980,3],-->
<!--    itemsTablet: [768,2],-->
<!--    itemsTabletSmall: false,-->
<!--    itemsMobile : [479,1],-->
<!--    autoPlay: true-->
    
<!--  });-->
<!--});-->
<!--</script>-->

<script>
  document.addEventListener("turbolinks:load", function() {})
</script>

<script>
$(document).ready(function(){
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();

    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();

    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });

    $('#calendar').fullCalendar({
        now: '<%= DateTime.now %>',
        allDaySlot: false,
        timeFormat: 'H(:mm)',
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'month',
        defaultView: 'agendaWeek',
        slotDuration: '1:00:00',
        contentHeight: 'auto',
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]
    });
    
    $('.owl-show').owlCarousel({  
      
      itemsCustom : false,
      itemsDesktop : [1199,4],
      itemsDesktopSmall : [980,3],
      itemsTablet: [768,2],
      itemsTabletSmall: false,
      itemsMobile : [479,1],
      autoPlay: true
      
    });    
  
});
</script>

