
    <%= form_for @appparam do |f| %>

        <% if @appparam.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@appparam.errors.count, "error") %> prohibited this bid from being saved:</h2>
              <ul>
                  <% @appparam.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
              <div class="panel panel-heading header">
                <li_header>
                <%= link_to appparams_path :page => session[:page] do %>
                  <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
                <% end %>
                Modul
                </li_header>
              </div>
            </div>
        </div>

        <div class="row">
                <div class="col-md-6">
                  <div class="panel-body">
                    <div class="form-group">
                      <%= f.label "Modul" %><br/>
                      <%= f.text_field :name, autofocus: true, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <%= f.label "Beschreibung" %><br/>
                      <%= f.text_area :description, rows: 5, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <%= f.label "active" %>
                      <%= f.check_box :active, class:"form-control"%>
                    </div>
                    <div class="actions">
                       <%= f.submit "Speichern",  class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
              </div>
                
            </div>
        </div>
    <% end %>                
