<div class=panel body>
    <%= link_to appparams_updateuser_path do %>
      <i class="btn btn-primary glyphicon glyphicon-user"></i>
    <% end %>
    <div class="row">
        <%= header($app_name +" Standard Funktionalität", true) %>
    </div>
    <br>
    <div class="row">
        <%= header("Hauptmenü", true) %>
    </div>
    <%= build_kachel_access("hauptmenue", "system", nil) %>
    <div class="row">
        <%= header("Funktionen Privatpersonen", true) %>
    </div>
    <%= build_kachel_access("personen", "system", nil) %>
    <div class="row">
        <%= header("Funktionen Institutionen", true) %>
    </div>
    <%= build_kachel_access("institutionen", "system", nil) %>
    <div class="row">
        <%= header("Funktionen Business Objekte", true) %>
    </div>
    <%= build_kachel_access("objekte", "system", nil) %>
    <div class="row">
        <%= header("Funktionen Kampagnen", true) %>
    </div>
    <%= build_kachel_access("dskampagnen", "system", nil) %>
    <div class="row">
        <%= header("Funktionen Standorte", true) %>
    </div>
    <%= build_kachel_access("dsstandorte", "system", nil) %>
</div>