    <%= form_for @mcalendar do |f| %>

        <% if @mcalendar.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@mcalendar.errors.count, "error") %> prohibited this calender from being saved:</h2>
              <ul>
                  <% @mcalendar.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                      <%= link_to mcalendars_path :object_id => @mcalendar.mobject_id, :page => session[:page] do %>
                        <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
                      <% end %>
                      RESERVATION <%= @mcalendar.mobject.name %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <div class="form-group">
                      <%= f.label "Datum von" %><br/>
                      <%= f.text_field :date_from, class:"form-control"%>
                      <%= f.label "Uhrzeit von" %><br/>
                      <%= f.number_field :time_from, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <%= f.label "Datum_bis" %><br/>
                      <%= f.text_field :date_to, class:"form-control"%>
                      <%= f.label "Uhrzeit bis" %><br/>
                      <%= f.number_field :time_to, class:"form-control"%>
                    </div>
                   <%= f.hidden_field :mobject_id, class:"form-control" %>
                   <%= f.hidden_field :user_id, class:"form-control" %>
                   <%= f.hidden_field :company_id, class:"form-control" %>
                   <%= f.hidden_field :active, class:"form-control" %>
                    <div class="actions">
                       <%= f.submit "Speichern",  class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
                
            </div>
        </div>
    <% end %>                

<script type="text/javascript">
  $(document).ready(function(){
    $('#mcalendar_date_from').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "en",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
    $('#mcalendar_date_to').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "en",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
  });
</script>

<script>
  document.addEventListener("turbolinks:load", function() {})
</script>
