<p id="notice"><%= notice %></p>

<h1>Listing Mcalendars</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mcalendars.each do |mcalendar| %>
      <tr>
        <td><%= mcalendar.status %></td>
        <td><%= link_to 'Show', mcalendar %></td>
        <td><%= link_to 'Edit', edit_mcalendar_path(mcalendar) %></td>
        <td><%= link_to 'Destroy', mcalendar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mcalendar', new_mcalendar_path %>
