

    <%= form_for @user_answer do |f| %>

        <% if @user_answer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user_answer.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
                  <% @user_answer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                      ANTWORT <%= @user_answer.answer.question.name %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <% case @user_answer.answer.question.mcategory.name %>
                      <% when "Text" %>
                        <div class="form-group">
                          <%= f.label "Antwort (Text)" %><br/>
                          <%= f.text_area :description, class:"form-control"%>
                        </div>
                      <% when "Numerisch" %>
                        <div class="form-group">
                          <%= f.label "Antwort (numerisch)" %>
                          <%= f.number_field :num, class:"form-control"%>
                        </div>
                    <% end %>
                    <%= f.hidden_field :user_id, class:"form-control" %>
                    <%= f.hidden_field :answer_id, class:"form-control" %>
                    <div class="actions">
                      <%= f.submit "Speichern",  class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
            </div>
        </div>
    <% end %>

