<p id="notice"><%= notice %></p>

<p>
  <strong>Answer:</strong>
  <%= @user_answer.answer_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_answer.user_id %>
</p>

<p>
  <strong>Num:</strong>
  <%= @user_answer.num %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_answer.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_answer.status %>
</p>

<%= link_to 'Edit', edit_user_answer_path(@user_answer) %> |
<%= link_to 'Back', user_answers_path %>
