
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <%= link_to customer_advisor_index2_path :partner_id => @customer.partner_id, :page => session[:page] do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
          <% end %>
          KUNDENBERATER für Kunde <%= @name %>
          <span class="badge"><%= @usanz %></span>
        </li_header>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @users, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-md-12">
  		<table class="table table-striped">
        <thead>
          <tr>
            <th colspan=2>Beraterstatus</th>
            <th colspan=3>Person</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td>
                <%= link_to customer_advisor_index_path :customer_id => @customer.id, :customer_advisor_id => u.id, :page => session[:page] do %>
                  <i class="btn btn-primary glyphicon glyphicon-tags"></i>
                <% end %>
                <%= link_to customer_advisor_index_path :customer_id => @customer.id, :delete_customer_advisor_id => u.id, :page => session[:page] do %>
                  <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
              <td>
                <% if u.id == @advisor_id %>
                    <berater><%= "Kundenberater" %></berater>
                <% end %>
              </td>
              <td>
                <% if u.avatar_file_name == nil %>
                  <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag u.avatar(:small), class:"img-rounded"  %>
                <% end %>
              </td>
              <td>
                <%= u.name + " " + u.lastname %>            
              </td>
              <td>
                <%= u.email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
