<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <%= link_to @company, :anchor => "#Kundenstatus" do %>
            <i class="btn btn-primary btn-lg glyphicon glyphicon-list"></i>
          <% end %>
          KUNDENLISTE <%= @company.name %>
          <span class="badge"><%= @cusanz %></span>
        </li_header>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @customers, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

	<div class="row">
    <div class="col-md-12">
  		<table class="table table-striped">
        <thead>
          <tr>
            <th colspan=2>Kundenberater</th>
            <th colspan=3>Kunde</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |c| %>
            <tr>
              <td>
                <%= link_to customer_advisor_index_path :customer_id => c.id, :page => session[:page] do %>
                  <i class="btn btn-primary glyphicon glyphicon-user"></i>
                <% end %>
              </td>
              <td>
                <% if c.advisor_id %>
                  <% @ad = User.find(c.advisor_id) %>
                  <% if @ad.avatar_file_name == nil %>
                    <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag @ad.avatar(:small), class:"img-rounded"  %>
                  <% end %>
                  <%= name = @ad.name +  " " + @ad.lastname %>
                <% end %>
              </td>
              <td>
                <% if c.user_id %>
                  <% if c.user.avatar_file_name == nil %>
                    <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag c.user.avatar(:small), class:"img-rounded"  %>
                  <% end %>
                  <% name = c.user.name +  " " + c.user.lastname %>
                  <% email = c.user.email %>
                <% end %>
                <% if c.company_id %>
                  <% if c.company.avatar_file_name == nil %>
                    <%= image_tag("company_a.png", :size => "50x50", class:"img-rounded" ) %>
                  <% else %>
                    <%= image_tag c.company.avatar(:small), class:"img-rounded"  %>
                  <% end %>
                  <% name = c.company.name %>
                  <% email = c.company.user.email %>
                <% end %>
              </td>
              <td>
                <%= name %>            
              </td>
              <td>
                <%= email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>