<%= form_for(@favourit) do |f| %>
  <% if @favourit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@favourit.errors.count, "error") %> prohibited this favourit from being saved:</h2>

      <ul>
      <% @favourit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :object_name %><br>
    <%= f.text_field :object_name %>
  </div>
  <div class="field">
    <%= f.label :object_id %><br>
    <%= f.number_field :object_id %>
  </div>
  <div class="field">
    <%= f.label :category %><br>
    <%= f.number_field :category %>
  </div>
  <div class="field">
    <%= f.label :stichworte %><br>
    <%= f.text_field :stichworte %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.check_box :email %>
  </div>
  <div class="field">
    <%= f.label :ticker %><br>
    <%= f.check_box :ticker %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
