<p id="notice"><%= notice %></p>

<h1>Listing Favourits</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Object name</th>
      <th>Object</th>
      <th>Category</th>
      <th>Stichworte</th>
      <th>Email</th>
      <th>Ticker</th>
      <th>Active</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favourits.each do |favourit| %>
      <tr>
        <td><%= favourit.user_id %></td>
        <td><%= favourit.object_name %></td>
        <td><%= favourit.object_id %></td>
        <td><%= favourit.category %></td>
        <td><%= favourit.stichworte %></td>
        <td><%= favourit.email %></td>
        <td><%= favourit.ticker %></td>
        <td><%= favourit.active %></td>
        <td><%= link_to 'Show', favourit %></td>
        <td><%= link_to 'Edit', edit_favourit_path(favourit) %></td>
        <td><%= link_to 'Destroy', favourit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favourit', new_favourit_path %>
