<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @favourit.user_id %>
</p>

<p>
  <strong>Object name:</strong>
  <%= @favourit.object_name %>
</p>

<p>
  <strong>Object:</strong>
  <%= @favourit.object_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @favourit.category %>
</p>

<p>
  <strong>Stichworte:</strong>
  <%= @favourit.stichworte %>
</p>

<p>
  <strong>Email:</strong>
  <%= @favourit.email %>
</p>

<p>
  <strong>Ticker:</strong>
  <%= @favourit.ticker %>
</p>

<p>
  <strong>Active:</strong>
  <%= @favourit.active %>
</p>

<%= link_to 'Edit', edit_favourit_path(@favourit) %> |
<%= link_to 'Back', favourits_path %>
