<p id="notice"><%= notice %></p>

<h1>Crits</h1>

<table>
  <thead>
    <tr>
      <th>Mobject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crits.each do |crit| %>
      <tr>
        <td><%= crit.mobject_id %></td>
        <td><%= link_to 'Show', crit %></td>
        <td><%= link_to 'Edit', edit_crit_path(crit) %></td>
        <td><%= link_to 'Destroy', crit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crit', new_crit_path %>
