<% getUserCreds %>

<div class="row">
  <header>
  <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + @user.name + " " + @user.lastname + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
  <nav>
    <div class='col-xs-12'>
        <%= navigate("personen", @user) %>
    </div>
  </nav>
  </header>
</div>

<div class="row">
  <div class='col-xs-12'>

      <%= header3("personen", @user, @topic, false) %>
      
      <% case @topic %>
        <% when "personen_info" %>

          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <%= header((I18n.t :adresse), false) %>
              <div class="panel-body">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <% case @user.status %>
                      <% when "CHECK" %>
                        <i class="glyphicon glyphicon-question-sign"></i>
                      <% when "OK" %>
                        <i class="glyphicon glyphicon-ok-circle"></i>
                      <% when "NOK" %>
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    <% end %>
                    <b> <%= (I18n.t :status) %></b>
                    <br>
                    <% if @user.anonymous %>
                      <%= image_tag("user_a.png", :size => "200x200", class:"img-rounded" ) %>
                    <% else %>
                      <%= showImage2(:medium, @user, true) %>
                      <br><br>
                      <b><i class="glyphicon glyphicon-home"></i> <%= (I18n.t :adresse) %></b><br>
                      <% if !@user.anonymous and @user.address1 != nil and @user.address1 != "" %>
                        <%= @user.address1 %><br> 
                      <% end %>
                      <% if !@user.anonymous and @user.address2 != nil and @user.address2 != "" %>
                        <%= @user.address2 %><br> 
                      <% end %>
                      <% if !@user.anonymous and @user.address3 != nil and @user.address3 != "" %>
                        <%= @user.address3 %><br> 
                      <% end %>
                      <br>
                      <b><i class="glyphicon glyphicon-phone"></i> <%= (I18n.t :telefon) %></b><br>
                      <% if !@user.anonymous and @user.phone1 != nil and @user.phone1 != "" %>
                        <%= @user.phone1 %><br> 
                      <% end %>
                      <% if !@user.anonymous and @user.phone2 != nil and @user.phone2 != "" %>
                        <%= @user.phone2 %><br> 
                      <% end %>
                      <br>
                      <b><%= (I18n.t :geburtsdatum) %></b><br>
                      <%= @user.dateofbirth.strftime("%d.%m.%Y") if @user.dateofbirth %><br>
                      <% if user_signed_in? %>
              	        <%= link_to new_email_path :m_from_id => current_user.id, :m_to_id => @user.id, :back_url => request.original_url do %>
                          <i class="btn btn-default glyphicon glyphicon-envelope"></i>
                        <% end %>
                      <% else %>
                          <i class="glyphicon glyphicon-envelope"></i>
                      <% end %>
                      <%= @user.email %><br>
                    <% end %>
                </div>
                  
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
                    <div id="map">
                      <div id="map-canvas"></div>
                    </div>
                </div>
                
              </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <% if $activeapps.include?("personen_aktivitaeten") or (user_signed_in? and current_user.superuser) %>
                <%= header((I18n.t :aktivitaeten), false) %>
                <% @stats %>
                <div class="panel-body">
                  <i class="glyphicon glyphicon-map-marker pull-left" onclick="return drawChart();"></i>
                  <div id="piechart"></div>
                </div>
              <% end %>
            </div>
            
          </div>

        <!--########################################################################################################################-->
        <!--# inactive code-->
        <!--########################################################################################################################-->
          <% if false %>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <% if $activeapps.include?("personen_mappositionen") or (user_signed_in? and current_user.superuser) %>
                <%= header((I18n.t :positionen), false) %>
                <i class="glyphicon glyphicon-map-marker pull-left" onclick="return initialize();"></i>
                <div class="panel-body">
                  <div id="map2">
                    <div id="map-canvas2"></div>
                    </div>
                </div>
              <% end %>
            </div>
          </div>
          <% end %>
          
        <% when "personen_institutionen" %>
            <%= build_medialist2(@user.companies, "companies", nil) %>

        <% when "personen_projekte" %>
          <%= build_medialist2(@user.mobjects.where('mtype=? and parent=?',"projekte",0), "mobjects", nil) %>

        <% when "personen_gruppen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"gruppen"), "mobjects", nil) %>
  
        <% when "personen_zeiterfassung" %>
          <div class="row">
              <div class='col-xs-12'>
                <div class='panel-body'>
                  
                  <% case @c_scope %>
                    <% when "aufwand" %>
                      <% btn_sa = "active" %>
                      <% btn_sc = "inactive" %>
                    <% when "kosten" %>
                      <% btn_sa = "inactive" %>
                      <% btn_sc = "active" %>
                  <% end %>
                  <% case @c_mode %>
                    <% when "Monat" %>
                      <% btn_m = "active" %>
                      <% btn_y = "inactive" %>
                      <% btn_a = "inactive" %>
                    <% when "Jahr" %>
                      <% btn_y = "active" %>
                      <% btn_m = "inactive" %>
                      <% btn_a = "inactive" %>
                    <% when "alles" %>
                      <% btn_y = "inactive" %>
                      <% btn_m = "inactive" %>
                      <% btn_a = "active" %>
                  <% end %>
                  <% @date_start %>
                  <% @date_end %>
                  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :year => @c_year, :month => @c_month, :mode => "alles", :scope => @c_scope) do %>
                    <span><i class="btn btn-<%= btn_a %> glyphicon glyphicon-fullscreen"> alles</i></span>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Monat", :scope => @c_scope) do %>
                    <span><i class="btn btn-<%= btn_m %> glyphicon glyphicon-calendar"> <%= @c_month %></i></span>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope)  do %>
                    <span><i class="btn btn-<%= btn_y %> glyphicon glyphicon-calendar"> <%= @c_year %></i></span>
                  <% end %>
  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => "kosten")  do %>
                    <span><i class="btn btn-<%= btn_sc %> glyphicon glyphicon-euro"></i></span>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => "aufwand")  do %>
                    <span><i class="btn btn-<%= btn_sa %> glyphicon glyphicon-time"></i></span>
                  <% end %>
          
                  <% if @c_mode != "alles" %>
                    <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope)  do %>
                      <i class="btn btn-primary glyphicon glyphicon-chevron-left"></i>
                    <% end %>
                    <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
                      <i class="btn btn-primary glyphicon glyphicon-chevron-right"></i>
                    <% end %>
                 <% end %>
                 <% if @c_mode == "alles" %>
                   <% @timetracks = Timetrack.select("mobject_id").where('user_id=? and costortime=?', @user.id, @c_scope).distinct %>
                 <% else %>
                   <% @timetracks = Timetrack.select("mobject_id").where('user_id=? and costortime=? and datum >=? and datum <=?', @user.id, @c_scope, @date_start, @date_end).distinct %>
                 <% end  %>
                 <br><br>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div>
                      <%= header((I18n.t :projekte), false) %>
                    </div>
                    <div id="auftragschartall"></div>
                  </div>
                </div>
  
                <% @mob = [] %>
                <div class="row">
                  <% @timetracks.each do |t| %>
                  
                    <% @mob << t.mobject_id %>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div>
                        <%= header((I18n.t :projekte) + Mobject.find(t.mobject_id).name, false) %>
                        <% if Madvisor.where('mobject_id=? and role=?', t.mobject_id, t.mobject.mtype).count > 0 %>
                          <%= link_to new_timetrack_path(:user_id => @user.id, :mobject_id => t.mobject_id, :scope => @c_scope) do %>
                            <span><i class="btn btn-special %> glyphicon glyphicon-plus"></i></span>
                          <% end %>
                        <% end %>
                      </div>
                      <div id="<%="auftragschart"+t.mobject_id.to_s %>"></div>
                    </div>
                  <% end %>
                </div>
                
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div>
                      <%= header((I18n.t :berechtigteprojekte) ,false) %>
                    </div>
                    <% @user.madvisors.where('role=?',"projekte").each do |m| %>
                      <% if !@mob.include?(m.mobject_id) %>
                        <%= link_to new_timetrack_path(:user_id => @user.id, :mobject_id => m.mobject_id, :scope => @c_scope) do %>
                          <span><i class="btn btn-special glyphicon glyphicon-plus"><%= m.mobject.name %></i></span>
                        <% end %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
  
                <% if @c_mode == "Monat" %>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div>
                        <%= header((I18n.t :zeiterfassung), false) %>
                        
                    		<table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th><%= (I18n.t :datum) %></th>            
                              <th colspan=2><%= (I18n.t :projekte) %></th>
                              <% if @c_scope == "aufwand" %>
                                <th><%= (I18n.t :anzahlstunden) %></th>
                              <% end %>
                              <% if @c_scope == "kosten" %>
                                <th><%= (I18n.t :betrag) %></th>
                              <% end %>
                            </tr>
                          </thead>
                          <tbody>
                          <% @activities = Timetrack.where('user_id=? and costortime=? and datum >=? and datum <=?', @user.id, @c_scope, @date_start, @date_end).order(datum: :desc) %>
                          <% @activities.each do |a| %>
                            <tr>
                              <td>
                                <%= link_to edit_timetrack_path(a) do %>
                                  <i class="btn btn-primary btn btn-xs glyphicon glyphicon-wrench"></i>
                                <% end %>
                      	        <%= link_to a, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                  <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                                <% end %>
                              </td>
                              <td><%= a.datum.strftime('%d-%m-%Y') %></td>
                              <td><%= showFirstImage2(:small, Mobject.find(a.mobject_id),Mobject.find(a.mobject_id).mdetails) %></td>
                              <td><%= Mobject.find(a.mobject_id).name %></td>
                              <td align="right"><%= a.amount %></td>
                            </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                <% end %>
  
                </div>
              </div>
          </div>
  
        <% when "personen_ressourcenplanung" %>
          <div class="row">
              <div class='col-xs-12'>
                <div class='panel-body'>
  
                  <% @header = [] %>
                  <% @data = [] %>
                  <% @header = %w[Jan Feb Mar Apr May Jun Jul Aug Sep Okt Nov Dez] %>
                  <% for i in 1..12 %>
                    <% @data << i %>
                  <% end %>
                  
                  <% case @c_scope %>
                    <% when "aufwand" %>
                      <% btn_sa = "active" %>
                      <% btn_sc = "inactive" %>
                    <% when "kosten" %>
                      <% btn_sa = "inactive" %>
                      <% btn_sc = "active" %>
                  <% end %>
                  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :year => @c_year, :scope => @c_scope)  do %>
                    <span><i class="btn btn-active glyphicon glyphicon-calendar"> <%= @c_year %></i></span>
                  <% end %>
  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :year => @c_year, :scope => "kosten")  do %>
                    <span><i class="btn btn-<%= btn_sc %> glyphicon glyphicon-euro"></i></span>
                  <% end %>
                   <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :year => @c_year, :scope => "aufwand")  do %>
                    <span><i class="btn btn-<%= btn_sa %> glyphicon glyphicon-time"></i></span>
                  <% end %>
                  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :dir => "<", :year => @c_year, :mode => @c_mode, :scope => @c_scope )  do %>
                    <i class="btn btn-primary glyphicon glyphicon-chevron-left"></i>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :dir => ">", :year => @c_year, :mode => @c_mode , :scope => @c_scope) do %>
                    <i class="btn btn-primary glyphicon glyphicon-chevron-right"></i>
                  <% end %>
                 <br><br>
  
                  <table class="table">
                    <tr>
                      <td></td>
                      <td></td>
                      <td colspan= <%= @header.length %>></td> 
                    </tr>
                    <tr>
                      <th colspan="2"><%= I18n.t :projekte %></th>
                        <% @total = [] %>
                        <% for i in 0..@header.length-1 do %>
                          <!-- set initialize total per column -->
                          <% @total[i] = 0 %>
                          <!-- set color of header according to actual day, wekk or month -->
                          <% if Date.today.strftime('%m').to_i == @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                                <th class="warning">
                          <% else %>
                                <th>
                          <% end %>
                          <%= @header[i] %>
                        </th>
                      <% end %>
                    </tr>
                    <% if @mymobjects %>
                      <% @mymobjects.each do |w| %>
    
                        <tr>            
    
                          <% plans = [] %>
                          <% @plannings = Planning.where('mobject_id=? and user_id=? and costortime=? and jahr=?', w.id, current_user.id, @c_scope, @c_year.to_s) %>
                          <% @plannings.each do |p| %>
                            <% h = Hash.new %>
                            <% h = {:id => p.id, :monat => p.monat.to_i, :kapa => p.amount} %>
                            <% plans << h %>
                          <% end %>
    
                          <td>
                            <%= showFirstImage2(:small, w,w.mdetails) %>
                          </td>
                          <td>
                            <%= w.name %>
                          </td>
    
                          <% for i in 0..@header.length-1 do %>
    
                            <% if @c_scope == "kosten" %>
                            
                              <% moto = 0 %>
                              <% for k in 0..plans.length-1 do %>
                                <% if plans[k][:monat].to_i == @data[i].to_i %>
                                  <% moto = moto + plans[k][:kapa] %>
                                <% end %>
                              <% end %>
                              
                              <% if moto > 0%>
                                <td class="color_kapa_booked" align="right">
                  				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                    <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                  <% end %>
                                 <%= moto.to_s+" CHF" %><br>
                              <% else %>
                                  <td>
                  				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                    <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                  <% end %>
                              <% end %>
                              </td>
                            <% end %>
                          
                            <% if @c_scope == "aufwand" %>
                              <% kapa = false %>
                              <% for k in 0..plans.length-1 do %>
                                <% if plans[k][:monat].to_i == @data[i].to_i %>
                                  <td class="color_kapa_booked">
                                  <%= plans[k][:kapa].to_s+" %" %><br>
                  				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                                    <i class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></i>
                                  <% end %>
                  				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                                    <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                                  <% end %>
                                  <% @total[i] = @total[i] + plans[k][:kapa] %>
                                  <% kapa = true %>
                                <% end %>
                              <% end  %>
                              <% if !kapa %>
                                  <td>
                  				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                    <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                  <% end %>
                              <% end %>
                              </td>
                            <% end %>
    
                          <% end %>
    
                        </tr>
    
                      <% end %>
                    <% end %>
  
                  <!-- finally add totals and progress bar-->
                  <% if @c_scope == "aufwand" %>
                    <tr>
                      <td><%= I18n.t :total %></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <% if @total[i] > 100 %>
                            <td class="danger">
                        <% else %>
                            <td>
                        <% end %>
                        <%= @total[i] %>
                        </td>
                      <% end %>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <td>
                        <div class="progress">
                        <% if @total[i] <=40 %>
                          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >40 and @total[i]<=60 %>
                          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >60 and @total[i]<=100 %>
                          <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >100 and @total[i]<=125 %>
                          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >125 %>
                          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        </div>
                        </td>
                      <% end %>
                  </tr>
                  <% end %>
                
                </table>
                
                <% if @c_scope == "kosten" %>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div>
                        <%= header((I18n.t :kosten), false) %>
                        
                    		<table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th><%= (I18n.t :datum) %></th>            
                              <th colspan=2><%= (I18n.t :projekte) %></th>
                              <th align='right'><%= (I18n.t :betrag) %></th>
                            </tr>
                          </thead>
                          <tbody>
                          <% @plannings = Planning.where('user_id=? and costortime=?', @user.id, @c_scope).order(jahrmonat: :desc) %>
                          <% @plannings.each do |a| %>
                            <tr>
                              <td>
                                <%= link_to edit_planning_path(a) do %>
                                  <i class="btn btn-primary btn btn-xs glyphicon glyphicon-wrench"></i>
                                <% end %>
                      	        <%= link_to a, method: :delete, data: { confirm: (I18n.t :sindsiesicher?) } do %>
                                  <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                                <% end %>
                              </td>
                              <td><%= a.jahrmonat %></td>
                              <td><%= showFirstImage2(:small, Mobject.find(a.mobject_id),Mobject.find(a.mobject_id).mdetails) %></td>
                              <td><%= Mobject.find(a.mobject_id).name %></td>
                              <td align='right'><%= sprintf("%7.2f",a.amount) + " " + (I18n.t :waehrung) %></td>
                            </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                <% end %>
  
              </div>
            </div>
          </div>

        <!--########################################################################################################################-->
        <!--# inactive code-->
        <!--########################################################################################################################-->
        <% when "personen_angebote" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"angebote"), "mobjects", nil) %>
        <% when "personen_ansprechpartner" %>
          <%= build_medialist2(@user.madvisors, "madvisors", "object") %>
        <% when "personen_kleinanzeigen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"kleinanzeigen"), "mobjects", nil) %>
        <% when "personen_stellenanzeigen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"stellenanzeigen"), "mobjects", nil) %>
        <% when "personen_vermietungen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"vermietungen"), "mobjectss", nil) %>
        <% when "personen_veranstaltungen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"veranstaltungen"), "mobjects", nil) %>
        <% when "personen_ausflugsziele" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"ausflugsziele"), "mobjects", nil) %>
        <% when "personen_ausschreibungen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"ausschreibungen"), "mobjects", nil) %>
        <% when "personen_crowdfunding" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"crowdfunding"), "mobjects", nil) %>
        <% when "personen_ideen" %>
          <%= build_medialist2(@user.ideas, "ideas", "Idee") %>
        <% when "personen_innovationswettbewerbe" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"innovationswettbewerbe"), "mobjects", nil) %>
        <% when "personen_umfragen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"umfragen"), "mobjects", nil) %>
        <% when "personen_publikationen" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"publikationen"), "mobjects", nil) %>
        <% when "personen_artikel" %>
          <%= build_medialist2(@user.mobjects.where('mtype=?',"artikel"), "mobjects", nil) %>
        <% when "personen_bewertungen" %>
          <%= build_medialist2(@user.mratings, "mratings", "objekte") %>
        <% when "personen_anmeldungen" %>
          <%= build_medialist2(@user.participants, "participants", "objekte") %>
  
        <% when "personen_kalendereintraege" %>
          <div id='calendar'></div>
          <div class="panel-body">
          	<table class="table table-striped">
              <thead>
                <tr>
          	      <small_cal>
          	      <th></th>
                  <th><%= (I18n.t :wie) %></th>
                  <th colspan=2><%= (I18n.t :dokument) %></th>
                  <th colspan=2><%= (I18n.t :werwann) %></th>
                  </small_cal>
                </tr>
              </thead>
              <body>
              	<% if user_signed_in? %>
              	  <% if @cals %>
                  <% @cals.each do |ca| %>
              			<% if true or (ca.user_id1 == current_user.id or ca.user_id2 == current_user.id) %>
                      <tr>
                        <td>
                				  <% if ca.user_id1 == current_user.id %>
                				      <% if !ca.confirmed %>
                                <%= link_to user_path(:id => @user.id, :confirm_id => ca.id, :subject => @subject, :topic => :kalendereintraege) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                                <% end %>
                              <% else %>
                                <%= link_to user_path(:id => @user.id, :noconfirm_id => ca.id, :subject => @subject, :topic => :kalendereintraege) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                                <% end %>
                              <% end %>
                          <% end %>
                          <%= link_to edit_appointment_path(ca) do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                          <% end %>
          				        <%= link_to ca, method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                            <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                          <% end %>
                        </td>
                        <td>
                          <% if false %>
                          <% case ca.status %>
                            <% when "?" %>
                               <angefragt>
                            <% when "NOK" %>
                               <abgelehnt>
                            <% when "OK" %>
                               <bestaetigt>
                            <% when "N/A" %>
                               <geblockt>
                            <% else %>
                          <% end %>
                          <% end %>
                          <% if ca.status != "N/A" %>
                              <% case ca.channel %>
                                <% when "Geschäftsstelle" %>
                                   <i class="glyphicon glyphicon-briefcase"></i>
                                <% when "Treffpunkt" %>
                                   <i class="glyphicon glyphicon-map-marker"></i>
                                <% when "Wohnort Berater" %>
                                   <i class="glyphicon glyphicon-home"></i>
                                <% when "Wohnort Kunde" %>
                                   <i class="glyphicon glyphicon-home"></i>
                                <% when "Telefon" %>
                                   <i class="glyphicon glyphicon-phone-alt"></i>
                                <% when "VideoChat" %>
                                   <i class="glyphicon glyphicon-facetime-video"></i>
                                <% else %>
                              <% end %>
                          <% else %>
                              <i class="glyphicon glyphicon-remove"></i>
                          <% end %>
                          <% case ca.status %>
                            <% when "?" %>
                               </angefragt>
                            <% when "NOK" %>
                               </abgelehnt>
                            <% when "OK" %>
                               </bestaetigt>
                            <% when "N/A" %>
                               </geblockt>
                            <% else %>
                          <% end %>
                        </td>
              				  <td>
                          <%= link_to new_appointment_document_path(:appointment_id => ca.id) do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-cloud-upload"></i><br>
                          <% end %>
                        </td>
                        <td>
                          <% ca.appointment_documents.each do |ad| %>
                  	        <%= link_to ad.document.url, target: "_blank" do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-cloud-download"></i>
                            <% end %>
            				        <%= link_to ad, method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                              <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                            <% end %>
                            <% ad.name %><br>  
                          <% end %>
                        </td>
                        <td>
                          <% @user2 = User.find(ca.user_id2) %>
                          <%= showImage2(:small, @user2, true) %>
                        </td>
                        <td>
                          <small_cal>
                            <%= @user2.name + " " + @user2.lastname %><br>
                          </small_cal>
                          <small_cal>
                            <%= ca.app_date.strftime("%d.%m.%Y") %><br>
                            <%= ca.time_from.to_s+"-"+ca.time_to.to_s+" Uhr"%>
                          </small_cal>
                        </td>
                      </tr>
                    <% end %>
                  <% end %>
                  <% end %>
                <% end %>          
              </body>
           	</table>
          </div>
  
    	 <% when "personen_tickets" %>
          <div class="panel-body">
            <% @user.user_tickets.where('status<>?', "Filter Kampagne").each do |ut| %>
            
              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="thumbnail" align="center">
                  <% if ut.avatar_file_name %>
                  <%= image_tag ut.avatar(:medium), class:"img-rounded" %>            
                    <% end %>
                  <anzeigetext>
                    <%= ut.ticket.mcategory.name %><br>
          					<%= ut.ticket.name %><br>
          				</anzeigetext>
          				<ticketstatuss><b>
          				<%= ut.status %>
                  </b></ticketstatuss><br>
                  
                  <% if ut.ticket.owner_type == "Msponsor" %>
                    <ntext><br>
                    <b><%= ut.ticket.owner.mobject.name %></b><br>
                    <%= ut.ticket.owner.mobject.date_from.strftime("%d.%m.%Y") + " - " + ut.ticket.owner.mobject.date_to.strftime("%d.%m.%Y")  %><br>
                    <%= link_to ut.ticket.owner.mobject do %>
                      <%= showFirstImage2(:medium, ut.ticket.owner.mobject, ut.ticket.owner.mobject.mdetails) %><br>
                    <% end %>
                    <br>
                  <% end %>
                  <% if ut.ticket.owner_type == "Mobject" %>
                    <%= link_to ut.ticket.owner do %>
                      <%= showFirstImage2(:medium, ut.ticket.owner, ut.ticket.owner.mdetails) %><br>
                    <% end %>
                  <% end %>
                  
                  <%= showImage2(:small, ut.user, true) %>
                  <%= ut.user.name + " " + ut.user.lastname %><br>
                  <br>
                  
                  <% if ut.ticket.owner_type == "Msponsor" %>
                    <b><%= (I18n.t :ueberreichtvon) %></b><br>
                    <%= showImage2(:small, ut.ticket.owner.company, true) %>
                    <%= ut.ticket.owner.company.name %>
                  <% end %>
  
                  </ntext>
  
                  </p>
            			<p>
            			<% if user_signed_in? and current_user.id == ut.user_id %>
              			<% case ut.status %>
              			  <% when "persönlich", "übergeben" %>
                        <%= link_to users_ticketstatus_path :userticket_id => ut.id, :status => "zurückgeben" do %>
                          <i class="btn btn-primary btn btn-lg glyphicon glyphicon-thumbs-down"> zurückgeben</i>
                        <% end %><br><br>
                        <%= link_to users_ticketstatus_path :userticket_id => ut.id, :status => "aktivieren" do %>
                          <i class="btn btn-primary btn btn-lg glyphicon glyphicon-thumbs-up"> aktivieren</i>
                        <% end %>
              			  <% when "zurückgegeben" %>
                        <%= link_to users_ticketstatus_path :userticket_id => ut.id, :status => "aktivieren" do %>
                          <i class="btn btn-primary btn btn-lg glyphicon glyphicon-thumbs-up"> aktivieren</i>
                        <% end %><br><br>
              			  <% when "aktiv" %>
                        <%= link_to users_ticketstatus_path :userticket_id => ut.id, :status => "einlösen" do %>
                          <i class="btn btn-primary btn btn-lg glyphicon glyphicon-shopping-cart"> einlösen</i>
                        <% end %>
              			  <% when "eingelöst" %>
                        <% link_to users_ticketstatus_path :userticket_id => ut.id, :status => "einlösen" do %>
                          <i class="btn btn-primary btn btn-lg glyphicon glyphicon-shopping-cart"> eingelöst</i>
                        <% end %>
                    <% end %>
                  <% end %>
            		</div>
          		</div>
            <% end %>
          </div>
            
    	 <% when "personen_favoriten" %>
          <i class="glyphicon glyphicon-map-marker pull-left" onclick="return initialize();"></i>
          <div class="panel-body">
            <%= build_medialist2(@user.favourits, "favourits", nil) %>
          </div>
          <% if $activeapps.include?("personen_mappositionenfavoriten") or (user_signed_in? and current_user.superuser) %>
            <%= header((I18n.t :favoriten), false) %>
            <div class="panel-body">
              <div id="map2">
                <div id="map-canvas2"></div>
                </div>
            </div>
          <% end %>
          
    	 <% when "personen_kundenbeziehungen" %>
          <% hash = Hash.new %>
          <% hash = {:user_id => @user.id} %>
          <div class="panel-body">
            <%= build_medialist2(@user.customers, "partners", hash) %>
          </div>
          <%= header((I18n.t :nopartners), false) %>
          <div class="panel-body">
            <%= build_medialist2(Company.where('partner=?',true), "nopartners", hash) %>
          </div>
  
    	 <% when "personen_transaktionen" %>
          <div class="panel-body">
            <%= build_medialist2(@user.transactions, "transactions", hash) %>
          </div>
  
    	 <% when "personen_emails" %>
          <div class="panel-body">
            <table class="table-striped" width="100%">
            <% emails = Email.where('m_to=? or m_from=?', @user.id, @user.id).order(created_at: :desc) %>
            <% if emails.count > 0 %>
              <tr>
                <th><%= (I18n.t :werwann) %></th>
                <th><%= (I18n.t :message) %></th>
              </tr>
            <% end %>
            <% emails.each do |e| %>
              <tr>
              <td>
              <% if e.m_to == @user.id %>
                <% @u = User.find(e.m_from) %>
                <%= showImage2(:small, @u, true) if @u %><br>
              <% else %>
                <% @u = User.find(e.m_to) %>
                <%= showImage2(:small, @u, true) if @u %><br>
              <% end %>
              <%= e.created_at.strftime("%A, %d.%m.%Y-%H:%M:%S") %><br>
              </td>
              <% if e.m_from == @user.id %>
                <td style="text-align:right">
              <% else %>
                <td>
              <% end %>
              <% if user_signed_in? and e.m_to == current_user.id %>
      	        <%= link_to new_email_path :m_from_id => current_user.id, :m_to_id => @u.id, :back_url => user_path(:id => @user.id, :topic => :emails) do %>
                  <i class="btn btn-default btn-xs glyphicon glyphicon-envelope"></i>
                <% end %>
              <% end %>
              <% if e.m_from == @user.id %>
                <ntext>
              <% end %>
              <b><%= e.header %></b><br>
              <%= e.body %><br>
              <% if e.m_to == @user.id %>
                </ntext>
              <% end %>
              </td>
              </tr>
            <% end %>
            </table>
          </div>
  
    	 <% when "personen_zugriffsberechtigungen" %>
          <div class="row">
              <%= header((I18n.t :hauptmenue), true) %>
          </div>
          <%= build_kachel_access("hauptmenue", "user", @user) %>
          <div class="row">
              <%= header((I18n.t :personen), true) %>
          </div>
          <%= build_kachel_access("personen", "user", @user) %>
          <div class="row">
              <%= header((I18n.t :institutionen), true) %>
          </div>
          <%= build_kachel_access("institutionen", "user", @user) %>
          <div class="row">
              <%= header((I18n.t :objekte), true) %>
          </div>
          <%= build_kachel_access("objekte", "user", @user) %>
          <div class="row">
              <%= header((I18n.t :dskampagnen), true) %>
          </div>
          <%= build_kachel_access("dskampagnen", "user", @user) %>
          <div class="row">
              <%= header((I18n.t :dsstandorte), true) %>
          </div>
  
    	 <% when "personen_transaktionen" %>
          <%= build_kachel_access("dsstandorte", "user", @user) %>
          <div class="panel-body">
            <%= build_medialist2(@user.transactions, "transactions", hash) %>
          </div>
      <!--end inactive ########################################################################################################################-->
  
      <% end %>

    </div>
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% if @topic == "personen_info" %>
  <script type="text/javascript">
    var latitudes = [<%= @user.latitude %>];
    var longitudes = [<%= @user.longitude %>];
    function init_map(index) {
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "<%= (I18n.t :standort) %>"
        });
        var map = new google.maps.Map(document.getElementById("map"),
            mapOptions);
        marker.setMap(map);
    }

    <% if false %>
    function initialize() {
        var map;
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };
        // Display a map on the page
        map = new google.maps.Map(document.getElementById("map2"), mapOptions);
        map.setTilt(45);
            
        // Multiple Markers
        var markers = <%= raw @locs %>;
        var infoWindowContent = <%= raw @wins %>;
        
        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;
        
        // Loop through our array of markers & place each one on the map  
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });
            
            // Allow each marker to have an info window    
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));
    
            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }
    
        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
            this.setZoom(10);
            google.maps.event.removeListener(boundsListener);
        });
    };
    <% end %>

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= raw @stats %>);
      var options = {
        title: "<%= (I18n.t :aktivitaeten) %>",
        pieHole: 0.4,
        height: 600,
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    };
      
  </script>
<% end %>

<% if @topic == "personen_zeiterfassung" %>
  <script>
      google.charts.load('current', {'packages':['corechart']});

      <% if @c_mode == "alles" %>
          <% @tts = Timetrack.select("mobject_id, sum(amount) as sum").where('user_id=? and costortime=?', @user.id, @c_scope).group("mobject_id") %>
      <% else %>
          <% @tts = Timetrack.select("mobject_id, sum(amount) as sum").where('user_id=? and costortime=? and datum >=? and datum <=?', @user.id, @c_scope, @date_start, @date_end).group("mobject_id") %>
      <% end %>
      window.datasetall = [['kategorie', 'anzahl']];
      <% @tts.each do |ts| %>
        datasetall.push(['<%= Mobject.find(ts.mobject_id).name %>', <%= ts.sum %>]);
      <% end %>
      google.charts.setOnLoadCallback(drawChartall);
      function drawChartall() {
        var data = google.visualization.arrayToDataTable(datasetall);
        var options = {
          <% if @c_scope == "aufwand" %>
          title: "<%= (I18n.t :rapportiertestunden) %>",
          <% end %>
          <% if @c_scope == "kosten" %>
          title: "<%= (I18n.t :rapportiertekosten) %>",
          <% end %>
          // colors: ['#ACC550'],
          // legend: { position: 'bottom' }
        };
        // var chart = new google.visualization.ColumnChart(document.getElementById("auftragschartall"));
        var chart = new google.visualization.PieChart(document.getElementById("auftragschartall"));
        chart.draw(data, options);
      };
      
      <% @timetracks.each do |t| %>
        <% case @c_mode %>
          <% when "alles" %>
            <% @tts = Timetrack.select("jahrmonat as gdate, sum(amount) as sum").where('user_id=? and costortime=? and mobject_id=?', @user.id, @c_scope, t.mobject_id).group("jahrmonat").order("gdate") %>
          <% when "Monat" %>
            <% @tts = Timetrack.select("date(datum) as gdate, sum(amount) as sum").where('user_id=? and costortime=? and mobject_id=? and datum >=? and datum <=?', @user.id, @c_scope, t.mobject.id, @date_start, @date_end).group("datum").order("datum") %>
          <% when "Jahr" %>
            <% @tts = Timetrack.select("jahrmonat as gdate, sum(amount) as sum").where('user_id=? and costortime=? and mobject_id=? and datum >=? and datum <=?', @user.id, @c_scope, t.mobject_id, @date_start, @date_end).group("jahrmonat").order("gdate") %>
        <% end %>
        <% if @tts %>
          window.dataset<%= t.mobject_id.to_s %> = [['kategorie', 'anzahl']];
          <% @tts.each do |ts| %>
            dataset<%= t.mobject_id.to_s %>.push(['<%= ts.gdate.to_s %>', <%= ts.sum %>]);
          <% end %>
          google.charts.setOnLoadCallback(drawChart<%= t.mobject_id.to_s %>);
          function drawChart<%= t.mobject_id.to_s %>() {
            var data = google.visualization.arrayToDataTable(dataset<%= t.mobject_id.to_s %>);
            var options = {
              <% if @c_scope == "aufwand" %>
              title: "<%= (I18n.t :rapportiertestunden) %>",
              <% end %>
              <% if @c_scope == "Kosten" %>
              title: "<%= (I18n.t :rapportiertekosten) %>",
              <% end %>
              colors: ['#ACC550'],
              legend: { position: 'bottom' }
            };
            var chart = new google.visualization.ColumnChart(document.getElementById('<%="auftragschart"+t.mobject_id.to_s %>'));
            chart.draw(data, options);
          };
        <% end %>
    
      <% end %>

  </script>
<% end %>

<!--########################################################################################################################-->
<!--# inactive code-->
<!--########################################################################################################################-->
<% if false %>
<% if @topic == "personen_kalendereintraege" %>
  <script>
    $('#calendar').fullCalendar({
        now: '<%= DateTime.now %>',
        allDaySlot: false,
        timeFormat: 'H(:mm)',
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'month',
        defaultView: 'agendaWeek',
        slotDuration: '1:00:00',
        contentHeight: 'auto',
        <% if @user.time_from and @user.time_to %>
          minTime: '<%= @user.time_from %>:00',
          maxTime: '<%= @user.time_to %>:00',
        <% end %>
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]
      });
  </script>
<% end %>
<% end %>

<script>
$(document).ready(function(){
  
    $("a").tooltip();
  
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();

    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();

    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });

});
</script>

<script>
<% case @topic %>
  <% when "personen_info" %>
      document.addEventListener("turbolinks:load", function() {init_map(0); drawChart();})

  <% when "personen_kalendereintraege" %>
      document.addEventListener("turbolinks:load", function() {})

  <% when "personen_zeiterfassung" %>
      document.addEventListener("turbolinks:load", function() {drawChartall();})
<% end %>
</script>