
<div class="row">
    <% @users = User.all %>
    <% @users.each do |u| %>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="panel panel-default" onclick="return init_map(0);">
                        <div class="row padall">
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <span></span>
                                <%= image_tag u.avatar(:medium), class:"card-img-top img-responsive" %>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <list-h1><%= u.name + " " + u.lastname %><br></list-h1>
                                    </div>
                                </div>
                                <div>
                                    <div class="pull-left">
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        <%= u.address1 %><br>
                                        <%= u.address2 %><br>
                                        <%= u.address3 %><br>
                                        <i class="glyphicon glyphicon-envelope"></i>
                                        <%= u.email %><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="panel panel-list nopadding" onclick="return init_map(0);">
                                <br>
                                 <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
                                 <%= link_to u do %>
                                    <i class="glyphicon glyphicon-circle-arrow-right pull-right"></i>
                                <% end %>
                                <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 ">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="panel panel-default" onclick="return init_map(0);">
                        <div class="row padall">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <span></span>
                                <%= image_tag User.find(1).avatar(:medium), class:"card-img-top img-responsive" %>
                                <img src="/Content/images/shared/properties1/condo1.jpg" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span class="fa fa-dollar icon">499,000</span>
                                    </div>
                                    <div class="pull-right">
                                        900 SqFt | 1 Bedroom | 1 Bathroom
                                    </div>
                                </div>
                                <div>
                                    <h4><span class="fa fa-map-marker icon"></span>1021 N Garfield St</h4>
                                    Build 2007. Close to Merto.<span class="fa fa-lock icon pull-right">   Sold</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="panel panel-primary" onclick="javascript:init_map(1);">
                        <div class="row padall">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <span></span>
                                <%= image_tag User.find(2).avatar(:medium), class:"card-img-top img-responsive" %>
                                <img src="/Content/images/shared/properties1/condo2.jpg" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span class="fa fa-dollar icon">$385,000</span>
                                    </div>
                                    <div class="pull-right">
                                        1,135 SqFt | 2 Bedrooms | 2 Bathrooms                                
                                    </div>
                                </div>
                                <div>
                                    <h4><span class="fa fa-map-marker icon"></span>4195 S Four Mile Run Dr</h4>
                                    Build 2001. Fully refurbished.<span class="fa fa-search icon pull-right">   More</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="panel panel-primary" onclick="return init_map(2);">
                        <div class="row padall">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <span></span>
                                <%= image_tag User.find(3).avatar(:medium), class:"card-img-top img-responsive" %>
                                <img src="/Content/images/shared/properties1/house1.jpg" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span class="fa fa-dollar icon">675, 000</span>
                                    </div>
                                    <div class="pull-right">
                                        1,196 SqFt | 3 Bedrooms | 1 Bathroom                                
                                    </div>
                                </div>
                                <div>
                                    <h4><span class="fa fa-map-marker icon"></span>5108 24th St N</h4>
                                    Build 2011. Fully Furnished.<span class="fa fa-search icon pull-right">   More</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                    <div class="panel panel-primary" onclick="return init_map(3);">
                        <div class="row padall">
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                                <span></span>
                                <%= image_tag User.find(4).avatar(:medium), class:"card-img-top img-responsive" %>
                                <img src="/Content/images/shared/properties1/house2.jpg" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                                <div class="clearfix">
                                    <div class="pull-left">
                                        <span class="fa fa-dollar icon">945,000</span>
                                    </div>
                                    <div class="pull-right">
                                        3,500 SqFt | 5 Bedrooms | 3 Bathrooms  
                                    </div>
                                </div>
                                <div>
                                    <h4><span class="fa fa-map-marker icon"></span>2717 S Arlington Ridge Rd</h4>
                                    Build 2012. Call for availability.<span class="fa fa-search icon pull-right">   More</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="row padbig">
                <div id="map" class="map">
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var latitudes = [38.885516, 38.898537, 38.8507126, 38.84753];
    var longitudes = [-77.09327200000001, -77.13208299999997, -77.09903600000001, -77.06577290000001];

    function init_map(index) {
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),
            mapOptions);
        marker.setMap(map);
    }

    init_map(0);
</script>