
<% if false %>
<div class="row">
  <%= header("Kalender " + "<span class='badge'>" + @anz.to_s + "</span>", true) %>
</div>

<%= form_for showcal_index_path, method: 'get' do |f| %>
  <% if user_signed_in? %>
    <%= f.select :domain, options_for_select([ "Geburtstage Favoriten", "Aktionen", "Ausschreibungen", "Veranstaltungen", "Stellenanzeigen", "Crowdfunding" ], @test), {}, class:"form-control" ,:onchange => "this.form.submit();" %>
  <% else %>
    <%= f.select :domain, options_for_select([ "Aktionen", "Ausschreibungen", "Veranstaltungen", "Stellenanzeigen", "Crowdfunding" ], @test), {}, class:"form-control" ,:onchange => "this.form.submit();" %>
  <% end %>
  <div class="actions">
     <%= f.submit "Kalender",  class:"btn btn-primary"%>
  </div>
<% end %>
<% end %>

<% if false %>
<div id="carousel-example-generic" class="carousel slide">

  <% @mobjects = Mobject.where('mtype=? and msubtype=?',"Angebote","Aktion") %>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <% i=0 %>
    <% @mobjects.each do |m| %>
      <% if i==0 %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= i.to_s %>" class="active"></li>
      <% else %>
        <li data-target="#carousel-example-generic" data-slide-to="<%= i.to_s %>"></li>
      <% end %>
      <% i = i+1 %>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

    <% i=0 %>
    <% @mobjects.each do |m| %>
      <!-- First slide -->
      <% if i==0 %>
        <div class="item active">
      <% else %>
        <div class="item">
      <% end %>
        <div class="carousel-caption">
          <h3 data-animation="animated bounceInLeft"><%= m.name %></h3>
          <h3 data-animation="animated bounceInRight"><%= showFirstImage2(:medium, m, m.mdetails) %></h3><br>
        </div>
      </div><!-- /.item -->
      <% i = i+1 %>
    <% end %>

    <% if false %>
    <!-- First slide -->
    <div class="item active">
      <div class="carousel-caption">
        <h3 data-animation="animated bounceInLeft">
          This is the caption for slide 1
        </h3>
        <h3 data-animation="animated bounceInRight">
          This is the caption for slide 1
        </h3>
        <button class="btn btn-primary btn-lg"
          data-animation="animated zoomInUp">Button</button>
      </div>
    </div><!-- /.item -->

    <!-- Second slide -->
    <div class="item">
      <div class="carousel-caption">
        <h3 class="info-container" data-animation="animated bounceInDown">
          <span class="glyphicon glyphicon-heart"></span>
        </h3>
        <h3 data-animation="animated bounceInUp">
          This is the caption for slide 2
        </h3>
        <button class="btn btn-primary btn-lg"
                data-animation="animated zoomInRight">Button</button>
      </div>
    </div><!-- /.item -->

    <!-- Third slide -->
    <div class="item">
      <div class="carousel-caption">
        <h3 class="info-container" data-animation="animated zoomInLeft">
          <span class="glyphicon glyphicon-glass"></span>
        </h3>
        <h3 data-animation="animated flipInX">
          This is the caption for slide 3
        </h3>
        <button class="btn btn-primary btn-lg"
                data-animation="animated lightSpeedIn">Button</button>
      </div>
    </div><!-- /.item -->
    <% end %>

  </div><!-- /.carousel-inner -->

  <% if true %>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic"
     role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic"
     role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <% end %>
  
</div><!-- /.carousel -->
<% end %>
