<% if !@signages %>

  <!--find campaign if more than one-->
  <% if @campaigns %>
  
    <% @campanz = @campaigns.count %>
    <% if !session[:campaign_nr] %>
      <% session[:campaign_nr] = 1 %>
    <% else %>
      <% session[:campaign_nr] = session[:campaign_nr] + 1 %>
      <% if session[:campaign_nr] > @campanz %>
        <% session[:campaign_nr] = 1 %>
      <% end %>
    <% end %>
    
    <% nr = 0 %>
    <% @campaigns.each do |camp| %>
      <% nr = nr + 1 %>
      <% if nr == session[:campaign_nr] %>
        <% @camp = camp %>
        <% @signages = camp.signages %>
        <% @company = camp.owner %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if @signages %>

<% if @location %>
  <% hit = SignageHit.new %>
  <% hit.signage_loc_id = @location.id %>
  <% hit.signage_camp_id = @camp.id %>
  <% hit.datetime_from = DateTime.new %>
  <% hit.save %>
<% end %>

<div class="signage">
  <div class="panel-signage">

   	<div class="row">
   	  <br>
  		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pull-left">
        <%= carousel(@signages, :big, "hello") %>
      </div>
  		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-right">

  		  <div class="row">
      		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <%= small_carousel(@company, :medium) %>
          </div>
        </div>

        <br>
        <br>

  		  <div class="row">
      		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		    <div class="panel panel-signage">
              <h3><%= @company.name %></h3>
            </div>
          </div>
        </div>

  		  <div class="row">
      		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    		    <div class="panel panel-signage">
              <% hash = qrcodeimg(@company, :small) %>
              <%= link_to @company do %>
                <%= hash["qr_code"] %>
              <% end %>
            </div>
          </div>
      		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    		    <div class="panel panel-signage">
              <%= (@company.address1 + "<br>").html_safe if @company.address1 %>
              <%= (@company.address2 + "<br>").html_safe if @company.address2 %>
              <%= (@company.address3 + "<br>").html_safe if @company.address3 %>
              <%= ("<br>"+@company.mcategory.name).html_safe %>
            </div>
          </div>
        </div>
        <br>

  		  <div class="row">
      		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		    <div class="panel panel-signage">
              <%= hash["qr_text"] %>
            </div>
          </div>
        </div>
        <br><br><br><br><br><br><br><br>

  		  <div class="row">
      		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    		    <div class="panel panel-signage">

              <% if @location %>
    
                <visit-us>hier könnte Ihre Werbung stehen, fragen Sie uns...</visit-us><br>

                <% hash = qrcodeimg(@location.owner, :small) %>
                <%= link_to @location.owner do %>
                  <% hash["qr_code"] %>
                  Standort <%= @location.name %><br>
                  Betreiber <%= @location.owner.name %><br>
                  <%= hash["qr_text"] %>
                <% end %>
  
              <% end %>
            </div>
          </div>
        </div>
        <br>

        
      </div>
    </div>

  </div>
</div>
<% end %>

<script type="text/javascript">
$(document).ready(function(){
  $('.owl-show').owlCarousel({  
    
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    afterMove : afterMove,
    singleItem: true,
    autoHeight: true,
    autoPlay: 50000,
    pagination: false
  
  });
  
    $('.owl-show2').owlCarousel({  
    
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    afterMove : afterMove,
    singleItem: true,
    autoHeight: true,
    autoPlay: 5000,
    pagination: false
  
  });

    function afterMove(){
      $("#powered").fadeIn(5000);
      $("#powered").fadeOut(5000);
    }
    
    setInterval(function(){cache_clear()},100000);
    
    function cache_clear(){
     window.location.reload(true);
    }

});
</script>

<script>
  document.addEventListener("turbolinks:load", function() {wait()})
</script>

<script>
  function wait() {
    await sleep(100);
    location.reload(true);
  }
</script>