<%= header("Ticket Corner", false) %>
<% if @ticket %>
  <div class="panel-body">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
      <div class="thumbnail" align="center">
          <h1><%= @auth_status %></h1>
          <b><%= auth_reason %></b>
          <h1><%= @ticket_status %></h1>
          <b><%= status_reason %></b>
        	<ticketstatuss>
        	<b><%= @ticket.status %></b>
          </ticketstatuss><br>
          <h1><%= @ticket.ticket.name %><br></h1>
          <ntext>
          <%= @ticket.ticket.mcategory.name %>
          </ntext>
          <br>
          <%= showImage2(:medium, @ticket.user, true) %>
          <%= @ticket.user.name + " " + @ticket.user.lastname %><br>
          <br>
          <b><%= @ticket.ticket.msponsor.mobject.name %></b><br>
          <%= @ticket.ticket.msponsor.mobject.date_from.strftime("%d.%m.%Y") + " - " + @ticket.ticket.msponsor.mobject.date_to.strftime("%d.%m.%Y")  %><br>
          <%= link_to @ticket.ticket.msponsor.mobject do %>
            <%= showFirstImage2(:medium, @ticket.ticket.msponsor.mobject, @ticket.ticket.msponsor.mobject.mdetails) %><br>
          <% end %>
    		<% case @ticket.status %>
    		  <% when "aktiv", "persönlich", "übergeben" %>
              <%= link_to home_index1_path :userticket_id => @ticket.id, :status => "einlösen" do %>
                <i class="btn btn-primary btn btn-lg glyphicon glyphicon-shopping-cart"> einlösen</i>
              <% end %>
  
            <% else %>
              <%= link_to home_index1_path :userticket_id => @ticket.id, :status => "reaktivieren" do %>
                <i class="btn btn-primary btn btn-lg glyphicon glyphicon-shopping-cart"> reaktivieren</i>
              <% end %>
            
          <% end %>
          <br><br>
      </div>
    </div>
   </div>
<% else %>
  <h1>Ticket ungültig</h1>
<% end %>