<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_position.user_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @user_position.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @user_position.longitude %>
</p>

<p>
  <strong>Geo address:</strong>
  <%= @user_position.geo_address %>
</p>

<%= link_to 'Edit', edit_user_position_path(@user_position) %> |
<%= link_to 'Back', user_positions_path %>
