

    <%= form_for @answer do |f| %>

        <% if @answer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@answer.errors.count, "error") + " " + (I18n.t :notsaved) %></h2>
              <ul>
                  <% @answer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                      <%= (I18n.t :antwort) + " " + @answer.question.name %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <% case @answer.question.mcategory.name.upcase %>
                      <% when "multiple".upcase, "single".upcase %>
                        <div class="form-group">
                          <%= f.label (I18n.t :antwortoption) %>
                          <%= f.text_field :name, class:"form-control"%>
                        </div>
                    <% end %>
                    <%= f.hidden_field :question_id, class:"form-control" %>
                    <div class="actions">
                      <%= f.submit (I18n.t :speichern),  class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
