
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
        <%= link_to home_index_path do %>
          <i class="btn btn-primary glyphicon glyphicon-list"></i>
        <% end %>
         KUNDENINFORMATION
        <span class="badge"><%= @paranz %></span>
        </li_header>
      </div>
    </div>
  </div>
  <br>
  
  <div class="row">
    <div class="col-md-12">
      <div class="digg_pagination">
          <%= will_paginate @partners, :container => false, previous_label: "<", next_label: ">" %>
      </div>
  </div>

  <% @partners.each do |p| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="thumbnail" align="center">
          <div class="caption">
            <br>
    			  <anzeigetext>
    					<%= p.name %><br><br>
    				</anzeigetext>
    				<%= link_to p do %>
              <% if p.avatar!= nil %>
                  <%= image_tag p.avatar(:medium), class:"img-rounded" %>
              <% else %>
                  <%= image_tag("company_a.jpg", size:"200x200", class:"img-rounded") %>
        			<% end %>
        		<% end %>
      			<br><br>
            <ntext>
            <%= link_to url_with_protocol(p.homepage), :target => '_blank' do %>
              <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(p.homepage) %>
            <% end %>
            <br><br>
            </ntext>
            <% if user_signed_in? %>
              <% @customer = Customer.where("user_id=? AND company_id=?", current_user.id, p.id).first %>
              <% if @customer == nil %>
                <%= link_to new_customer_path :company_id => p.id, :user_id => current_user.id do %>
                  <i class="btn btn-primary btn btn-lg glyphicon glyphicon-pencil"></i>
                <% end %>
              <% else %>
                <%= link_to accounts_path :customer_id => @customer.id do %>
                  <i class="btn btn-primary btn btn-lg glyphicon glyphicon-book"></i>
                <% end %>
                <%= link_to edit_customer_path(@customer) do %>
                  <i class="btn btn-primary btn btn-lg glyphicon glyphicon-wrench"></i>
                <% end %>
      	        <%= link_to @customer, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger btn-lg glyphicon glyphicon-trash"></i>
                <% end %>
              <% end %>
            <% end %>
    		</div>
    	</div>
		</div>
  <% end %>
