
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <% case @mobject.mtype %>
            <% when "Angebote" %>
              <%= link_to(mobject_path(:id => @mobject.id, :topic => "Ansprechpartner")) do %>
                <i class="btn btn-primary glyphicon glyphicon-list"></i>
              <% end %>
            <% when "Projekte" %>
              <%= link_to(mobject_path(:id => @mobject.id, :topic => "Berechtigungen")) do %>
                <i class="btn btn-primary glyphicon glyphicon-list"></i>
              <% end %>
            <% end %>
            <%= will_paginate @users, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <% case @mobject.mtype %>
        <% when "Angebote" %>
          <%= header("Ansprechpartner " + @mobject.name + "<span class='badge'>" + @adpanz.to_s + "</span>", true) %>
        <% when "Projekte" %>
          <%= header("Zugriffsberechtigungen für " + @mobject.name + "<span class='badge'>" + @adpanz.to_s + "</span>", true) %>
      <% end %>
  </div>
  
	<div class="row">
    <div class="col-md-12">
  		<table class="table table-striped">
        <thead>
          <tr>
            <th colspan=2>Status</th>
            <th colspan=3>Person</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td>
                <% found = false %>
                <% grade = nil %>
                <% for i in 0..@array.length-1 %>
                  <% if @array[i]["key"].to_i == u.id %>
                    <% found = true %>
                    <% grade = @array[i]["grade"] %>
                  <% end %>
                <% end %>
                <% case @mobject.mtype %>
                  <% when "Angebote" %>
                    <%= link_to madvisors_path :senior_madvisor_id => u.id, :page => session[:page], :mobject_id => @mobject.id do %>
                      <i class="btn btn-primary glyphicon glyphicon-tags"></i>
                    <% end %>
                    <%= link_to madvisors_path :madvisor_id => u.id, :page => session[:page], :mobject_id => @mobject.id do %>
                      <i class="btn btn-primary glyphicon glyphicon-tag"></i>
                    <% end %>
                    <% if grade %>
                      <%= link_to madvisors_path :delete_madvisor_id => u.id, :page => session[:page], :mobject_id => @mobject.id do %>
                        <i class="btn btn-danger glyphicon glyphicon-remove-sign"></i>
                      <% end %>
                    <% end %>
                  <% when "Projekte" %>
                    <% if !grade %>
                      <%= link_to madvisors_path :senior_madvisor_id => u.id, :page => session[:page], :mobject_id => @mobject.id  do %>
                        <i class="btn btn-primary glyphicon glyphicon-king"></i>
                      <% end %>
                      <%= link_to madvisors_path :madvisor_id => u.id, :page => session[:page], :mobject_id => @mobject.id  do %>
                        <i class="btn btn-primary glyphicon glyphicon-pawn"></i>
                      <% end %>
                    <% else %>
                      <%= link_to madvisors_path :delete_madvisor_id => u.id, :page => session[:page], :mobject_id => @mobject.id do %>
                        <i class="btn btn-danger glyphicon glyphicon-remove-sign"></i>
                      <% end %>
                    <% end %>
                <% end %>
              </td>
              <td>
                <% if grade %>
                    <berater><%= grade %></berater>
                <% end %>
              </td>
              <td>
                <% if u.avatar_file_name == nil %>
                  <%= image_tag("user_a.png", :size => "50x50", class:"img-rounded" ) %>
                <% else %>
                  <%= image_tag u.avatar(:small), class:"img-rounded"  %>
                <% end %>
              </td>
              <td>
                <%= u.name + " " + u.lastname %>            
              </td>
              <td>
                <%= u.email %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
