
	<div class="row">
    <div class="col-xs-12">
      <div class="panel-body">
        <%= link_to mobject_path(:id => @msponsor.mobject_id, :topic => "Sponsorenengagements") do %>
          <i class="btn btn-primary glyphicon glyphicon-list"></i>
        <% end %>
  	    <% if user_signed_in? %>
  	      <% if current_user.id == @msponsor.company.user_id %>
  	        <%= link_to new_ticket_path :msponsor_id => @msponsor.id do %>
  	          <i class="btn btn-primary glyphicon glyphicon-plus"></i>
  	        <% end %>
  	       <% end %>
  	    <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <%= header("Tickets für " + @msponsor.mobject.name + " " + @msponsor.company.name + " <span class='badge'>" + @ticanz.to_s + "</span>", true) %>
  </div>
  <br>
   
  <div class="panel-body">
  <% ticketcount = 0 %>
  <% @anz_s = [5] %>
  <% for i in 0..4 %>
    <% @anz_s[i] = "" %>
  <% end %>
  <% i = 0 %>
  <% @tickets.each do |t| %>
  
    <% @stats = UserTicket.select("status as label, count(status) as value").where('ticket_id = ?', t).group("status") %>
    <% @stats.to_s %>
    <% @stats.each do |s| %>
      <% @anz_s[i] = @anz_s[i] + "['" + s.label + "', " + s.value.to_s + "]," %>
    <% end %>
    <% @anz_s[i] = @anz_s[i][0, @anz_s[i].length - 1] %>
    
    <div class="col-xs=12 col-sm-6 col-md-6 col-lg-6">
      <div class="thumbnail" align="center">
        <br>
        <% ticketcount = 0 %>
        <% if t.contingent != nil %>
          <% ticketcount = t.contingent %>
          <% ut = t.user_tickets.count %>
          <% if ut > 0 %>
            <% ticketcount = t.contingent - ut %>
          <% end %>
        <% end %>
        <p>
        <ntext>noch <restlaufzeit><%= ticketcount %></restlaufzeit> von </ntext><restlaufzeit><%= t.contingent %></restlaufzeit><br><ntext> Tickets (Kontingent)</ntext> 
        </p>
        <% i=i+1 %>
        <% pie = "piechart"+i.to_s %>
        <div id="<%= pie %>"></div>
        <ntext>
        <anzeigetext>
          <%= t.mcategory.name %><br>
					<%= t.name %>
					<br>
				</anzeigetext><br>
        <b>Veranstaltung</b><br>
        <%= @msponsor.mobject.name %><br>
        <%= @msponsor.mobject.date_from.strftime("%d.%m.%Y") + " - " + @msponsor.mobject.date_to.strftime("%d.%m.%Y")  %><br>
        <br>
        <%= showFirstImage2(:medium, @msponsor.mobject, @msponsor.mobject.mdetails) %>
        <br>
        <b>überreicht von</b>
        <%= showImage2(:small, @msponsor.company, true) %>
        <%= @msponsor.company.name %>
        </ntext>
        <div class="caption">
            <ntext>
  				  <%= t.description %>
            </ntext>
  			</div>
        <ntext>
  		  <%= t.created_at.strftime("%d.%b.%Y %H:%M Uhr") %>
  		  <% if t.created_at.to_date == Date.today %>
  		    Heute
  		  <% end %>
  		  <% if (Date.today - t.created_at.to_date) == 1 %>
  		    Gestern
  		  <% end %>
  		  <% if Date.today - t.created_at.to_date > 1 %>
          <% anz = (Date.today.to_date - t.created_at.to_date).to_i %>
          Vor <%= anz %> Tagen
  		  <% end %>
        </ntext>    		  
        </p>
  			<p>
        <% @search_anz = Search.where('ticket_id=?',t.id).count %>
        <%= link_to searches_path :search_domain => "Tickets", :controller_name => controller_name, :ticket_id => t.id do %>
          <i class="btn btn-primary glyphicon glyphicon-filter">
          <span class="badge"><%= @search_anz %></span></i>
        <% end %>
        <%= link_to edit_ticket_path(t) do %>
          <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
        <% end %>
        <%= link_to t, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="btn btn-danger glyphicon glyphicon-trash"></i>
        <% end %>
  		</div>
		</div>
  <% end %>
  </div>

<script type="text/javascript" 
  src="https://www.gstatic.com/charts/loader.js">
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Anzahl'],
      <%= raw @anz_s[0] %>
    ]);

    var options = {
      title: 'Aktivitätenübersicht',
      pieHole: 0.4
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart1'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Anzahl'],
      <%= raw @anz_s[1] %>
    ]);

    var options = {
      title: 'Aktivitätenübersicht',
      pieHole: 0.4
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart2'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Anzahl'],
      <%= raw @anz_s[2] %>
    ]);

    var options = {
      title: 'Aktivitätenübersicht',
      pieHole: 0.4
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart3'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Anzahl'],
      <%= raw @anz_s[3] %>
    ]);

    var options = {
      title: 'Aktivitätenübersicht',
      pieHole: 0.4
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart4'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Status', 'Anzahl'],
      <%= raw @anz_s[4] %>
    ]);

    var options = {
      title: 'Aktivitätenübersicht',
      pieHole: 0.4
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart5'));

    chart.draw(data, options);
  }
</script>

<script>
  document.addEventListener("turbolinks:load", function() {})
</script>
