<p id="notice"><%= notice %></p>

<p>
  <strong>Sponsor:</strong>
  <%= @ticket.sponsor_id %>
</p>

<p>
  <strong>Ticket category:</strong>
  <%= @ticket.ticket_category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @ticket.amount %>
</p>

<p>
  <strong>Contingent:</strong>
  <%= @ticket.contingent %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
