<% if false %>    

	<div class="row">
    <div class="col-md-12">
      <div class="panel-body">
        <%= link_to showcal_index_path(:page => session[:page], :dir => "<", :mtype => @mtype, :msubtype => @msubtype) do %>
          <i class="btn btn-primary glyphicon glyphicon-arrow-left"></i>
        <% end %>
        <%= link_to showcal_index_path(:page => session[:page], :dir => ">", :mtype => @mtype, :msubtype => @msubtype) do %>
          <i class="btn btn-primary glyphicon glyphicon-arrow-right"></i>
        <% end %>
      </div>
    </div>
  </div>



  <div class="row">
      <%= header("Kalenderwoche " + session[:cw].to_s + " " + @mtype + " " + @msubtype.to_s + "<span class='badge'>" + @mobanz.to_s + "</span>", true) %>
      <br><%= @info %>
  </div>


	<div class="row">
    <div class="col-md-12">
      <div class="panel-body">
    		<table class="table table-striped">
          <thead>
            <tr>
              <td colspan="12">
                <div class="digg_pagination">
                  <%= will_paginate @mobjects, :container => false, previous_label: "<", next_label: ">" %>
                </div>	  
              </td>
            </tr>
            <tr>
              <th>Aktion</th>
              <% for i in 0..6 %>
                    <% if @start+i == Date.today %>
                      <th class="color_today">
                    <% else %>
                      <th>
                    <% end %>
                    <%= $wochentage[i] %><br>
                    <small_cal>
                      <%= (@start+i).strftime("%d.%m") %>
                    </small_cal>
                  </th>
              <% end %>
            </tr>
          </thead>
          
          <tbody>
            <% @mobjects.each do |e| %>
              <tr>
                <td>
                  <list>
                  <% if e.sum_rating and e.sum_rating >0 %>
                    <% e.sum_rating.times.to_i do %>
                      <i class="glyphicon glyphicon-star"></i>
                    <% end %><br>
                  <% end %>
                  <%= showFirstImage2(:small, e, e.mdetails) %>
                  <%= e.name %>
                  </list>  
                </td>
                <% for i in 0..6 %>
                    <% if AktionDatum2(@start+i,e) %>
                      <td class="blocked">
                    <% else %>
                      <td class="free">
                    <% end %>
                    </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>  

  <% if false %>
  <div class="row">
    <%= header("Kalender " + "<span class='badge'>" + @anz.to_s + "</span>", true) %>
  </div>
  <% end %>
  
  <div class="row">
    <header>
    <%= header("<queryshow><i class='glyphicon glyphicon-filter'></i></queryshow> Kalender " + @domain + " <span class='badge'>" + @anz.to_s + "</span><queryhide><i class='glyphicon glyphicon-menu-up pull-right'></i></queryhide>", true) %>
    <query>
      <% if user_signed_in? and @domain != "Geburtstage" %>
        <div class='col-xs-12'>
             <div class="panel-body">
          	    <%= link_to new_search_path(:user_id => current_user.id, :search_domain => @domain, :controller_name => @controller_name) do %>
                    <i class="btn btn-primary glyphicon glyphicon-plus"></i>
                <% end %>
             </div>
             <% @searches = Search.where('search_domain=? and user_id=? and mtype=?', "Objekte", current_user.id, @domain) %>
             <%= build_medialist2(@searches, "searches", @domain) %>
        </div>
      <% end %>
    </query>
    </header>
  </div>

  <% if false %>
  <%= form_for showcal_index_path, method: 'get' do |f| %>
    <% if user_signed_in? %>
      <%= f.select :domain, options_for_select([ "Geburtstage Favoriten", "Aktionen", "Ausschreibungen", "Veranstaltungen", "Stellenanzeigen", "Crowdfunding" ], @test), {}, class:"form-control" ,:onchange => "this.form.submit();" %>
    <% else %>
      <%= f.select :domain, options_for_select([ "Aktionen", "Ausschreibungen", "Veranstaltungen", "Stellenanzeigen", "Crowdfunding" ], @test), {}, class:"form-control" ,:onchange => "this.form.submit();" %>
    <% end %>
    <div class="actions">
       <%= f.submit "Kalender",  class:"btn btn-primary"%>
    </div>
  <% end %>
  <% end %>
  
  <div id='calendar'></div>

  <div class="row">
    <div class="col-md-12">
	    <div class="panel-body">
          <i class="glyphicon glyphicon-map-marker pull-left" onclick="return initialize();"></i>
        <div id="map">
        </div>
      </div>
    </div>
  </div>

<% raw @array %>

<script>
$(document).ready(function() {
  
    $("query").hide();
    $("queryhide").hide();
    $("queryhide").hide();

    $("queryshow").mouseover(function(){
        $("query").show();
        $("queryshow").hide();
        $("queryhide").show();

    });
    
    $("queryhide").mouseover(function(){
        $("query").hide();
        $("queryshow").show();
        $("queryhide").hide();
    });

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'month',
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]


    })

});
</script>

<script>
function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = <%= raw @locs %>;
    var infoWindowContent = <%= raw @wins %>;
    
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(10);
        google.maps.event.removeListener(boundsListener);
    });
    
}
</script>

<script>
$(window).load(function(){ initialize() })
</script>

<script>
  document.addEventListener("turbolinks:load", function() {initialize();})
</script>
