  <div class="row">
      <%= header("Institutionen " + "<span class='badge'>" + @companz.to_s + "</span>", true) %>
  </div>
  
    <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
    		    <!--<% if user_signed_in? %>-->
      		  <!--      <%= link_to searches_path :search_domain => "Institutionen", :controller_name => controller_name do %>-->
      		  <!--        <i class="btn btn-primary btn-xs glyphicon glyphicon-filter"></i>-->
      		  <!--      <% end %>-->
    		    <!--<% end %>-->
            <%= will_paginate @companies, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <% if false %>
  <%= build_medialist("col-sm-6 col-md-4 col-lg-3",@companies,"companies", true) %>
  <% end %>
  
  <%= build_medialist2(@companies,"companies",nil) %>

  <div class="panel-body">
    <div class="row">
      <i class="glyphicon glyphicon-map-marker pull-left" onclick="return initialize();"></i>
      <div class="col-md-12">
          <div id="map2"></div>
      </div>
    </div>
  </div>


<script>
function initialize() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map2"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = <%= raw @locs %>;
    var infoWindowContent = <%= raw @wins %>;
    
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(10);
        google.maps.event.removeListener(boundsListener);
    });
}
</script>

<script>
  document.addEventListener("turbolinks:load", function() {initialize();})
</script>
