
  <div class="row">
    <header>
    <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + @company.name + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
    <nav>
      <div class='col-xs-12'>
          <%= navigate("institutionen", @company) %>
      </div>
    </nav>
    </header>
  </div>
  
  <div class="row">
      <div class='col-xs-12'>

      <%= header3("institutionen", @company, @topic, false) %>
      
       <% case @topic %>
        <% when "institutionen_info" %>
        
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <%= header((I18n.t :adresse), false) %>
              <div class="panel-body">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                   <% case @company.status %>
                      <% when "CHECK" %>
                        <i class="glyphicon glyphicon-question-sign"></i>
                      <% when "OK" %>
                        <i class="glyphicon glyphicon-ok-circle"></i>
                      <% when "NOK" %>
                        <i class="glyphicon glyphicon-ban-circle"></i>
                    <% end %>
                    <b><%= (I18n.t :status) %></b>
                    <br>
                    <%= showImage2(:medium, @company, true) %>
                    <br>
                    <b><i class="glyphicon glyphicon-folder-open"></i><%= (I18n.t :branche) %></b><br>
                    <%= @company.mcategory.name %>
                    <br><br>
                    <b><i class="glyphicon glyphicon-home"></i><%= (I18n.t :adresse) %></b><br>
                    <% if @company.address1 and @company.address1 != "" %>
                      <%= @company.address1 %><br> 
                    <% end %>
                    <% if @company.address2 and @company.address2 != "" %>
                      <%= @company.address2 %><br> 
                    <% end %>
                    <% if @company.address3 and @company.address3 != "" %>
                      <%= @company.address3 %><br> 
                    <% end %>
                    <br>
                    <b><%= (I18n.t :verantwortlich) %></b><br>
                    <%= showImage2(:small, @company.user, true) %>
                    <br>
                    <%= @company.user.name + " " + @company.user.lastname %>
                    <br>
                    <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite><br>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
                  <div id="map">
                    <div id="map-canvas"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <%= header((I18n.t :aktivitaeten), false) %>
              <div class="panel-body">
                <% if $activeapps.include?("institutionenaktivitaeten") or (user_signed_in? and current_user.superuser) %>
                    <i class="glyphicon glyphicon-map-marker pull-left" onclick="return drawChart();"></i>
                    <div id="piechart"></div>
                <% end %>
              </div>
            </div>
          </div>

        <% when "institutionen_projekte" %>
          <%= build_medialist2(@company.mobjects.where('mtype=? and parent=?',"projekte",0), "mobjects", nil) %>

        <% when "institutionen_kampagnen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"kampagnen"),"mobjects", nil) %>

        <% when "institutionen_standorte" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"standorte"), "mobjects", nil) %>

        <% when "institutionen_sensoren" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"sensoren"), "mobjects", nil) %>

        <% when "institutionen_partnerlinks" %>
          <div class="panel-body">
            <% @company.partner_links.each do |pl| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <anzeigetext>
                      <%= pl.name %><br>
                    </anzeigetext>
                    <ntext>
                    <%= pl.link %>
                    </ntext>
                    <ntext>
                    <%= align_text(pl.description) %>
                    </ntext>
                    <br>
                    <%= showImage2(:medium, pl, false) %>
                    <br>
                    <% if user_signed_in? %>
                      <% if current_user.id == @company.user_id %>
                        <% if @company.partner %>
                          <%= link_to edit_partner_link_path(pl) do %>
                            <i class="btn btn-primary glyphicon glyphicon-wrench"></i>
                          <% end %>
                          <%= link_to pl, method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                            <i class="btn btn-danger glyphicon glyphicon-trash"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <br><br>
                  </div>
                 </div>
            <% end %>
          </div>
          
        <!--########################################################################################################################-->
        <!--# inactive code-->
        <!--########################################################################################################################-->
        <% when "institutionen_angebote" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"angebote"), "mobjects", nil) %>
        <% when "institutionen_stellenanzeigen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"stellenanzeigen"), "mobjects", nil) %>
        <% when "institutionen_kleinanzeigen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"kleinanzeigen"), "mobjects", nil) %>
        <% when "institutionen_vermietungen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"vermietungen"), "mobjectss", nil) %>
        <% when "institutionen_veranstaltungen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"veranstaltungen"), "mobjects", nil) %>
        <% when "institutionen_sponsorenengagements" %>
          <%= build_medialist2(@company.msponsors, "msponsors", "objekte") %>
        <% when "institutionen_ausflugsziele" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"ausflugsziele"), "mobjects", nil) %>
        <% when "institutionen_ausschreibungen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"ausschreibungen"), "mobjects", nil) %>
        <% when "institutionen_crowdfunding" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"crowdfunding"), "mobjects", nil) %>
        <% when "institutionen_crowdfundingbeitraege" %>
          <%= build_medialist2(@company.mstats, "mstats", nil) %>
        <% when "institutionen_innovationswettbewerbe" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"innovationswettbewerbe"), "mobjects", nil) %>
        <% when "institutionen_umfragen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"umfragen"), "mobjects", nil) %>
        <% when "institutionen_publikationen" %>
          <%= build_medialist2(@company.mobjects.where('mtype=?',"publikationen"), "mobjects", nil) %>
        <% when "institutionen_stellvertretungen" %>
          <%= build_medialist2(@company.deputies, "deputies", nil) %>

    	 <% when "institutionen_charges" %>
    	    <% if false %>
          <%= build_medialist2(@company.charges, "charges", nil) %>
          <br><br>
          <% end %>
          <%= build_medialist2(Appparam.where('info=?', "payable"), "appparams", "company") %>
          <br><br>

    	 <% when "institutionen_kundenbeziehungen" %>
          <% hash = Hash.new %>
          <% hash = {:company_id => @company.id} %>
          <div class="panel-body">
            <%= build_medialist2(@company.customers, "partners", hash) %>
          </div>
          <div class="panel-body">
            <%= build_medialist2(Company.where('partner=?',true), "nopartners", hash) %>
          </div>
        <% when "institutionen_transaktionen" %>
          <div class="panel-body">
            <%= build_medialist2(@company.transactions, "transactions", hash) %>
          </div>
          
        <% when "institutionen_emails" %>
          <div class="panel-body">
            <% emails = Email.where('m_to=? or m_from=?', @company.user.id, @company.user.id).order(created_at: :desc) %>
            <% emails.each do |e| %>
              <% if e.m_to == @company.user.id %>
                <% @u = User.find(e.m_from) %>
                <%= showImage2(:small, @u, true) if @u %>
              <% end %>
              <% if e.m_from == @company.user.id %>
                <% @u = User.find(e.m_to) %>
                <%= showImage2(:small, @u, true) if @u %>
              <% end %>
              <%= e.header + e.body %><br>
            <% end %>
          </div>

      <% end %>
    </div>
    
  </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% if @topic == "institutionen_info" %>
  <script type="text/javascript">

    var latitudes = [<%= @company.latitude %>];
    var longitudes = [<%= @company.longitude %>];
    function init_map(index) {
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),mapOptions);
        marker.setMap(map);
    }

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= raw @stats %>);
      var options = {
        title: "<%= (I18n.t :aktivitaeten) %>",
        pieHole: 0.4,
        height: 600,
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    };
  
  </script>
<% end %>

<script>
$(document).ready(function(){
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();

    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();

    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });

    $("a").tooltip();
    
});
</script>

<script>
<% case @topic %>
  <% when "institutionen_info" %>
      document.addEventListener("turbolinks:load", function() {init_map(0); drawChart();})

<% end %>
</script>