<p id="notice"><%= notice %></p>

<p>
  <strong>Idea:</strong>
  <%= @idea_crowdrating.idea_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @idea_crowdrating.user_id %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @idea_crowdrating.rating %>
</p>

<p>
  <strong>Rating text:</strong>
  <%= @idea_crowdrating.rating_text %>
</p>

<%= link_to 'Edit', edit_idea_crowdrating_path(@idea_crowdrating) %> |
<%= link_to 'Back', idea_crowdratings_path %>
