  <div class="row">
    <header>
    <%= header("<queryshow><i class='glyphicon glyphicon-filter', style='font-size:2em'></i></queryshow> " + @mtype.to_s + " " + @msubtype.to_s + " " + @filter_id.to_s + " " + @search.to_s + "<span class='badge'>" + @mobanz.to_s + "</span><queryhide><i class='glyphicon glyphicon-menu-up pull-right'></i></queryhide>", true) %>
    <query>
      <% if user_signed_in? %>
      <div class='col-xs-12'>
        <div class="panel-body">
  		    <%= link_to new_search_path(:user_id => current_user.id, :search_domain => "objekte", :controller_name => @controller_name, :mtype => @mtype, :msubtype => @msubtype) do %>
            <i class="btn btn-primary glyphicon glyphicon-plus"></i>
          <% end %>
			  </div>
        <% if @msubtype %>
          <% @searches = Search.where('search_domain=? and user_id=? and mtype=? and msubtype=?', "objekte", current_user.id, @mtype, @msubtype) %>
        <% else %>
          <% if @mtype %>
            <% @searches = Search.where('search_domain=? and user_id=? and mtype=?', "objekte", current_user.id, @mtype) %>
          <% end %>
        <% end %>
        <%= build_medialist2(@searches, "searches", nil) %>
      </div>
    <% end %>
    </query>
    </header>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @mobjects, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <%= build_medialist2(@mobjects, "mobjects", session[:edition_id]) %>
  
  <div class="panel-body">
    <div class="row">
      <i class="glyphicon glyphicon-map-marker pull-left" onclick="return initMap();"></i>
      <div class="col-md-12">
          <div id="map"></div>
      </div>
    </div>
  </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
  google.charts.load('current', {'packages':['gauge']});
  <% case @mtype %>
    <% when "sensoren" %>
        <% no = 0 %>
        <% @mobjects.each do |m| %>
          <% if m.sensors.last %>
            <% dat = m.sensors.last.created_at.strftime("%m.%d.%Y-%H:%m") %>
            <% wert = m.sensors.last.value %>
            <% if m.mini %>
              <% min = m.mini %>
            <% else %>
              <% mini = 0 %>
            <% end %>
            <% if m.maxi %>
              <% max = m.maxi %>
            <% else %>
              <% max = 100 %>
            <% end %>
            <% if m.alert %>
              <% alert = m.alert %>
            <% else %>
              <% alert = 80 %>
            <% end %>
          <% else %>
            <% dat = "nodata" %>
            <% wert = 0 %>
            <% min = 0 %>
            <% max = 100 %>
            <% alert = 80 %>
          <% end %>

          <% if !m.alertlow %>
            <% redf = alert %>
            <% redt = max %>
            <% diff = alert - min %>
            <% yellowf = (alert - (diff * 0.2).to_i) %>
            <% yellowt = alert %>
            <% greenf = min %>
            <% greent = yellowf %>
          <% else %>
            <% redf = min %>
            <% redt = alert %>
            <% diff = max - alert %>
            <% yellowf = redt %>
            <% yellowt = (alert + (diff * 0.2)).to_i %>
            <% greenf = yellowt %>
            <% greent = max %>
          <% end %>

          <% @data = [["Datum", "Wert"],[dat,wert]] %>
          google.charts.setOnLoadCallback(drawsensor<%= no %>);
          function drawsensor<%= no %>() {
            var data = google.visualization.arrayToDataTable(<%= raw @data %>);
            var options = {
              min: <%= min %>,
              max: <%= max %>,
              redFrom: <%= redf %>, redTo: <%= redt %>,
              yellowFrom: <%= yellowf %>, yellowTo: <%= yellowt %>,
              greenFrom: <%= greenf %>, greenTo: <%= greent %>,
              minorTicks: 5
            };
            var chart = new google.visualization.Gauge(document.getElementById("sensorchart<%= no %>"));
            chart.draw(data, options);
          };
          <% no = no + 1 %>
        <% end %>

  <% end %>
</script>

<script>
function initMap() {
    var map;
    var bounds = new google.maps.LatLngBounds();
    var mapOptions = {
        mapTypeId: 'roadmap'
    };
                    
    // Display a map on the page
    map = new google.maps.Map(document.getElementById("map"), mapOptions);
    map.setTilt(45);
        
    // Multiple Markers
    var markers = <%= raw @locs %>;
    var infoWindowContent = <%= raw @wins %>;
    
    // Display multiple markers on a map
    var infoWindow = new google.maps.InfoWindow(), marker, i;
    
    // Loop through our array of markers & place each one on the map  
    for( i = 0; i < markers.length; i++ ) {
        var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
        bounds.extend(position);
        marker = new google.maps.Marker({
            position: position,
            map: map,
            title: markers[i][0]
        });
        
        // Allow each marker to have an info window    
        google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                infoWindow.setContent(infoWindowContent[i][0]);
                infoWindow.open(map, marker);
            }
        })(marker, i));

        // Automatically center the map fitting all markers on the screen
        map.fitBounds(bounds);
    }

    // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
    var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
        this.setZoom(10);
        google.maps.event.removeListener(boundsListener);
    });
    
}
</script>

<% if true %>
<script>
  document.addEventListener("turbolinks:load", function() {initMap();})
</script>
<% end %>

<script>
$(document).ready(function(){
    $("query").hide();
    $("queryhide").hide();
    $("queryhide").hide();

    $("queryshow").mouseover(function(){
        $("query").show();
        $("queryshow").hide();
        $("queryhide").show();

    });
    
    $("queryhide").mouseover(function(){
        $("query").hide();
        $("queryshow").show();
        $("queryhide").hide();
    });
  
});
</script>

