  <% if @edition_id %>
    <div class="row">
      <action>
        <% @edition = Edition.find(@edition_id) %>
        <%= action_buttons2("Edition", @edition, "Info") %>
      </action> 
    </div>
  <% end %>

  <div class="row">
    <header>
    <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + (I18n.t @mobject.mtype) + " " + @mobject.msubtype.to_s + " " + @mobject.name + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
    <nav>
      <div class='col-xs-12'>
          <%= navigate(:objekte, @mobject) %>
      </div>
    </nav>
    </header>
  </div>
  
  
  <div class="row">
      <div class='col-xs-12'>
        
      <%= header3(:objekte, @mobject, @topic, false) %>

      <% case @topic %>
        <% when :info %>

          <div class="panel-body">
            
              <% if @mobject.mtype != "artikel" %>
               <% case @mobject.status %>
                  <% when "CHECK" %>
                    <i class="glyphicon glyphicon-question-sign"></i>
                  <% when "OK" %>
                    <i class="glyphicon glyphicon-ok-circle"></i>
                  <% when "NOK" %>
                    <i class="glyphicon glyphicon-ban-circle"></i>
                <% end %>
                <b> <%= I18n.t :status %></b>
                <br>
                <%= carousel2(@mobject, :medium) %>
                <br><br>
                <% case @mobject.msubtype %>
                  <% when "spenden" %>
                    <b><%= I18n.t :spendenziel %></b><br>
                    <%= sprintf("%05.2f CHF", @mobject.amount) %>
                    <br>
                  <% when "belohnungen" %>
                    <b><%= I18n.t :projektziel %></b><br>
                    <%= sprintf("%05.2f CHF", @mobject.amount) %>
                    <br><br>
                    <b><%= I18n.t :stueckelung %></b><br>
                    <%= sprintf("%05.2f CHF", @mobject.price) %>
                    <br><br>
                    <b><%= I18n.t :belohnung %></b><br>
                    <%= @mobject.reward %>
                    <br>
                  <% when "zinsen" %>
                    <b><%= I18n.t :kreditsumme %></b><br>
                    <%= sprintf("%05.2f CHF", @mobject.amount) %>
                    <br><br>
                    <b><%= I18n.t :zinssatz %></b><br>
                    <%= @mobject.interest_rate %>%
                    <br><br>
                    <%= I18n.t :rueckzahlung %> <%= @mobject.due_date.strftime("%d.%m.%Y") %>
                    <br>
                <% end %>
                <br>
                <% if @mobject.mtype == "crowdfunding" %>
                
                  <% if @mobject.mtype == "Crowdfunding" and @mobject.sum_amount and @mobject.sum_amount >= @mobject.amount %>
                    <%= render("mobjects/form_crowdfunding_service") %>
                  <% end %>
                
                  <% soll = @mobject.amount %>
                  <% if @mobject.mtype == "crowdfunding" %>
                    <% if @mobject.mstats != nil %>
                      <% ist  = @mobject.mstats.sum(:amount) %>
                    <% else %>
                      <% ist = 0 %>
                    <% end %>
                    <b>Betrag</b><br>
                  <% end %>
                  <% if !ist %>
                    <% ist = 0 %>
                  <% end %>
                  <% if !soll %>
                    <% soll = 0 %>
                  <% end %>
                  <%= sprintf("%05.2f CHF", ist) %>
                  <br><br>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
      
        				  <% if @mobject.price %>
                    <preiss><b><%= sprintf("%05.2f"+(I18n.t :waehrung), @mobject.price) %></b></preiss>
        					<% else %>
                    <% if @mobject.social %>
                      <preiss><b><i class='glyphicon glyphicon-heart'></i></b></preiss>
                    <% end %>
        					<% end %>
                  <br><br>
                <% end %>
                
                <% case @mobject.mtype %>
                   <% when "angebote", "veranstaltungen", "ausschreibungen", "crowdfunding", "umfragen", "projekte" %>

                    <% if @mobject.mtype == "umfragen" %>
                    
                      <% useranswers = [] %>
                      <% @mobject.questions.each do |q| %>
                        <% q.answers.each do |a| %>
                          <% a.user_answers.each do |u| %>
                            <% if !useranswers.include?(u.user_id) %>
                              <% useranswers << u.user_id %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                      
                      <div class="row">
                        <div class='col-xs-12'>
                          <div class='panel-heading header'>
                            <li_header> 
                              <%= "Anzahl Teilnehmer "+useranswers.count.to_s %>
                            </li_header>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                          <div>
                            <%= header("Antworten pro Frage", false) %>
                          </div>
                          <div id="chartq"></div>
                        </div>
 
                         <% @mobject.questions.each do |q| %>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div>
                              <%= header(( I18n.t :frage) +q.name, false) %>
                            </div>
                            <div id="<%="chart"+q.id.to_s %>"></div>
                          </div>
                        <% end %>
                      </div>
                      <br>
                    <% end %>
                    
                     <% if @mobject.msubtype == "standard" %>
                     <% else %>
                      <% if @mobject.msubtype == "aktion" %>
                        <b><%= I18n.t :price %></b><br>
                        <% if @mobject.price_new %> 
                          <%= sprintf("%05.2f"+(I18n.t :waehrung),@mobject.price_new) %> / 
                        <% end %>
                        <% if @mobject.price_reg  %>
                          <%= sprintf("%05.2f"+(I18n.t :waehrung),@mobject.price_reg) %><br>
                        <% end %>
                        <br>
                      <% end %>
                      <b><%= (I18n.t :datumvonbis) %></b><br>
                      <% if @mobject.date_from  %>
                        <%= @mobject.date_from.strftime("%d.%m.%Y") %>
                      <% end %>
                      <% if @mobject.date_to %>
                      - <%= @mobject.date_to.strftime("%d.%m.%Y") %>
                      <% end %>
                      <% if @mobject.date_from or @mobject.date_to %>
                        <br><br>
                      <% end %>
                      <% if @mobject.date_to != nil %>
                        <b><%= (I18n.t :laufzeit) %></b><br>
                        <b><ntext><%= (I18n.t :noch) %> </ntext></b><restlaufzeits><%= (@mobject.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeits> <b><ntext> <%= (I18n.t :tage) %></ntext></b>
                        <br>
                        <% soll = (@mobject.date_to.to_date - @mobject.date_from.to_date).to_i %>
                        <% ist = (DateTime.now.to_date - @mobject.date_from.to_date).to_i %>
                        <% if soll > 0 and ist > 0 %>
                        <div class="progress">
                          <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar2" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist*100/soll) %>%">
                            <span class="sr-only">40% Complete (success)</span>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                      <br>
                      <% if @mobject.mtype == "veranstaltungen" and @mobject.eventpart %>
                          </b><i class="glyphicon glyphicon-info-sign"></i> Anmeldung obligatorisch</b>
                       <% end %>
                      <% end %>
    
                   <% when "vermietungen" %>
                    <b><%= (I18n.t :mietzeiten) %></b><br>
                    von:<%= @mobject.time_from %> bis: <%= @mobject.time_to %> Uhr
                    <br><br>
                    <b><%= (I18n.t :standort) %></b><br>
                    <%= @mobject.address1 if @mobject.address1 %><br>
                    <%= @mobject.address2 if @mobject.address2 %><br>
                    <%= @mobject.address3 if @mobject.address3 %><br>
                    <br>
                    
                   <% when "projekte" %>
                    <%= header(:projekte, false) %>
                    <div class="panel-body">
                      <%= build_medialist2(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "user") %>
                    </div>
                    <br>

                  <% when "stellenanzeigen" %>
                      <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="thumbnail" align="center">
                            <anzeigetext>
                            <% if @mobject.msubtype == "anbieten" %>
                  						<%= (I18n.t :aufgaben) %>
                  					<% else %>
                  					  <%= (I18n.t :referenzen) %>
                  					<% end %>
                            </anzeigetext>
                            <p>
                              <ntext>
                  						<%= @mobject.tasks %>
                  						</ntext>
                  					</p>
                          </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="thumbnail" align="center">
                            <anzeigetext>
                              <%= (I18n.t :qualifikationen) %>
                            </anzeigetext>
                            <p>
                              <ntext>
                  						<%= @mobject.skills %>
                  						</ntext>
                  					</p>
                          </div>
                        </div>
                
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="thumbnail" align="center">
                            <anzeigetext>
                              <%= (I18n.t :jobangebot) %>
                            </anzeigetext>
                            <p>
                              <ntext>
                  						<%= @mobject.offers %>
                  						</ntext>
                  					</p>
                          </div>
                        </div>
                    </div>
                <% end %>
                
                <% if @mobject.mtype == "projekte" %>
                  <% ist = @mobject.sum_pkosten_ist %>
                  <% soll = @mobject.sum_pkosten_plan %>
                  <% if !ist %>
                    <% ist = 0 %>
                  <% end %>
                  <% if !soll %>
                    <% soll = 0 %>
                  <% end %>
                  <b><%= I18n.t :kosten %></b><br>
                  <b><ntext><%= I18n.t :noch %> </ntext></b><restlaufzeits><%= soll - ist %></restlaufzeits> <b><ntext> <%= I18n.t :waehrung %></ntext></b>
                  <br>
                  <% if soll > 0 %>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  <% end %>

                  <% ist = @mobject.sum_paufwand_ist.to_i %>
                  <% soll = @mobject.sum_paufwand_plan %>
                  <% if !ist %>
                    <% ist = 0 %>
                  <% end %>
                  <% if !soll %>
                    <% soll = 0 %>
                  <% end %>
                  <b><%= I18n.t :aufwand %></b><br>
                  <b><ntext><%= I18n.t :noch %> </ntext></b><restlaufzeits><%= soll - ist %></restlaufzeits> <b><ntext> <%= I18n.t :personentage %></ntext></b>
                  <br>
                  <% if soll > 0 %>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  <% end %>

                  <b><%= I18n.t :qualitaet %></b><br>
                  <div class="quality<%= @mobject.quality %>", style="font-size:4em">
                    <i class="glyphicon glyphicon-stop"></i>
                  </div>
                  <b><%= I18n.t :risiko %></b><br>
                  <div class="risk<%= @mobject.risk %>", style="font-size:4em">
                    <span><i class="glyphicon glyphicon-stop"></i></span>
                  </div>

                  <br>

                <% end %>
                
                <b><%= I18n.t :bewertung %></b><br>
                <% avg_rating2(@mobject.id).times do %>
                  <i class="glyphicon glyphicon-star"></i>
                <% end %>
                <br><br>
                
                <% if @mobject.social %>
                    <i class="glyphicon glyphicon-heart"></i> soziales Engagement
                <% end %>
                <br><br>
    
                <% if @mobject.homepage != nil %>
                  <b><%= I18n.t :homepage %></b><br>
                  <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
                    <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@mobject.homepage) %>
                  <% end %>
                  <br><br>
                <% end %>
                
                <% if @mobject.description %>
                  <b><%= I18n.t :beschreibung %></b><br>
            			<%= @mobject.description %>
                  <br><br>
                <% end %>
                <% if @mobject.mcategory_id %>
                  <b><%= I18n.t :kategorie %></b><br>
            			<%= @mobject.mcategory.name %>
                  <br><br>
                <% end %>
                <% if @mobject.homepage != nil %>
                  <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
                    <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@mobject.homepage) %>
                  <% end %>
                  <br><br>
                <% end %>

              <% else %>

                <br>
               	<%= build_article(@mobject) %>

              <% end %>

              <% if @mobject.mtype == "projekte" %>
                <%= header((I18n.t :projekte), false) %>
                <div class="panel-body">
                  <%= build_medialist2(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "user") %>
                </div>
                <br>
              <% end %>
            
              <% if @mobject.mtype == "gruppen" %>
                <%= header((I18n.t :gruppenmitglieder), false) %>
                <div class="panel-body">
                  <%= build_medialist2(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "user") %>
                </div>
                <br>
              <% end %>

              <b><%= I18n.t :verantwortlich %></b><br>
              <%= showImage2(:small, @mobject.owner, true) %><br>
              <% if @mobject.owner_type == "user" %>
                <%= @mobject.owner.name + " " + @mobject.owner.lastname %>
              <% end %>
              <% if @mobject.owner_type == "company" %>
                <%= @mobject.owner.name %>
              <% end %>
        			<br><br>
              <%= @mobject.created_at.strftime("%d.%m.%Y") %>
              </div>
    
              <%= header((I18n.t :standort), false) %>
              <div class="panel-body">
                <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
                <div id="map">
                  <div id="map-canvas"></div>
                </div>
              </div>

        <% when :details %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mdetails.where('mtype=?', "details"), "mdetails", nil) %>
          </div>

        <% when :umfrageteilnehmer %>
          <div class="panel-body">
            <% useranswers = [] %>
            <% @mobject.questions.each do |q| %>
              <% q.answers.each do |a| %>
                <% a.user_answers.each do |u| %>
                  <% if !useranswers.include?(u.user_id) %>
                    <% useranswers << u.user_id %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if false %>
              <% useranswers.each do |us| %>
                <%= showImage2(:small, User.find(us), true) %>
              <% end %>
            <% end %>
            <%= build_medialist2(User.where("id IN (?)", useranswers), "users", nil) %>
          </div>

         <% when :ideen %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.ideas.order(rating: :desc), "ideas", "user") %>
          </div>

        <% when :jury %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors, "madvisors", "user") %>
          </div>

        <% when :preise %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.prices, "prices", nil) %>
          </div>

        <% when :bewertungskriterien %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.crits, "crits", nil) %>
          </div>

         <% when :ausschreibungsangebote %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mdetails.where('mtype=?', "ausschreibungsangebote"), "mdetails", nil) %>
          </div>

        <% when :sponsorenengagements %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.msponsors, "msponsors", "company") %>
          </div>
          
        <% when :eintrittskarten %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.tickets, "tickets", nil) %>
          </div>

        <% when :bewertungen %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mratings, "mratings", "user") %>
          </div>

        <% when :ansprechpartner %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors, "madvisors", "user") %>
          </div>

        <% when :projektberechtigungen %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "user") %>
          </div>

        <% when :gruppenmitglieder %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "user") %>
          </div>

        <% when :ressourcenplanung %>
          <div class="row">
              <div class='col-xs-12'>
                <div class='panel-body'>

                  <% @header = [] %>
                  <% @data = [] %>
                  <% @header = %w[Jan Feb Mar Apr May Jun Jul Aug Sep Okt Nov Dez] %>
                  <% for i in 1..12 %>
                    <% @data << i %>
                  <% end %>
                  
                  <% case @c_scope %>
                    <% when "aufwand" %>
                      <% btn_sa = "active" %>
                      <% btn_sc = "inactive" %>
                    <% when "kosten" %>
                      <% btn_sa = "inactive" %>
                      <% btn_sc = "active" %>
                  <% end %>
                  
                  <%= link_to mobject_path(:id => @mobject.id, :topic => :ressourcenplanung, :year => @c_year, :scope => @c_scope)  do %>
                    <span><i class="btn btn-active glyphicon glyphicon-calendar"> <%= @c_year %></i></span>
                  <% end %>

                  <%= link_to mobject_path(:id => @mobject.id, :topic => :ressourcenplanung, :year => @c_year, :scope => "kosten")  do %>
                    <span><i class="btn btn-<%= btn_sc %> glyphicon glyphicon-euro"></i></span>
                  <% end %>
                   <%= link_to mobject_path(:id => @mobject.id, :topic => :ressourcenplanung, :year => @c_year, :scope => "aufwand")  do %>
                    <span><i class="btn btn-<%= btn_sa %> glyphicon glyphicon-time"></i></span>
                  <% end %>
                  
                  <%= link_to mobject_path(:id => @mobject.id, :topic => :ressourcenplanung, :dir => "<", :year => @c_year, :mode => @c_mode, :scope => @c_scope )  do %>
                    <i class="btn btn-primary glyphicon glyphicon-chevron-left"></i>
                  <% end %>
                  <%= link_to mobject_path(:id => @mobject.id, :topic => :ressourcenplanung, :dir => ">", :year => @c_year, :mode => @c_mode , :scope => @c_scope) do %>
                    <i class="btn btn-primary glyphicon glyphicon-chevron-right"></i>
                  <% end %>
                 <br><br>
                 
                 <% @gruppenmitglieder = @mobject.madvisors %>

                 <% @gruppenmitglieder.each do |gm| %>
                 <table class="table">
                    <tr>
                      <td></td>
                      <td></td>
                      <td colspan= <%= @header.length %>></td> 
                    </tr>
                    <tr>
                      <th colspan="2"><%= showImage2(:small, User.find(gm.user.id), true) + gm.user.name + " " + gm.user.lastname %></th>
                        <% @total = [] %>
                        <% @totalt = [] %>
                        <% for i in 0..@header.length-1 do %>
                          <!-- set initialize total per column -->
                          <% @total[i] = 0 %>
                          <% @totalt[i] = 0 %>
                          <!-- set color of header according to actual day, wekk or month -->
                          <% if Date.today.strftime('%m').to_i == @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                                <th class="warning">
                          <% else %>
                                <th>
                          <% end %>
                          <%= @header[i] %>
                        </th>
                      <% end %>
                    </tr>

                    <% myobs = [] %>
                    <% gm.user.madvisors.each do |a| %>
                      <% myobs << a.mobject_id %>
                    <% end %>
                    <% @mymobjects = Mobject.where('mtype=? and id IN (?)',"projekte", myobs) %>

                    <% @mymobjects.each do |w| %>

                      <tr>            

                        <% plans = [] %>
                        <% @plannings = Planning.where('mobject_id=? and user_id=? and costortime=? and jahr=?', w.id, gm.user.id, @c_scope, @c_year.to_s) %>
                        <% @plannings.each do |p| %>
                          <% h = Hash.new %>
                          <% if @c_scope == "kosten" %>
                            <% kapa = p.amount %>
                          <% end %>
                          <% if @c_scope == "aufwand" %>
                            <% kapa = p.amount*20/100 %>
                          <% end %>
                          <% h = {:id => p.id, :monat => p.monat.to_i, :kapa => kapa} %>
                          <% plans << h %>
                        <% end %>

                        <td>
                          <%= showFirstImage2(:small, w,w.mdetails) %>
                        </td>
                        <td>
                          <%= w.name %>
                        </td>

                        <% for i in 0..@header.length-1 do %>

                          <% if @c_scope == "kosten" %>
                          
                            <% moto = 0 %>
                            <% for k in 0..plans.length-1 do %>
                              <% if plans[k][:monat].to_i == @data[i].to_i %>
                                <% moto = moto + plans[k][:kapa] %>
                              <% end %>
                            <% end %>
                            
                            <% if moto > 0%>
                              <td class="color_kapa_booked" align="right">
                                <% if false %>
                				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                <% end %>
                                <% end %>
                               <%= moto.to_s+" " +(I18n.t :waehrung) %><br>
                            <% else %>
                                <td>
                                <% if false %>
                				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                <% end %>
                                <% end %>
                            <% end %>
                            </td>
                          <% end %>
                        
                          <% if @c_scope == "aufwand" %>
                            <% kapa = false %>
                            <% for k in 0..plans.length-1 do %>
                              <% if plans[k][:monat].to_i == @data[i].to_i %>
                                <td class="color_kapa_booked" align="right">
                                <%= plans[k][:kapa].to_s + " " + (I18n.t :personentage) %><br>
                                <% if false %>
                				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></i>
                                <% end %>
                				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                                  <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                                <% end %>
                                <% end %>
                                <% @total[i] = @total[i] + plans[k][:kapa] %>
                                <% kapa = true %>
                              <% end %>
                            <% end  %>
                            <% if !kapa %>
                                <td>
                                <% if false %>
                				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                <% end %>
                                <% end %>
                            <% end %>
                            </td>
                          <% end %>

                        <% end %>

                      </tr>

                      <!--/* hha-->

                      <tr>            

                        <% tts = [] %>
                        <% @timetracks = Timetrack.select("jahrmonat as gdate, sum(amount) as sum").where('user_id=? and costortime=? and mobject_id=? and datum >=? and datum <=?', gm.user.id, @c_scope, w.id, @date_start, @date_end).group("jahrmonat").order("gdate") %>
                        <% @timetracks.each do |t| %>
                          <% h = Hash.new %>
                          <% if @c_scope == "kosten" %>
                            <% ist = t.sum %>
                          <% end %>
                          <% if @c_scope == "aufwand" %>
                            <% ist = t.sum / 8.5 %>
                          <% end %>
                          <% h = {:monat => t.gdate[5,2], :kapa => ist.to_f } %>
                          <% tts << h %>
                        <% end %>

                        <td>
                          <% if false %>
                          <%= showFirstImage2(:small, w,w.mdetails) %>
                          <% end %>
                        </td>
                        <td>
                          <% if false %>
                          <%= w.name %>
                          <% end %>
                        </td>

                        <% for i in 0..@header.length-1 do %>

                          <% if @c_scope == "kosten" %>
                          
                            <% moto = 0 %>
                            <% for k in 0..tts.length-1 do %>
                              <% if tts[k][:monat].to_i == @data[i].to_i %>
                                <% moto = moto + tts[k][:kapa] %>
                              <% end %>
                            <% end %>
                            
                            <% if moto > 0%>
                              <td class="color_kapa_booked" align="right">
                                <% if false %>
                				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                <% end %>
                                <% end %>
                               <%= moto.to_s+ " " +( I18n.t :waehrung) %><br>
                            <% else %>
                                <td>
                                <% if false %>
                				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                <% end %>
                                <% end %>
                            <% end %>
                            </td>
                          <% end %>
                        
                          <% if @c_scope == "aufwand" %>
                            <% kapa = false %>
                            <% for k in 0..tts.length-1 do %>
                              <% if tts[k][:monat].to_i == @data[i].to_i %>
                                <td class="color_kapa_booked" align="right">
                                <%= sprintf("%5.1f "+(I18n.t :personentage), tts[k][:kapa]) %><br>
                                <% if false %>
                				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></i>
                                <% end %>
                				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                                  <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                                <% end %>
                                <% end %>
                                <% @totalt[i] = @totalt[i] + tts[k][:kapa] %>
                                <% kapa = true %>
                              <% end %>
                            <% end  %>
                            <% if !kapa %>
                                <td>
                                <% if false %>
                				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs glyphicon glyphicon-plus"></i>
                                <% end %>
                                <% end %>
                            <% end %>
                            </td>
                          <% end %>

                        <% end %>

                      </tr>

                    <% end %>

                  <!-- finally add totals and progress bar-->
                  <% if @c_scope == "aufwand" %>
                    <tr>
                      <td><%= I18n.t :totalplan %></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <td align="right">
                        <%= @total[i].to_s + " " + ( I18n.t :personentage) %>
                        </td>
                      <% end %>
                    </tr>
                    <tr>
                      <td><%= I18n.t :totalist %></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <td align="right">
                        <%= sprintf("%5.1f "+(I18n.t :personentage), @totalt[i]) %>
                        </td>
                      <% end %>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <td>
                          
                        <% showme = false %>
                        <% if Date.today.strftime('%Y').to_i < @c_year.to_i %>
                          <% showme = false %>
                        <% end %>
                        <% if Date.today.strftime('%Y').to_i > @c_year.to_i %>
                          <% showme = true %>
                        <% end %>
                        <% if Date.today.strftime('%m').to_i >= @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                          <% showme = true %>
                        <% end %>

                        <% if showme %>
                          <div class="progress">
                          <% if (@total[i] - @totalt[i]).abs > 5 %>
                            <class="riskhoch">
                            <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= 100 %>%" >
                          <% end %>
                          <% if (@total[i] - @totalt[i]).abs > 3 and (@total[i] - @totalt[i]).abs <= 5 %>
                            <class="riskmittel">
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= 100 %>%" >
                          <% end %>
                          <% if (@total[i] - @totalt[i]).abs <= 3 %>
                            <class="risktief">
                            <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= 100 %>%" >
                          <% end %>
                          </div>
                        <% end %>
                        
                        </td>
                      <% end %>
                    </tr>
                  <% end %>
                
                </table>
                <% end %>
                
              </div>
            </div>
          </div>

        <% when :auftragscontrolling %>
          <div class="panel-body">

              <% case @c_scope %>
                <% when "aufwand" %>
                  <% btn_sa = "active" %>
                  <% btn_sc = "inactive" %>
                <% when "kosten" %>
                  <% btn_sa = "inactive" %>
                  <% btn_sc = "active" %>
              <% end %>
              <% case @c_mode %>
                <% when "Monat" %>
                  <% btn_m = "active" %>
                  <% btn_y = "inactive" %>
                  <% btn_a = "inactive" %>
                <% when "Jahr" %>
                  <% btn_y = "active" %>
                  <% btn_m = "inactive" %>
                  <% btn_a = "inactive" %>
                <% when "alles" %>
                  <% btn_y = "inactive" %>
                  <% btn_m = "inactive" %>
                  <% btn_a = "active" %>
              <% end %>
              <% @date_start %>
              <% @date_end %>

              <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :year => @c_year, :month => @c_month, :mode => "alles", :scope => @c_scope)  do %>
                <span><i class="btn btn-<%= btn_a %> glyphicon glyphicon-fullscreen"> alles</i></span>
              <% end %>
              <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope)  do %>
                <span><i class="btn btn-<%= btn_y %> glyphicon glyphicon-calendar"> <%= @c_year %></i></span>
              <% end %>
              <% if false %>
              <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :year => @c_year, :month => @c_month, :mode => "Monat", :scope => @c_scope)  do %>
                <span><i class="btn btn-<%= btn_m %> glyphicon glyphicon-calendar"> <%= @c_month %></i></span>
              <% end %>
              <% end %>
              <% if @c_mode != "alles" %>
                <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
                  <i class="btn btn btn-primary glyphicon glyphicon-chevron-left"></i>
                <% end %>
                <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
                  <i class="btn btn-primary glyphicon glyphicon-chevron-right"></i>
                <% end %>
              <% end %>
              
              <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "kosten") do %>
                <span><i class="btn btn-<%= btn_sc %> glyphicon glyphicon-euro"></i></span>
              <% end %>
              <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "aufwand") do %>
                <span><i class="btn btn-<%= btn_sa %> glyphicon glyphicon-time"></i></span>
              <% end %>
              
              <%= link_to mobject_path(:id => @mobject.id, :topic => :auftragscontrolling, :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :export => true) do %>
                <span><i class="btn btn-inactive glyphicon glyphicon-book"></i></span>
              <% end %>
              
             <br><br>

            <!--Sicht Monat-->
            <% if @c_mode == "alles" %>
              <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=?',@mobject.id, @c_scope).group("jahrmonat").order(:jahrmonat) %>
              <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=?',@mobject.id, @c_scope).group("jahrmonat").order(:jahrmonat) %>
            <% else %>        
              <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=? and datum>=? and datum<=?', @mobject.id, @c_scope, @date_start, @date_end).group("jahrmonat").order(:jahrmonat) %>
              <% if @c_mode == "Monat" %>
                <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=? and jahr=? and monat=?', @mobject.id, @c_scope, @c_year.to_s, @c_month.to_s).group("jahrmonat").order(:jahrmonat) %>
              <% end %>
              <% if @c_mode == "Jahr" %>
                <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=? and jahr=?',@mobject.id, @c_scope, @c_year.to_s).group("jahrmonat").order(:jahrmonat) %>
              <% end %>
            <% end %>
            
            <% @range = [] %>
            <% @start = "2000-01" %>
            <% @ende = "2000-01" %>
            <% @startp = "2000-01" %>
            <% @endep = "2000-01" %>
            
            <% if @tts %>
              <% @start = @tts.first.jahrmonat if @tts.first %>
              <% @ende = @tts.last.jahrmonat if @tts.last %>
            <% end %>
            <% if @pts %>
              <% @startp = @pts.first.jahrmonat if @pts.first %>
              <% @endep = @pts.last.jahrmonat if @pts.last %>
            <% end %>
              <% if @startp < @start %>
              <% @start = @startp %>
            <% end %>
            <% if @endep > @ende %>
              <% @ende = @endep %>
            <% end %>

            <% vjahr = @start[0..3].to_i %>
            <% vmonat = @start[5..6].to_i %>
            <% vdatum = @start %>
            <% @range = [] %>
            <% while vdatum <= @ende %>

              <% @range << vdatum %>

              <% if vmonat == 12 %>
                <% vmonat = 1 %>
                <% vjahr = vjahr + 1 %>
              <% else %>
                <% vmonat = vmonat + 1 %>
              <% end %>

              <% monats = vmonat.to_s %>
              <% jahrs = vjahr.to_s %>
              <% if monats.length == 1 %>
              <%   monats = "0" + monats %>
              <% end %>
              <% vdatum = jahrs + "-" + monats %>
              
            <% end %>
            <% @range %><br><br>

            <% @plans = [] %>
            <% if @pts %>
              <% @pts.each do |t| %>
                <% @plans << [t.jahrmonat, t.summe] %>
              <% end %>
            <% end %>
            <% @ists = [] %>
            <% @tts.each do |t| %>
              <% @ists << [t.jahrmonat, t.summe] %>
            <% end %>

            <% @istsoll = [] %>
            <% @istsoll << ['kategorie', 'IST','PLAN'] %>
            <% for i in 0..@range.length-1 %>
            
                <% plan = 0 %>
                <% found = false %>
                <% for k in 0..@plans.length-1 %>
                  <% if !found %>
                    <% if @plans[k][0] == @range[i] %>
                      <% plan = @plans[k][1] %>
                      <% found = true %>
                    <% end %>
                  <% end %>
                <% end %>

                <% ist = 0 %>
                <% found = false %>
                <% for k in 0..@ists.length-1 %>
                  <% if !found %>
                    <% if @ists[k][0] == @range[i] %>
                      <% ist = @ists[k][1] %>
                      <% found = true %>
                    <% end %>
                  <% end %>
                <% end %>

                <% if @c_scope == "aufwand" %>
                  <% h = [@range[i], (ist * 170 /100), (plan * 170) / 100] %>
                <% end %>
                <% if @c_scope == "kosten" %>
                  <% h = [@range[i], ist, soll] %>
                <% end %>
                <% @istsoll << h %>

            <% end %>
            <% @istsoll %>
            
            <% @istsollkum = [] %>
            <% @istsollkum << ['kategorie', 'IST','PLAN'] %>
              <% for i in 1..@istsoll.length-1 %>
                <% if i==1 %>
                  <% @istsollkum << [@istsoll[i][0], @istsoll[i][1].to_i, @istsoll[i][2]]%>
                <% else %>
                  <% @istsollkum << [@istsoll[i][0], @istsollkum[i-1][1].to_f + @istsoll[i][1].to_f, @istsollkum[i-1][2].to_f + @istsoll[i][2].to_f] %>
                <% end %>
              <% end %>
            <% @istsollkum %>

            <div id="auftragschartallkum"></div>
            <br><br>
            <div id="auftragschartall"></div>
            <br><br>

            <!--Sicht User-->
            <% if @c_mode == "alles" %>
              <% @tts = Timetrack.select("user_id, sum(amount) as summe").where('mobject_id=? and costortime=?',@mobject.id, @c_scope).group("user_id") %>
              <% @pts = Planning.select("user_id, sum(amount) as summe").where('mobject_id=? and costortime=?',@mobject.id, @c_scope).group("user_id") %>
            <% else %>        
              <% @tts = Timetrack.select("user_id, sum(amount) as summe").where('mobject_id=? and costortime=? and datum>=? and datum<=?', @mobject.id, @c_scope, @date_start, @date_end).group("user_id") %>
              <% if @c_mode == "Monat" %>
                <% @pts = Planning.select("user_id, sum(amount) as summe").where('mobject_id=? and costortime=? and jahr=? and monat=?', @mobject.id, @c_scope, @c_year.to_s, @c_month.to_s).group("user_id") %>
              <% end %>
              <% if @c_mode == "Jahr" %>
                <% @pts = Planning.select("user_id, sum(amount) as summe").where('mobject_id=? and costortime=? and jahr=?',@mobject.id, @c_scope, @c_year.to_s).group("user_id") %>
              <% end %>
            <% end %>
            <% @plans = [] %>
            <% @pts.each do |p| %>
              <% if p.summe > 0 %>
                <% h = Hash.new %>
                <% if @c_scope == "aufwand" %>
                  <% h = {:user_id => p.user_id, :kapa => (p.summe * 170) / 100} %>
                <% end %>
                <% if @c_scope == "kosten" %>
                  <% h = {:user_id => p.user_id, :kapa => p.summe} %>
                <% end %>
                <% @plans << h %>
              <% end %>
            <% end %>
            <% @istsollau = [] %>
            <% @istsollau << ['kategorie', 'IST','PLAN'] %>
            <% @tts.each do |t| %>
              <% kapa = 0 %>
              <% for i in 0..@plans.length-1 %>
                <% if @plans[i][:user_id] == t.user_id %>
                  <% kapa = @plans[i][:kapa] %>
                <% end %>
              <% end %>
              <% @user = User.find(t.user_id) %>
              <% @istsollau << [@user.name + " " + @user.lastname, t.summe, kapa] %>
            <% end %>
            <% @istsollau %>
            <div id="chartalluser"></div>
            <br><br>

            <div class="row">
  
                <% @iso = [] %>
                <% @isoall = [] %>
                <% @timetracks = Timetrack.select("user_id").where('mobject_id=? and costortime=?', @mobject.id, @c_scope).distinct %>
                <% @timetracks.each do |u| %>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div>
                      <% @user = User.find(u.user_id) %>
                      <%= header((I18n.t :personen) + " " + @user.name + " " + @user.lastname, false) %>
                      
                      <!--Sicht Monat/MA -->
                      <% if @c_mode == "alles" %>
                        <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and user_id=? and costortime=?',@mobject.id, u.user_id, @c_scope).group("jahrmonat") %>
                        <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and user_id=? and costortime=?',@mobject.id, u.user_id, @c_scope).group("jahrmonat") %>
                      <% else %>        
                        <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and user_id=? and costortime=? and datum>=? and datum<=?', @mobject.id, u.user_id, @c_scope, @date_start, @date_end).group("jahrmonat") %>
                        <% if @c_mode == "Monat" %>
                          <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and user_id=? and costortime=? and jahr=? and monat=?', @mobject.id, u.user_id, @c_scope, @c_year.to_s, @c_month.to_s).group("jahrmonat") %>
                        <% end %>
                        <% if @c_mode == "Jahr" %>
                          <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and user_id=? and costortime=? and jahr=?',@mobject.id, u.user_id, @c_scope, @c_year.to_s).group("jahrmonat") %>
                        <% end %>
                      <% end %>
                      
                      <% @pts.each do |t| %>
                        <% @plans << [t.jahrmonat, t.summe] %>
                      <% end %>
                      <% @ists = [] %>
                      <% @tts.each do |t| %>
                        <% @ists << [t.jahrmonat, t.summe] %>
                      <% end %>
          
                      <% @istsollall = [] %>
                      <% @istsollallgraph = [] %>
                      <% @istsollall << ['user', 'kategorie', 'IST','PLAN'] %>
                      <% @istsollallgraph << ['kategorie', 'IST','PLAN'] %>
                      <% for i in 0..@range.length-1 %>
                      
                          <% plan = 0 %>
                          <% found = false %>
                          <% for k in 0..@plans.length-1 %>
                            <% if !found %>
                              <% if @plans[k][0] == @range[i] %>
                                <% plan = @plans[k][1] %>
                                <% found = true %>
                              <% end %>
                            <% end %>
                          <% end %>
          
                          <% ist = 0 %>
                          <% found = false %>
                          <% for k in 0..@ists.length-1 %>
                            <% if !found %>
                              <% if @ists[k][0] == @range[i] %>
                                <% ist = @ists[k][1] %>
                                <% found = true %>
                              <% end %>
                            <% end %>
                          <% end %>
          
                          <% if @c_scope == "aufwand" %>
                            <% h = [@user.id, @range[i], (ist * 170 /100), (plan * 170) / 100] %>
                          <% end %>
                          <% if @c_scope == "kosten" %>
                            <% h = [@user.id, @range[i], ist, soll] %>
                          <% end %>
                          <% @istsollall << h %>
                          <% @istsollallgraph << h[1..3] %>
          
                      <% end %>

                      <% @iso << @istsollallgraph %>
                      <% @isoall << @istsollall %>
                                
                      <div id="<%="chart" + (@iso.length-1).to_s %>"></div>

                    </div>
                  </div>
                <% end %>
                <% @isoall %>
            </div>
            <% if @export %>
              <% @filename = exportWriter(@mobject, @istsoll, @istsollkum, @istsollau, @isoall) %>
              <% link_to @filename, @filename.remove("public") %>
    	        <%= link_to @filename.remove("public") do %>
                <span><i class="btn btn-active glyphicon glyphicon-cloud-download"></i></span>
              <% end %>
            <% end %>
            
          </div>

        <% when :projektdashboard %>
          <div class="panel-body">
            
            <% @prolist  = [@mobject.id.to_i] %>
            <% wo_iterate(@mobject.id, true, @prolist) %>
            <% @prolist %>
            <% @projects = Mobject.where("mtype=? and id in (?)", "projekte", @prolist) %>

            <div class="row">
              <% @projects.each do |m| %>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                  <div class="panel panel-dashboard">
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <%= content_tag(:i, nil, class:"glyphicon glyphicon-" + getIcon2(:projekte)["icon"], style:"font-size:4em") %>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <huge>
                        <%= m.name %><br><br>
                        </huge>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="row" align="Center">
                          <div id="costchart<%= m.id %>"></div>
                        </div>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="row" align="Center">
                          <div id="effortchart<%= m.id %>"></div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <huge>
                        <p id="cost<%= m.id %>"></p>
                        </huge>
                      </div>
                      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <huge>
                        <p id="effort<%= m.id %>"></p>
                        </huge>
                      </div>
                    </div>
                  </div>
                </div>  
              <% end %>
            </div>
            
          </div>

        <% when :blog %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.comments.order(created_at: :desc), "comments", "user") %>
          </div>

        <% when :fragen %>
          <%= @ques %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.questions.order(:sequence), "questions", "user") %>
          </div>

        <% when :ausgaben %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.editions.order(created_at: :desc), "editions", "user") %>
          </div>

        <% when :substruktur %>
          <div class="panel-body">
            <%= build_medialist2(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "user") %>
          </div>

        <% when :teilnehmerveranstaltung %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.participants, "participants", "user") %>
          </div>

        <% when :kalendervermietungen %>
          <div id='calendar'></div>
          <div class="panel-body">
          	<table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th colspan=2><%= I18n.t :gemietetvon %></th>
                  <th colspan=2><%= I18n.t :wann %></th>
                </tr>
              </thead>
              <body>
                <% @mobject.mcalendars.each do |ca| %>
                  <tr>
                    <td>
          				    <% if user_signed_in? %>
          				      <% if (ca.mobject.owner_type == "User" and ca.mobject.owner_id == current_user.id) or (ca.mobject.owner_type == "Company" and ca.mobject.owner.user_id == current_user.id) %>
          				        <% if !ca.confirmed %>
                            <%= link_to mobject_path(:id => ca.mobject_id, :confirm_id => ca.id, :topic => :kalendervermietungen) do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                            <% end %>
                          <% else %>
                            <%= link_to mobject_path(:id => ca.mobject_id, :noconfirm_id => ca.id, :topic => :kalendervermietungen) do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                            <% end %>
                          <% end %>
          				      <% end %>
            				    <% if ca.user_id == current_user.id %>
                          <%= link_to listaccount_index_path :user_id => current_user.id, :user_id_ver => ca.mobject.owner_id, :company_id_ver => ca.mobject.owner_id, :ref => "Vergtung an "+ ca.mobject.name + " " + ca.date_from.strftime("%d.%m.%Y") + " " + ca.time_from.to_s + "Uhr -" + ca.date_to.strftime("%d.%m.%Y") + " " + ca.time_to.to_s + " Uhr", :object_name => "Mobject", :object_id => ca.mobject.id, :amount => 0 do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-euro"></i>
                          <% end %>
          				        <%= link_to edit_mcalendar_path(ca) do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                          <% end %>
          				        <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                          <% end %>
              				  <% end %>
              				<% end %>
                    </td>
                    <td>
                    <%= showImage2(:small, ca.user, true) %>
                    </td>
                      <td>
                        <smallcall>
                        <%= ca.user.name %><br>
                        <%= ca.user.lastname %>
                        </smallcal>
                      </td>
                    <td>
                      <smallcall>
                      <%= ca.date_from.strftime("%d.%m.%Y")+"  "+ca.time_from.to_s+ (I18n.t :uhr) %><br>
                      <%= ca.date_to.strftime("%d.%m.%Y")+"  "+ca.time_to.to_s+(I18n.t :uhr) %>
                      </smallcal>
                    </td>
                  </tr>
                <% end %>
              </body>
           	</table>
          </div>
          
        <% when :cfstatistik %>
          <div class="panel-body">
            <div id="curve_chart1"></div>
          </div>
          <div class="panel-body">
            <div id="curve_chart2"></div>
          </div>
          
        <% when :cftransaktionen %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mstats.order(amount: :desc), "mstats", "owner") %>
          </div>

        <% when :standort %>
          <div class="panel-body">
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>

      <% end %>
    </div>
    
  </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
$(document).ready(function(){
      google.charts.load('current', {'packages':['corechart']});
      
      <% if @topic == :auftragscontrolling %>
        google.charts.setOnLoadCallback(drawChartallkum);
        function drawChartallkum() {
          var data = google.visualization.arrayToDataTable(<%= raw @istsollkum %>);
          var options = {
            <% if @c_scope == "aufwand" %>
              title: "<%= I18n.t :rapportiertestundenkumuliert %>",
            <% end %>
            <% if @c_scope == "kosten" %>
              title: "<%= I18n.t :rapportiertekostenkumuliert %>",
            <% end %>
            colors: ['#ACC550','#2E6B33'],
            // legend: { position: 'bottom' }
          };
          <% if @c_mode == "Monat" %>
            var chart = new google.visualization.ColumnChart(document.getElementById("auftragschartallkum"));
          <% else %>
            var chart = new google.visualization.LineChart(document.getElementById("auftragschartallkum"));
          <% end %>
          chart.draw(data, options);
        };
        google.charts.setOnLoadCallback(drawChartall);
        function drawChartall() {
          var data = google.visualization.arrayToDataTable(<%= raw @istsoll %>);
          var options = {
            <% if @c_scope == "aufwand" %>
              title: "<%= I18n.t :rapportiertestundenmonat %>",
            <% end %>
            <% if @c_scope == "kosten" %>
              title: "<%= I18n.t :rapportiertekostenmonat %>",
            <% end %>
            colors: ['#ACC550','#2E6B33'],
            // legend: { position: 'bottom' }
          };
          <% if @c_mode == "Monat" %>
            var chart = new google.visualization.ColumnChart(document.getElementById("auftragschartall"));
          <% else %>
            var chart = new google.visualization.LineChart(document.getElementById("auftragschartall"));
          <% end %>
          chart.draw(data, options);
        };
        google.charts.setOnLoadCallback(drawChartuser);
        function drawChartuser() {
          var data = google.visualization.arrayToDataTable(<%= raw @istsollau %>);
          var options = {
            <% if @c_scope == "aufwand" %>
              title: "<%= I18n.t :rapportiertestundenuser %>",
            <% end %>
            <% if @c_scope == "kosten" %>
              title: "<%= I18n.t :rapportiertekostenuser %>",
            <% end %>
            colors: ['#ACC550','#2E6B33'],
            // legend: { position: 'bottom' }
          };
          var chart = new google.visualization.ColumnChart(document.getElementById('chartalluser'));
          chart.draw(data, options);
        };
        <% if true %>
        <% for i in 0..@iso.length-1 do %>
            google.charts.setOnLoadCallback(drawChart<%= i.to_s %>);
            function drawChart<%= i.to_s %>() {
              var data = google.visualization.arrayToDataTable(<%= raw @iso[i] %>);
              var options = {
                <% if @c_scope == "aufwand" %>
                  title: "<%= I18n.t :rapportiertestundenuser %>",
                <% end %>
                <% if @c_scope == "kosten" %>
                  title: "<%= I18n.t :rapportiertekostenuser %>",
                <% end %>
                colors: ['#ACC550','#2E6B33'],
                // legend: { position: 'bottom' }
              };
              <% if @c_mode == "Monat" %>
                var chart = new google.visualization.ColumnChart(document.getElementById('<%="chart"+i.to_s %>'));
              <% else %>
                var chart = new google.visualization.LineChart(document.getElementById('<%="chart"+i.to_s %>'));
              <% end %>
              chart.draw(data, options);
            };
            <% i = i + 1 %>
        <% end %>
        <% end %>
      
      <% end %>
        
      <% if @topic == :umfragen %>
      
      
      window.datasetq = [['kategorie', 'anzahl'],['keine Antwort',0]];
      <% @mobject.questions.each do |q| %>
        <% anzCount =0 %>
        <% q.answers.each do |a| %>
          <% anzCount = anzCount + a.user_answers.count %>
        <% end %>
        datasetq.push(['<%= q.name %>', <%= anzCount %>]);
      <% end %>
      google.charts.setOnLoadCallback(drawChartq);
      function drawChartq() {
        var data = google.visualization.arrayToDataTable(datasetq);
        var options = {
          title: "<%= I18n.t :antworten %>",
          colors: ['#ACC550'],
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chartq'));
        chart.draw(data, options);
      };
        
      <% @mobject.questions.each do |q| %>
      
        <% if q.mcategory.name == "multiple" or q.mcategory.name == "single" %>
          window.dataset<%= q.id.to_s %> = [['kategorie', 'anzahl'],['keine Antwort',0]];
          <% q.answers.each do |qa| %>
            dataset<%= q.id.to_s %>.push(['<%= qa.name %>', <%= qa.user_answers.where('checker=?',true).count %>]);
          <% end %>
        <% end %>
    
        <% if q.mcategory.name == "numerisch" %>
          window.dataset<%= q.id.to_s %> = [['kategorie', 'anzahl'],['keine Antwort',0]];
          <% q.answers.each do |qa| %>
            dataset<%= q.id.to_s %>.push(['Minimum', <%= qa.user_answers.minimum(:num) %>]);
            dataset<%= q.id.to_s %>.push(['Maximum', <%= qa.user_answers.maximum(:num) %>]);
            dataset<%= q.id.to_s %>.push(['Durchschnitt', <%= qa.user_answers.average(:num) %>]);
          <% end %>
        <% end %>
    
        <% if q.mcategory.name == "text" %>
          window.dataset<%= q.id.to_s %> = [['kategorie', 'anzahl'],['keine Antwort',0]];
          <% q.answers.each do |qa| %>
            dataset<%= q.id.to_s %>.push(['kein Text angegeben', <%= qa.user_answers.where('description=?',"").count %>]);
            dataset<%= q.id.to_s %>.push(['Text angegeben', <%= qa.user_answers.where('description<>?',"").count %>]);
          <% end %>
        <% end %>
    
        google.charts.setOnLoadCallback(drawChart<%= q.id.to_s %>);
        function drawChart<%= q.id.to_s %>() {
          var data = google.visualization.arrayToDataTable(dataset<%= q.id.to_s %>);
          var options = {
            title: "<%= I18n.t :antworten %>",
            colors: ['#ACC550'],
            legend: { position: 'bottom' }
          };
          var chart = new google.visualization.ColumnChart(document.getElementById('<%="chart"+q.id.to_s %>'));
          chart.draw(data, options);
        };
    
    <% end %>
    <% end %>
    
  <% if @topic == :projektdashboard %>
    
   google.charts.load('current', {'packages':['corechart']});
  <% @projects.each do |p| %>
  
    window.costdataset_<%= p.id %> = [["Zeit", "Wert"],[Date(),0]];
    google.charts.setOnLoadCallback(costfunc<%= p.id %>);
    function costfunc<%= p.id %>() {
      var data = google.visualization.arrayToDataTable(costdataset_<%= p.id %>);
      var options = {
        title: "<%= I18n.t :kosten %>",
        colors: ['#ACC550'],
        curveType: 'function',
        width:150,
        height:150,
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('costchart<%= p.id %>'));
      chart.draw(data, options);
    }
    window.effortdataset_<%= p.id %> = [["Zeit", "Wert"],[Date(),0]];
    google.charts.setOnLoadCallback(effortfunc<%= p.id %>);
    function effortfunc<%= p.id %>() {
      var data = google.visualization.arrayToDataTable(effortdataset_<%= p.id %>);
      var options = {
        title: "<%= I18n.t :aufwand %>",
        colors: ['#ACC550'],
        curveType: 'function',
        width:150,
        height:150,
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('effortchart<%= p.id %>'));
      chart.draw(data, options);
    }
  <% end %>
    window.setInterval( callme, 15000 );
    // window.setInterval( updateme, 100 );
    
    function updateme() {
      <% @projects.each do |c| %>
        var i = Number($("#<%= c.mtype %>").text());
        i = i + 25;
        // var i= 205;
        $("#<%= c.mtype %>").text(i.toString());
      <% end %>
    }
        
    function callme() {
        $.ajax({
            // url: "http://tkbinfo-horstwurm.c9users.io/home/dashboard_projectdata.json?pid=<%= @mobject.id %>",
            url: "http://tkbinfo.herokuapp.com/home/dashboard_projectdata.json?pid=<%= @mobject.id %>",
            //force to handle it as text
            dataType: "text",
            success: function(data) {
                //data downloaded so we call parseJSON function 
                //and pass downloaded data
                var json = $.parseJSON(data);
                
                //alert(json[0].id + json[0].kategorie + " " + json[0].summe);
                // alert(json[0].kategorie + " " + json[0].anzahl);
                // alert(json[1].kategorie + " " + json[1].anzahl);
                // alert(json[2].kategorie + " " + json[2].anzahl);
                <% if true %>
                <% @projects.each do |p| %>
                  for (var i=0;i<json.length;++i)
                  {
                    <% if true %>
                      if (json[i].id == <%= p.id %>) {
                        if (json[i].kategorie == "kosten") {
                          $("#cost<%= p.id  %>").text(json[i].summe + " CHF");
                          costdataset_<%= p.id %>.push([Date(), json[i].summe]);
                          google.charts.setOnLoadCallback(costfunc<%= p.id %>);
                        }
                        if (json[i].kategorie == "aufwand") {
                          $("#effort<%= p.id  %>").text( parseInt( (json[i].summe)/8.5) + " PT");
                          effortdataset_<%= p.id %>.push([Date(), json[i].summe]);
                          google.charts.setOnLoadCallback(effortfunc<%= p.id %>);
                        }
                      }
                    <% end %>
                  }
                  // var d = new Date;
                  // var m = d.getMilliseconds();
                  // $("#<%= p.id %>").text(json[0].anzahl);
                <% end %>
                <% end %>
            }
        });
    }
    <% end %>
  
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();
    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();
    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });
    $('#calendar').fullCalendar({
        now: '<%= DateTime.now %>',
        allDaySlot: false,
        timeFormat: 'H(:mm)',
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'month',
        defaultView: 'agendaWeek',
        slotDuration: '1:00:00',
        contentHeight: 'auto',
        <% if @mobject.time_from and @mobject.time_to %>
          minTime: '<%= @mobject.time_from %>:00',
          maxTime: '<%= @mobject.time_to %>:00',
        <% end %>
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]
    });
    
    $("a").tooltip();
    
    $('.owl-show').owlCarousel({  
      
      itemsCustom : false,
      itemsDesktop : [1199,4],
      itemsDesktopSmall : [980,3],
      itemsTablet: [768,2],
      itemsTabletSmall: false,
      itemsMobile : [479,1],
      autoPlay: true
      
    });
    function init_map(index) {
        var latitudes = [<%= @mobject.latitude %>];
        var longitudes = [<%= @mobject.longitude %>];
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),mapOptions);
        marker.setMap(map);
    }
    
    google.charts.setOnLoadCallback(drawChartA);
    function drawChartA() {
      var data = google.visualization.arrayToDataTable([
        ['Datum', 'Anzahl'],
        <%= raw @anz_s %>
      ]);
      var options = {
        title: "<% I18n.t :cfanzahl %>",
        curveType: 'function',
        colors: ['#ACC550'],
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));
      chart.draw(data, options);
    }
    
    google.charts.setOnLoadCallback(drawChartB);
    function drawChartB() {
      var data = google.visualization.arrayToDataTable([
        ['Datum', 'Betrag'],
        <%= raw @bet_s %>
      ]);
      var options = {
        title: "<% I18n.t :cfbetrag %>",
        curveType: 'function',
        colors: ['#ACC550'],
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
      chart.draw(data, options);
    }
    
});
</script>

<!--<script>-->
<!--  document.addEventListener("turbolinks:load", function() {init_map(0); drawChart1(); drawChart2(); owlCarousel()})-->
<!--</script>-->