<div class="row">
    <action>
    <%= action_buttons2("Objekte", @mobject, @topic) %>
    </action> 
  </div>

  <div class="row">
    <header>
    <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + @mobject.mtype + " " + @mobject.msubtype.to_s + " " + @mobject.name + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
    <nav>
      <div class='col-xs-12'>
          <%= navigate("Objekte", @mobject) %>
      </div>
    </nav>
    </header>
  </div>
  
  
  <div class="row">
      <div class='col-xs-12'>

      <% case @topic %>
        <% when "Info" %>
          <%= header("Informationen", false) %>
          <div class="panel-body">
           <% case @mobject.status %>
              <% when "CHECK" %>
                <i class="glyphicon glyphicon-question-sign"></i>
              <% when "OK" %>
                <i class="glyphicon glyphicon-ok-circle"></i>
              <% when "NOK" %>
                <i class="glyphicon glyphicon-ban-circle"></i>
            <% end %>
            <b> Status</b>
            <br>
            <%= carousel2(@mobject, :medium) %>
      			</p>
            <br><br>
            <% case @mobject.msubtype %>
              <% when "Spenden" %>
                <b>Spendenziel</b><br>
                <%= sprintf("%05.2f CHF", @mobject.amount) %>
                <br>
              <% when "Belohnungen" %>
                <b>Projektziel</b><br>
                <%= sprintf("%05.2f CHF", @mobject.amount) %>
                <br><br>
                <b>Stückelung</b><br>
                <%= sprintf("%05.2f CHF", @mobject.price) %>
                <br><br>
                <b>Belohnung</b><br>
                <%= @mobject.reward %>
                <br>
              <% when "Zinsen" %>
                <b>Kreditsumme</b><br>
                <%= sprintf("%05.2f CHF", @mobject.amount) %>
                <br><br>
                <b>Zinssatz</b><br>
                <%= @mobject.interest_rate %>%
                <br><br>
                Rückzahlung am <%= @mobject.due_date.strftime("%d.%m.%Y") %>
                <br>
            <% end %>
            <br>
            <% if @mobject.mtype == "Crowdfunding" %>
              <% soll = @mobject.amount %>
              <% if @mobject.mstats != nil %>
                <% ist  = @mobject.mstats.sum(:amount) %>
              <% else %>
                <% ist = 0 %>
              <% end %>
              <b>Betrag</b><br>
              <%= sprintf("%05.2f CHF", ist) %>
              <br><br>
              <div class="progress">
                <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
  
    				  <% if @mobject.price %>
                <preiss><b><%= sprintf("%05.2f CHF", @mobject.price) %></b></preiss>
    					<% else %>
                <% if @mobject.social %>
                  <preiss><b><i class='glyphicon glyphicon-heart'></i></b></preiss>
                <% end %>
    					<% end %>
              <br><br>
            <% end %>
            
            <% case @mobject.mtype %>
               <% when "Angebote", "Veranstaltungen", "Ausschreibungen", "Crowdfunding" %>
                 <% if @mobject.msubtype == "Standard" %>
                 <% else %>
                  <b>Datum von-bis</b><br>
                  <% if @mobject.date_from  %>
                    <%= @mobject.date_from.strftime("%d.%m.%Y") %>
                  <% end %>
                  <% if @mobject.date_to %>
                  - <%= @mobject.date_to.strftime("%d.%m.%Y") %>
                  <% end %>
                  <% if @mobject.date_from or @mobject.date_to %>
                    <br><br>
                  <% end %>
                  <% if @mobject.date_to != nil %>
                    <b>Laufzeit</b><br>
                    <b><ntext>noch </ntext></b><restlaufzeits><%= (@mobject.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeits> <b><ntext> Tage</ntext></b>
                    <br>
                    <% soll = (@mobject.date_to.to_date - @mobject.date_from.to_date).to_i %>
                    <% ist = (DateTime.now.to_date - @mobject.date_from.to_date).to_i %>
                    <% if soll > 0 and ist > 0 %>
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar2" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist*100/soll) %>%">
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                    <% end %>
                  <% end %>
                <% end %>

               <% when "Vermietungen" %>
                <b>Mietzeiten</b><br>
                von:<%= @mobject.time_from %> bis: <%= @mobject.time_to %> Uhr
                <br><br>
                <b>Standort</b><br>
                <%= @mobject.address1 if @mobject.address1 %><br>
                <%= @mobject.address2 if @mobject.address2 %><br>
                <%= @mobject.address3 if @mobject.address3 %><br>
                <br>
                
              <% when "Stellenanzeigen" %>
                  <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="thumbnail" align="center">
                        <anzeigetext>
              						Ihre Aufgaben
                        </anzeigetext>
                        <p>
                          <ntext>
              						<%= @mobject.tasks %>
              						</ntext>
              					</p>
                      </div>
                    </div>
                    
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="thumbnail" align="center">
                        <anzeigetext>
              						wir erwarten
                        </anzeigetext>
                        <p>
                          <ntext>
              						<%= @mobject.skills %>
              						</ntext>
              					</p>
                      </div>
                    </div>
            
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="thumbnail" align="center">
                        <anzeigetext>
              						wir bieten
                        </anzeigetext>
                        <p>
                          <ntext>
              						<%= @mobject.offers %>
              						</ntext>
              					</p>
                      </div>
                    </div>
                </div>
            <% end %>
            <br><br>
            
            <b>Bewertung</b><br>
            <% avg_rating2(@mobject.id).times do %>
              <i class="glyphicon glyphicon-star"></i>
            <% end %>
            <br><br>
            
            <% if @mobject.social %>
                <i class="glyphicon glyphicon-heart"></i> soziales Engagement
            <% end %>
            <br><br>

            <% if @mobject.homepage != nil %>
              <b>Homepage</b><br>
              <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
                <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@mobject.homepage) %>
              <% end %>
              <br><br>
            <% end %>
            
            <% if @mobject.description %>
              <b>Beschreibung</b><br>
        			<%= @mobject.description %>
              <br><br>
            <% end %>
            <% if @mobject.mcategory_id %>
              <b>Kategorie</b><br>
        			<%= @mobject.mcategory.name %>
              <br><br>
            <% end %>
            <% if @mobject.homepage != nil %>
              <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
                <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@mobject.homepage) %>
              <% end %>
              <br><br>
            <% end %>
            <b>Verantwortlich:</b><br>
            <%= showImage2(:small, @mobject.owner, true) %><br>
            <% if @mobject.owner_type == "User" %>
              <%= @mobject.owner.name + " " + @mobject.owner.lastname %>
            <% end %>
            <% if @mobject.owner_type == "Company" %>
              <%= @mobject.owner.name %>
            <% end %>
      			<br><br>
            <%= @mobject.created_at.strftime("%d.%m.%Y") %>
          </div>

          <%= header("Ort (Karte)", false) %>
          <div class="panel-body">
            <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>

        <% when "Details" %>
          <%= header("Details", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mdetails.where('mtype=?', "Details"), "mdetails", nil) %>
          </div>

        <% when "Ausschreibungsangebote" %>
          <%= header("Angebote", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mdetails.where('mtype=?', "Ausschreibungsangebote"), "mdetails", nil) %>
          </div>

        <% when "Sponsorenengagements" %>
          <%= header("Sponsoren", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.msponsors, "msponsors", "Company") %>
          </div>
          
        <% when "Bewertungen" %>
          <%= header("Bewertungen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mratings, "mratings", hash) %>
          </div>

        <% when "Ansprechpartner" %>
          <%= header("Ansprechpartner", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors, "madvisors", "User") %>
          </div>

        <% when "Kalender (Vermietungen)" %>
          <%= header("Kalender KW "+ session[:cw].to_s, false) %>
          <div class="panel-body">
        		<table class="table table-striped">
              <thead>
                <tr>
                  <th>Uhrzeit</th>
                  <% for i in 0..6 %>
                    <% if @start+i == Date.today %>
                      <th class="color_today">
                    <% else %>
                      <th>
                    <% end %>
                      <%= $wochentage[i] %><br>
                      <small_cal>
                      <%= (@start+i).strftime("%d.%m") %>
                      </small_cal>
                    </th>
                  <% end %>
                </tr>
              </thead>
              
              <tbody>
      
                  <% @items = CalItem2(@mobject.mcalendars,@start) %>
                  <% for hour in 0..@anz_stunden-1 %>
                    <tr>
                      <td><small_cal><%= (@mobject.time_from + hour).to_s + " Uhr" %></small_cal></td>
                    <% for day in 0..@anz_tage-1 %>
                        <% if @array[hour][day] != 0 %>
                          <td class="blocked" align="center">
                          <%= link_to(edit_mcalendar_path(:id => @array[hour][day])) do %>
                            <i class="glyphicon glyphicon-info-sign"></i>
                            <% if false %>
                              <%= showImage2(:small, User.find( Mcalendar.find(@array[hour][day]).user_id),false) %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <td class="free">
                        <% end %>
                        <% @array[hour][day] %>
                        </td>                
                    <% end %>
                    </tr>
                  <% end %>

              </tbody>
            </table>
          </div>
          <div class="panel-body">
          	<table class="table table-striped">
              <thead>
                <tr>
                  <th colspan=3>gemietet von</th>
                  <th colspan=2>wann</th>
                </tr>
              </thead>
              <body>
                <% @mobject.mcalendars.each do |ca| %>
                  <tr>
                    <td>
          				    <% if user_signed_in? %>
            				    <% if ca.user_id == current_user.id %>
                          <%= link_to listaccount_index_path :user_id => current_user.id, :user_id_ver => ca.mobject.owner_id, :company_id_ver => ca.mobject.owner_id, :ref => "Vergütung an "+ ca.mobject.name + " " + ca.date_from.strftime("%d.%m.%Y") + " " + ca.time_from.to_s + "Uhr -" + ca.date_to.strftime("%d.%m.%Y") + " " + ca.time_to.to_s + " Uhr", :object_name => "Mobject", :object_id => ca.mobject.id, :amount => 0 do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-euro"></i>
                          <% end %>
          				        <%= link_to edit_mcalendar_path(ca) do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                          <% end %>
          				        <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                          <% end %>
              				  <% end %>
              				<% end %>
                    </td>
                    <td>
                    <%= showImage2(:small, ca.user, true) %>
                    </td>
                      <td>
                        <smallcall>
                        <%= ca.user.name %><br>
                        <%= ca.user.lastname %>
                        </smallcal>
                      </td>
                    <td>
                      <smallcall>
                      <%= ca.date_from.strftime("%d.%m.%Y")+"  "+ca.time_from.to_s+" Uhr"%><br>
                      <%= ca.date_to.strftime("%d.%m.%Y")+"  "+ca.time_to.to_s+" Uhr"%>
                      </smallcal>
                    </td>
                  </tr>
                <% end %>
              </body>
           	</table>
          </div>
          
        <% when "CF Statistik" %>
          <%= header("Statistik (Anzahl)", false) %>
          <div class="panel-body">
            <div id="curve_chart1"></div>
          </div>
          <%= header("Statistik (Betrag)", false) %>
          <div class="panel-body">
            <div id="curve_chart2"></div>
          </div>
          
        <% when "CF Transaktionen" %>
          <%= header("Transaktionen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mstats.order(amount: :desc), "mstats", "Owner") %>
          </div>

        <% when "Standort" %>
          <%= header("Standort", false) %>
          <div class="panel-body">
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>

      <% end %>
    </div>
    
      <% if false %>
      <div class='col-xs-2'>
        <%= navigate("Objekte", @mobject) %>
      </div>
      <% end %>
    
  </div>

<script type="text/javascript">
    var latitudes = [<%= @mobject.latitude %>];
    var longitudes = [<%= @mobject.longitude %>];
    function init_map(index) {
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),
            mapOptions);
        marker.setMap(map);
    }
    <!--init_map(0);-->
</script>

<script type="text/javascript">
$(document).ready(function(){
  $('.owl-show').owlCarousel({  
    
    itemsCustom : false,
    itemsDesktop : [1199,4],
    itemsDesktopSmall : [980,3],
    itemsTablet: [768,2],
    itemsTabletSmall: false,
    itemsMobile : [479,1],
    autoPlay: true
    
  });
});
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart1);
  function drawChart1() {
    var data = google.visualization.arrayToDataTable([
      ['Datum', 'Anzahl'],
      <%= raw @anz_s %>
    ]);
    var options = {
      title: 'Crowdfunding Performance',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));

    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart2);
  function drawChart2() {
    var data = google.visualization.arrayToDataTable([
      ['Datum', 'Betrag'],
      <%= raw @bet_s %>
    ]);
    var options = {
      title: 'Crowdfunding Performance',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));

    chart.draw(data, options);
  }
</script>

<script>
  document.addEventListener("turbolinks:load", function() {init_map(0);drawChart1(); drawChart2(); owlCarousel()})
</script>

<script>
$(document).ready(function(){
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();

    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();

    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });
  
});
</script>