
<% if @edition_id %>
  <div class="row">
    <action>
    <% if @edition_id %>
      <% @edition = Edition.find(@edition_id) %>
      <%= action_buttons2("Edition", @edition, "Info") %>
    <% else %>
      <%= action_buttons2("Objekte", @mobject, @topic) %>
    <% end %>
    </action> 
  </div>
<% end %>

  <div class="row">
    <header>
    <%= header("<navshow><i class='glyphicon glyphicon-menu-down'></i></navshow> " + @mobject.mtype + " " + @mobject.msubtype.to_s + " " + @mobject.name + "<navhide><i class='glyphicon glyphicon-menu-up pull-right'></i></navhide>", true) %>
    <nav>
      <div class='col-xs-12'>
          <%= navigate("Objekte", @mobject) %>
      </div>
    </nav>
    </header>
  </div>
  
  
  <div class="row">
      <div class='col-xs-12'>

      <% case @topic %>
        <% when "Info" %>
          <%= header2("Objekte", @mobject, @topic, "Objektinformationen", false) %>
          <div class="panel-body">
            
              <% if @mobject.mtype != "Artikel" %>
               <% case @mobject.status %>
                  <% when "CHECK" %>
                    <i class="glyphicon glyphicon-question-sign"></i>
                  <% when "OK" %>
                    <i class="glyphicon glyphicon-ok-circle"></i>
                  <% when "NOK" %>
                    <i class="glyphicon glyphicon-ban-circle"></i>
                <% end %>
                <b> Status</b>
                <br>
                <%= carousel2(@mobject, :medium) %>
                <br><br>
                <% case @mobject.msubtype %>
                  <% when "Spenden" %>
                    <b>Spendenziel</b><br>
                    <%= sprintf("%05.2f CHF", @mobject.amount) %>
                    <br>
                  <% when "Belohnungen" %>
                    <b>Projektziel</b><br>
                    <%= sprintf("%05.2f CHF", @mobject.amount) %>
                    <br><br>
                    <b>Stückelung</b><br>
                    <%= sprintf("%05.2f CHF", @mobject.price) %>
                    <br><br>
                    <b>Belohnung</b><br>
                    <%= @mobject.reward %>
                    <br>
                  <% when "Zinsen" %>
                    <b>Kreditsumme</b><br>
                    <%= sprintf("%05.2f CHF", @mobject.amount) %>
                    <br><br>
                    <b>Zinssatz</b><br>
                    <%= @mobject.interest_rate %>%
                    <br><br>
                    Rückzahlung am <%= @mobject.due_date.strftime("%d.%m.%Y") %>
                    <br>
                <% end %>
                <br>
                <% if @mobject.mtype == "Crowdfunding" %>
                
                  <% if @mobject.sum_amount and @mobject.sum_amount >= @mobject.amount %>
                    <%= render("mobjects/form_crowdfunding_service") %>
                  <% end %>
                
                  <% soll = @mobject.amount %>
                  <% if @mobject.mstats != nil %>
                    <% ist  = @mobject.mstats.sum(:amount) %>
                  <% else %>
                    <% ist = 0 %>
                  <% end %>
                  <b>Betrag</b><br>
                  <%= sprintf("%05.2f CHF", ist) %>
                  <br><br>
                  <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                      <span class="sr-only">40% Complete (success)</span>
                    </div>
                  </div>
      
        				  <% if @mobject.price %>
                    <preiss><b><%= sprintf("%05.2f CHF", @mobject.price) %></b></preiss>
        					<% else %>
                    <% if @mobject.social %>
                      <preiss><b><i class='glyphicon glyphicon-heart'></i></b></preiss>
                    <% end %>
        					<% end %>
                  <br><br>
                <% end %>
                
                <% case @mobject.mtype %>
                   <% when "Angebote", "Veranstaltungen", "Ausschreibungen", "Crowdfunding", "Umfragen" %>
                   
                    <% if @mobject.mtype == "Umfragen" %>
                    
                      <% useranswers = [] %>
                      <% @mobject.questions.each do |q| %>
                        <% q.answers.each do |a| %>
                          <% a.user_answers.each do |u| %>
                            <% if !useranswers.include?(u.user_id) %>
                              <% useranswers << u.user_id %>
                            <% end %>
                          <% end %>
                        <% end %>
                      <% end %>
                      
                      <div class="row">
                        <div class='col-xs-12'>
                          <div class='panel-heading header'>
                            <li_header> 
                              <%= "Anzahl Teilnehmer "+useranswers.count.to_s %>
                            </li_header>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                          <div>
                            <%= header("Antworten pro Frage", false) %>
                          </div>
                          <div id="chartq"></div>
                        </div>
 
                         <% @mobject.questions.each do |q| %>
                          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div>
                              <%= header("Frage "+q.name, false) %>
                            </div>
                            <div id="<%="chart"+q.id.to_s %>"></div>
                          </div>
                        <% end %>
                      </div>
                      <br>
                    <% end %>
                    
                     <% if @mobject.msubtype == "Standard" %>
                     <% else %>
                      <% if @mobject.msubtype == "Aktion" %>
                        <b>Preis</b><br>
                        <% if @mobject.price_new %> 
                          <%= sprintf("%05.2f CHF",@mobject.price_new) %> / 
                        <% end %>
                        <% if @mobject.price_reg  %>
                          <%= sprintf("%05.2f CHF",@mobject.price_reg) %><br>
                        <% end %>
                        <br>
                      <% end %>
                      <b>Datum von-bis</b><br>
                      <% if @mobject.date_from  %>
                        <%= @mobject.date_from.strftime("%d.%m.%Y") %>
                      <% end %>
                      <% if @mobject.date_to %>
                      - <%= @mobject.date_to.strftime("%d.%m.%Y") %>
                      <% end %>
                      <% if @mobject.date_from or @mobject.date_to %>
                        <br><br>
                      <% end %>
                      <% if @mobject.date_to != nil %>
                        <b>Laufzeit</b><br>
                        <b><ntext>noch </ntext></b><restlaufzeits><%= (@mobject.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeits> <b><ntext> Tage</ntext></b>
                        <br>
                        <% soll = (@mobject.date_to.to_date - @mobject.date_from.to_date).to_i %>
                        <% ist = (DateTime.now.to_date - @mobject.date_from.to_date).to_i %>
                        <% if soll > 0 and ist > 0 %>
                        <div class="progress">
                          <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar2" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist*100/soll) %>%">
                            <span class="sr-only">40% Complete (success)</span>
                          </div>
                        </div>
                        <% end %>
                      <% end %>
                      <br>
                      <% if @mobject.mtype == "Veranstaltungen" and @mobject.eventpart %>
                          </b><i class="glyphicon glyphicon-info-sign"></i> Anmeldung obligatorisch</b>
                       <% end %>
                      <% end %>
    
                   <% when "Vermietungen" %>
                    <b>Mietzeiten</b><br>
                    von:<%= @mobject.time_from %> bis: <%= @mobject.time_to %> Uhr
                    <br><br>
                    <b>Standort</b><br>
                    <%= @mobject.address1 if @mobject.address1 %><br>
                    <%= @mobject.address2 if @mobject.address2 %><br>
                    <%= @mobject.address3 if @mobject.address3 %><br>
                    <br>
                    
                   <% when "Projekte" %>
                    <%= header("Projekte, Teilprojekte, Aufträge, Tasks", false) %>
                    <div class="panel-body">
                      <%= build_medialist2(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "User") %>
                    </div>
                    <br>

                  <% when "Stellenanzeigen" %>
                      <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="thumbnail" align="center">
                            <anzeigetext>
                            <% if @mobject.msubtype == "Anbieten" %>
                  						Aufgaben
                  					<% else %>
                  					  Referenzen
                  					<% end %>
                            </anzeigetext>
                            <p>
                              <ntext>
                  						<%= @mobject.tasks %>
                  						</ntext>
                  					</p>
                          </div>
                        </div>
                        
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="thumbnail" align="center">
                            <anzeigetext>
                              Qualifikationen
                            </anzeigetext>
                            <p>
                              <ntext>
                  						<%= @mobject.skills %>
                  						</ntext>
                  					</p>
                          </div>
                        </div>
                
                        <div class="col-sm-6 col-md-4 col-lg-3">
                          <div class="thumbnail" align="center">
                            <anzeigetext>
                              Angebot
                            </anzeigetext>
                            <p>
                              <ntext>
                  						<%= @mobject.offers %>
                  						</ntext>
                  					</p>
                          </div>
                        </div>
                    </div>
                <% end %>
                <br><br>
                
                <b>Bewertung</b><br>
                <% avg_rating2(@mobject.id).times do %>
                  <i class="glyphicon glyphicon-star"></i>
                <% end %>
                <br><br>
                
                <% if @mobject.social %>
                    <i class="glyphicon glyphicon-heart"></i> soziales Engagement
                <% end %>
                <br><br>
    
                <% if @mobject.homepage != nil %>
                  <b>Homepage</b><br>
                  <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
                    <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@mobject.homepage) %>
                  <% end %>
                  <br><br>
                <% end %>
                
                <% if @mobject.description %>
                  <b>Beschreibung</b><br>
            			<%= @mobject.description %>
                  <br><br>
                <% end %>
                <% if @mobject.mcategory_id %>
                  <b>Kategorie</b><br>
            			<%= @mobject.mcategory.name %>
                  <br><br>
                <% end %>
                <% if @mobject.homepage != nil %>
                  <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
                    <i class="glyphicon glyphicon-home"></i> <%= url_with_protocol(@mobject.homepage) %>
                  <% end %>
                  <br><br>
                <% end %>
                <b>Verantwortlich:</b><br>

              <% else %>

                <br>
               	<%= build_article(@mobject) %>

              <% end %>
              <%= showImage2(:small, @mobject.owner, true) %><br>
              <% if @mobject.owner_type == "User" %>
                <%= @mobject.owner.name + " " + @mobject.owner.lastname %>
              <% end %>
              <% if @mobject.owner_type == "Company" %>
                <%= @mobject.owner.name %>
              <% end %>
        			<br><br>
              <%= @mobject.created_at.strftime("%d.%m.%Y") %>
              </div>
    
              <%= header("Ort (Karte)", false) %>
              <div class="panel-body">
                <i class="glyphicon glyphicon-map-marker pull-left" onclick="return init_map(0);"></i>
                <div id="map">
                  <div id="map-canvas"></div>
                </div>
              </div>


        <% when "Details" %>
          <%= header2("Objekte", @mobject, @topic, "Detailinformationen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mdetails.where('mtype=?', "Details"), "mdetails", nil) %>
          </div>

        <% when "Umfrageteilnehmer" %>
          <%= header2("Objekte", @mobject, @topic, "Umfrageteilnehmer", false) %>
          <div class="panel-body">
            <% useranswers = [] %>
            <% @mobject.questions.each do |q| %>
              <% q.answers.each do |a| %>
                <% a.user_answers.each do |u| %>
                  <% if !useranswers.include?(u.user_id) %>
                    <% useranswers << u.user_id %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
            <% if false %>
              <% useranswers.each do |us| %>
                <%= showImage2(:small, User.find(us), true) %>
              <% end %>
            <% end %>
            </div>

         <% when "Ausschreibungsangebote" %>
          <%= header2("Objekte", @mobject, @topic, "Ausschreibungsangebote", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mdetails.where('mtype=?', "Ausschreibungsangebote"), "mdetails", nil) %>
          </div>

        <% when "Sponsorenengagements" %>
          <%= header2("Objekte", @mobject, @topic, "Sponsorenengagements", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.msponsors, "msponsors", "Company") %>
          </div>
          
        <% when "Eintrittskarten" %>
          <%= header2("Objekte", @mobject, @topic, "Eintrittskarten", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.tickets, "tickets", nil) %>
          </div>

        <% when "Bewertungen" %>
          <%= header2("Objekte", @mobject, @topic, "Bewertungen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mratings, "mratings", "User") %>
          </div>

        <% when "Ansprechpartner" %>
          <%= header2("Objekte", @mobject, @topic, "Ansprechpartner", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors, "madvisors", "User") %>
          </div>

        <% when "Berechtigungen" %>
          <%= header2("Objekte", @mobject, @topic, "Zugriffsberechtigungen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "User") %>
          </div>

        <% when "Auftragscontrolling" %>
          <%= header2("Objekte", @mobject, @topic, "Soll / Ist Vergleich", false) %>
          <div class="panel-body">

              <% case @c_mode %>
                <% when "Monat" %>
                  <% btn_m = "active" %>
                  <% btn_y = "inactive" %>
                  <% btn_a = "inactive" %>
                <% when "Jahr" %>
                  <% btn_y = "active" %>
                  <% btn_m = "inactive" %>
                  <% btn_a = "inactive" %>
                <% when "alles" %>
                  <% btn_y = "inactive" %>
                  <% btn_m = "inactive" %>
                  <% btn_a = "active" %>
              <% end %>
              <% @date_start %>
              <% @date_end %>

              <%= link_to mobject_path(:id => @mobject.id, :topic => "Auftragscontrolling", :year => @c_year, :month => @c_month, :mode => "alles")  do %>
                <span><i class="btn btn-<%= btn_a %> glyphicon glyphicon-fullscreen"> alles</i></span>
              <% end %>
              <%= link_to mobject_path(:id => @mobject.id, :topic => "Auftragscontrolling", :year => @c_year, :month => @c_month, :mode => "Jahr")  do %>
                <span><i class="btn btn-<%= btn_y %> glyphicon glyphicon-calendar"> <%= @c_year %></i></span>
              <% end %>
              <%= link_to mobject_path(:id => @mobject.id, :topic => "Auftragscontrolling", :year => @c_year, :month => @c_month, :mode => "Monat")  do %>
                <span><i class="btn btn-<%= btn_m %> glyphicon glyphicon-calendar"> <%= @c_month %></i></span>
              <% end %>
              <% if @c_mode != "alles" %>
                <%= link_to mobject_path(:id => @mobject.id, :topic => "Auftragscontrolling", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode) do %>
                  <i class="btn btn btn-primary glyphicon glyphicon-chevron-left"></i>
                <% end %>
                <%= link_to mobject_path(:id => @mobject.id, :topic => "Auftragscontrolling", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode ) do %>
                  <i class="btn btn-primary glyphicon glyphicon-chevron-right"></i>
                <% end %>
              <% end %>
             <br><br>

            <!--Sicht Monat-->
            <% if @c_mode == "alles" %>
              <% @tts = Timetrack.select("jahrmonat, sum(amount) as sum").where('mobject_id=?',@mobject.id).group("jahrmonat") %>
              <% @pts = Planning.select("jahrmonat, sum(percentage) as sum").where('mobject_id=?',@mobject.id).group("jahrmonat") %>
            <% else %>        
              <% @tts = Timetrack.select("jahrmonat, sum(amount) as sum").where('mobject_id=? and datum>=? and datum<=?', @mobject.id, @date_start, @date_end).group("jahrmonat") %>
              <% if @c_mode == "Monat" %>
                <% @pts = Planning.select("jahrmonat, sum(percentage) as sum").where('mobject_id=? and jahr=? and monat=?', @mobject.id, @c_year.to_s, @c_month.to_s).group("jahrmonat") %>
              <% end %>
              <% if @c_mode == "Jahr" %>
                <% @pts = Planning.select("jahrmonat, sum(percentage) as sum").where('mobject_id=? and jahr=?',@mobject.id, @c_year.to_s).group("jahrmonat") %>
              <% end %>
            <% end %>
            <% @plans = [] %>
            <% @pts.each do |p| %>
              <% if p.sum > 0 %>
                <% h = Hash.new %>
                <% h = {:jahrmonat => p.jahrmonat.to_s, :kapa => (p.sum * 170) / 100} %>
                <% @plans << h %>
              <% end %>
            <% end %>
            <% @istsoll = [] %>
            <% @istsoll << ['kategorie', 'IST','PLAN'] %>
            <% @tts.each do |t| %>
              <% kapa = 0 %>
              <% for i in 0..@plans.length-1 %>
                <% if @plans[i][:jahrmonat] == t.jahrmonat %>
                  <% kapa = @plans[i][:kapa] %>
                <% end %>
              <% end %>
              <% @istsoll << [t.jahrmonat, t.sum, kapa] %>
            <% end %>
            <% @istsoll %>
            <div id="auftragschartall"></div>
            <br><br>

            <!--Sicht User-->
            <% if @c_mode == "alles" %>
              <% @tts = Timetrack.select("user_id, sum(amount) as sum").where('mobject_id=?',@mobject.id).group("user_id") %>
              <% @pts = Planning.select("user_id, sum(percentage) as sum").where('mobject_id=?',@mobject.id).group("user_id") %>
            <% else %>        
              <% @tts = Timetrack.select("user_id, sum(amount) as sum").where('mobject_id=? and datum>=? and datum<=?', @mobject.id, @date_start, @date_end).group("user_id") %>
              <% if @c_mode == "Monat" %>
                <% @pts = Planning.select("user_id, sum(percentage) as sum").where('mobject_id=? and jahr=? and monat=?', @mobject.id, @c_year.to_s, @c_month.to_s).group("user_id") %>
              <% end %>
              <% if @c_mode == "Jahr" %>
                <% @pts = Planning.select("user_id, sum(percentage) as sum").where('mobject_id=? and jahr=?',@mobject.id, @c_year.to_s).group("user_id") %>
              <% end %>
            <% end %>
            <% @plans = [] %>
            <% @pts.each do |p| %>
              <% if p.sum > 0 %>
                <% h = Hash.new %>
                <% h = {:user_id => p.user_id, :kapa => (p.sum * 170) / 100} %>
                <% @plans << h %>
              <% end %>
            <% end %>
            <% @istsollau = [] %>
            <% @istsollau << ['kategorie', 'IST','PLAN'] %>
            <% @tts.each do |t| %>
              <% kapa = 0 %>
              <% for i in 0..@plans.length-1 %>
                <% if @plans[i][:user_id] == t.user_id %>
                  <% kapa = @plans[i][:kapa] %>
                <% end %>
              <% end %>
              <% @user = User.find(t.user_id) %>
              <% @istsollau << [@user.name + " " + @user.lastname, t.sum, kapa] %>
            <% end %>
            <% @istsollau %>
            <div id="chartalluser"></div>
            <br><br>

            <div class="row">
  
                <% @iso = [] %>
                <% @timetracks = Timetrack.select("user_id").where('mobject_id=?', @mobject.id).distinct %>
                <% @timetracks.each do |t| %>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <div>
                      <% @user = User.find(t.user_id) %>
                      <%= header("User " + @user.name + " " + @user.lastname, false) %>
                      
                      <!--Sicht Monat/MA -->
                      <% if @c_mode == "alles" %>
                        <% @tts = Timetrack.select("jahrmonat, sum(amount) as sum").where('mobject_id=? and user_id=?',@mobject.id, t.user_id).group("jahrmonat") %>
                        <% @pts = Planning.select("jahrmonat, sum(percentage) as sum").where('mobject_id=? and user_id=?',@mobject.id, t.user_id).group("jahrmonat") %>
                      <% else %>        
                        <% @tts = Timetrack.select("jahrmonat, sum(amount) as sum").where('mobject_id=? and user_id=? and datum>=? and datum<=?', @mobject.id, t.user_id, @date_start, @date_end).group("jahrmonat") %>
                        <% if @c_mode == "Monat" %>
                          <% @pts = Planning.select("jahrmonat, sum(percentage) as sum").where('mobject_id=? and user_id=? and jahr=? and monat=?', @mobject.id, t.user_id, @c_year.to_s, @c_month.to_s).group("jahrmonat") %>
                        <% end %>
                        <% if @c_mode == "Jahr" %>
                          <% @pts = Planning.select("jahrmonat, sum(percentage) as sum").where('mobject_id=? and user_id=? and jahr=?',@mobject.id, t.user_id, @c_year.to_s).group("jahrmonat") %>
                        <% end %>
                      <% end %>
                      <% @plans = [] %>
                      <% @pts.each do |p| %>
                        <% if p.sum > 0 %>
                          <% h = Hash.new %>
                          <% h = {:jahrmonat => p.jahrmonat, :kapa => (p.sum * 170)/100} %>
                          <% @plans << h %>
                        <% end %>
                      <% end %>
                      <% @istsollall = [] %>
                      <% @istsollall << ['kategorie', 'IST','PLAN'] %>
                      <% @tts.each do |t| %>
                        <% kapa = 0 %>
                        <% for i in 0..@plans.length-1 %>
                          <% if @plans[i][:jahrmonat] == t.jahrmonat %>
                            <% kapa = @plans[i][:kapa] %>
                          <% end %>
                        <% end %>
                        <% @istsollall << [t.jahrmonat, t.sum, kapa] %>
                      <% end %>
                      <% @istsollall %>
                      <% @iso << @istsollall %>
                      <div id="<%="chart" + (@iso.length-1).to_s %>"></div>

                    </div>
                  </div>
                <% end %>
                <% @iso %>
            </div>

          </div>

        <% when "Blog" %>
          <%= header2("Objekte", @mobject, @topic, "Blog", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.comments.order(created_at: :desc), "comments", "User") %>
          </div>

        <% when "Fragen" %>
          <%= header2("Objekte", @mobject, @topic, "Fragen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.questions.order(created_at: :desc), "questions", "User") %>
          </div>

        <% when "Ausgaben" %>
          <%= header2("Objekte", @mobject, @topic, "Ausgaben/Editionen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.editions.order(created_at: :desc), "editions", "User") %>
          </div>

        <% when "Substruktur" %>
          <%= header2("Objekte", @mobject, @topic, "Teilprojekte, Teilaufträge ", false) %>
          <div class="panel-body">
            <%= build_medialist2(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "User") %>
          </div>

        <% when "Teilnehmer (Veranstaltungen)" %>
          <%= header2("Objekte", @mobject, @topic, "Veranstaltungsteilnehmer", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.participants, "participants", "User") %>
          </div>

        <% when "Kalender (Vermietungen)" %>
          <%= header2("Objekte", @mobject, @topic, "Kalender für Vermietungen", false) %>
          <div id='calendar'></div>
          <div class="panel-body">
          	<table class="table table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th colspan=2>gemietet von</th>
                  <th colspan=2>wann</th>
                </tr>
              </thead>
              <body>
                <% @mobject.mcalendars.each do |ca| %>
                  <tr>
                    <td>
          				    <% if user_signed_in? %>
          				      <% if (ca.mobject.owner_type == "User" and ca.mobject.owner_id == current_user.id) or (ca.mobject.owner_type == "Company" and ca.mobject.owner.user_id == current_user.id) %>
          				        <% if !ca.confirmed %>
                            <%= link_to mobject_path(:id => ca.mobject_id, :confirm_id => ca.id, :topic => "Kalender (Vermietungen)") do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-ok"></i>
                            <% end %>
                          <% else %>
                            <%= link_to mobject_path(:id => ca.mobject_id, :noconfirm_id => ca.id, :topic => "Kalender (Vermietungen)") do %>
                              <i class="btn btn-primary btn-xs glyphicon glyphicon-remove"></i>
                            <% end %>
                          <% end %>
          				      <% end %>
            				    <% if ca.user_id == current_user.id %>
                          <%= link_to listaccount_index_path :user_id => current_user.id, :user_id_ver => ca.mobject.owner_id, :company_id_ver => ca.mobject.owner_id, :ref => "Vergütung an "+ ca.mobject.name + " " + ca.date_from.strftime("%d.%m.%Y") + " " + ca.time_from.to_s + "Uhr -" + ca.date_to.strftime("%d.%m.%Y") + " " + ca.time_to.to_s + " Uhr", :object_name => "Mobject", :object_id => ca.mobject.id, :amount => 0 do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-euro"></i>
                          <% end %>
          				        <%= link_to edit_mcalendar_path(ca) do %>
                            <i class="btn btn-primary btn-xs glyphicon glyphicon-wrench"></i>
                          <% end %>
          				        <%= link_to ca, method: :delete, data: { confirm: 'Are you sure?' } do %>
                            <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                          <% end %>
              				  <% end %>
              				<% end %>
                    </td>
                    <td>
                    <%= showImage2(:small, ca.user, true) %>
                    </td>
                      <td>
                        <smallcall>
                        <%= ca.user.name %><br>
                        <%= ca.user.lastname %>
                        </smallcal>
                      </td>
                    <td>
                      <smallcall>
                      <%= ca.date_from.strftime("%d.%m.%Y")+"  "+ca.time_from.to_s+" Uhr"%><br>
                      <%= ca.date_to.strftime("%d.%m.%Y")+"  "+ca.time_to.to_s+" Uhr"%>
                      </smallcal>
                    </td>
                  </tr>
                <% end %>
              </body>
           	</table>
          </div>
          
        <% when "CF Statistik" %>
          <%= header2("Objekte", @mobject, @topic, "Statistik (Anzahl Transaktionen)", false) %>
          <div class="panel-body">
            <div id="curve_chart1"></div>
          </div>
          <%= header2("Objekte", @mobject, @topic, "Statistik (Beträge)", false) %>
          <div class="panel-body">
            <div id="curve_chart2"></div>
          </div>
          
        <% when "CF Transaktionen" %>
          <%= header2("Objekte", @mobject, @topic, "Transaktionen", false) %>
          <div class="panel-body">
            <%= build_medialist2(@mobject.mstats.order(amount: :desc), "mstats", "Owner") %>
          </div>

        <% when "Standort" %>
          <%= header2("Objekte", @mobject, @topic, "Standort", false) %>
          <div class="panel-body">
            <div id="map">
              <div id="map-canvas"></div>
            </div>
          </div>

      <% end %>
    </div>
    
  </div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script>
$(document).ready(function(){

      google.charts.load('current', {'packages':['corechart']});
      
      <% if @topic == "Auftragscontrolling" %>
        google.charts.setOnLoadCallback(drawChartall);
        function drawChartall() {
          var data = google.visualization.arrayToDataTable(<%= raw @istsoll %>);
          var options = {
            title: 'Rapportierte Stunden',
            colors: ['#ACC550','#2E6B33'],
            // legend: { position: 'bottom' }
          };
          // var chart = new google.visualization.ColumnChart(document.getElementById("auftragschartall"));
          var chart = new google.visualization.LineChart(document.getElementById("auftragschartall"));
          chart.draw(data, options);
        };

        google.charts.setOnLoadCallback(drawChartuser);
        function drawChartuser() {
          var data = google.visualization.arrayToDataTable(<%= raw @istsollau %>);
          var options = {
            title: 'Rapportierte Stunden',
            colors: ['#ACC550','#2E6B33'],
            // legend: { position: 'bottom' }
          };
          var chart = new google.visualization.ColumnChart(document.getElementById('chartalluser'));
          chart.draw(data, options);
        };

        <% if true %>
        <% for i in 0..@iso.length-1 do %>
            google.charts.setOnLoadCallback(drawChart<%= i.to_s %>);
            function drawChart<%= i.to_s %>() {
              var data = google.visualization.arrayToDataTable(<%= raw @iso[i] %>);
              var options = {
                title: 'Rapportierte Stunden',
                colors: ['#ACC550','#2E6B33'],
                // legend: { position: 'bottom' }
              };
              var chart = new google.visualization.LineChart(document.getElementById('<%="chart"+i.to_s %>'));
              chart.draw(data, options);
            };
            <% i = i + 1 %>
        <% end %>
        <% end %>
      
      <% end %>
        
      <% if @mobject.mtype == "Umfragen" %>
      
      
      window.datasetq = [['kategorie', 'anzahl'],['keine Antwort',0]];
      <% @mobject.questions.each do |q| %>
        <% anzCount =0 %>
        <% q.answers.each do |a| %>
          <% anzCount = anzCount + a.user_answers.count %>
        <% end %>
        datasetq.push(['<%= q.name %>', <%= anzCount %>]);
      <% end %>
      google.charts.setOnLoadCallback(drawChartq);
      function drawChartq() {
        var data = google.visualization.arrayToDataTable(datasetq);
        var options = {
          title: 'Antworten',
          colors: ['#ACC550'],
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('chartq'));
        chart.draw(data, options);
      };
        

      <% @mobject.questions.each do |q| %>
      
        <% if q.mcategory.name == "Multiple" or q.mcategory.name == "Single" %>
          window.dataset<%= q.id.to_s %> = [['kategorie', 'anzahl'],['keine Antwort',0]];
          <% q.answers.each do |qa| %>
            dataset<%= q.id.to_s %>.push(['<%= qa.name %>', <%= qa.user_answers.where('checker=?',true).count %>]);
          <% end %>
        <% end %>
    
        <% if q.mcategory.name == "Numerisch" %>
          window.dataset<%= q.id.to_s %> = [['kategorie', 'anzahl'],['keine Antwort',0]];
          <% q.answers.each do |qa| %>
            dataset<%= q.id.to_s %>.push(['Minimum', <%= qa.user_answers.minimum(:num) %>]);
            dataset<%= q.id.to_s %>.push(['Maximum', <%= qa.user_answers.maximum(:num) %>]);
            dataset<%= q.id.to_s %>.push(['Durchschnitt', <%= qa.user_answers.average(:num) %>]);
          <% end %>
        <% end %>
    
        <% if q.mcategory.name == "Text" %>
          window.dataset<%= q.id.to_s %> = [['kategorie', 'anzahl'],['keine Antwort',0]];
          <% q.answers.each do |qa| %>
            dataset<%= q.id.to_s %>.push(['kein Text angegeben', <%= qa.user_answers.where('description=?',"").count %>]);
            dataset<%= q.id.to_s %>.push(['Text angegeben', <%= qa.user_answers.where('description<>?',"").count %>]);
          <% end %>
        <% end %>
    
        google.charts.setOnLoadCallback(drawChart<%= q.id.to_s %>);
        function drawChart<%= q.id.to_s %>() {
          var data = google.visualization.arrayToDataTable(dataset<%= q.id.to_s %>);
          var options = {
            title: 'Antworten',
            colors: ['#ACC550'],
            legend: { position: 'bottom' }
          };
          var chart = new google.visualization.ColumnChart(document.getElementById('<%="chart"+q.id.to_s %>'));
          chart.draw(data, options);
        };
    
    <% end %>
    <% end %>

  
    $("nav").hide();
    $("navhide").hide();
    $("navhide").hide();

    $("navshow").mouseover(function(){
        $("nav").show();
        $("navshow").hide();
        $("navhide").show();

    });
    
    $("navhide").mouseover(function(){
        $("nav").hide();
        $("navshow").show();
        $("navhide").hide();
    });

    $('#calendar').fullCalendar({
        now: '<%= DateTime.now %>',
        allDaySlot: false,
        timeFormat: 'H(:mm)',
        defaultView: 'basicWeek',
        defaultView: 'basicDay',
        defaultView: 'basicWeek',
        defaultView: 'listYear',
        defaultView: 'month',
        defaultView: 'agendaWeek',
        slotDuration: '1:00:00',
        contentHeight: 'auto',
        <% if @mobject.time_from and @mobject.time_to %>
          minTime: '<%= @mobject.time_from %>:00',
          maxTime: '<%= @mobject.time_to %>:00',
        <% end %>
        textColor: 'white',
        firstDay: 1,
        weekNumbers: true,
        events: [<%= raw @array %> ]
    });
    
    $("a").tooltip();
    
    $('.owl-show').owlCarousel({  
      
      itemsCustom : false,
      itemsDesktop : [1199,4],
      itemsDesktopSmall : [980,3],
      itemsTablet: [768,2],
      itemsTabletSmall: false,
      itemsMobile : [479,1],
      autoPlay: true
      
    });

    function init_map(index) {
        var latitudes = [<%= @mobject.latitude %>];
        var longitudes = [<%= @mobject.longitude %>];
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),mapOptions);
        marker.setMap(map);
    }
    
    google.charts.setOnLoadCallback(drawChartA);
    function drawChartA() {
      var data = google.visualization.arrayToDataTable([
        ['Datum', 'Anzahl'],
        <%= raw @anz_s %>
      ]);
      var options = {
        title: 'Crowdfunding Performance',
        curveType: 'function',
        colors: ['#ACC550'],
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));
      chart.draw(data, options);
    }
    
    google.charts.setOnLoadCallback(drawChartB);
    function drawChartB() {
      var data = google.visualization.arrayToDataTable([
        ['Datum', 'Betrag'],
        <%= raw @bet_s %>
      ]);
      var options = {
        title: 'Crowdfunding Performance',
        curveType: 'function',
        colors: ['#ACC550'],
        legend: { position: 'bottom' }
      };
      var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
      chart.draw(data, options);
    }

});
</script>

<!--<script>-->
<!--  document.addEventListener("turbolinks:load", function() {init_map(0); drawChart1(); drawChart2(); owlCarousel()})-->
<!--</script>-->

