<%= form_for(mlike) do |f| %>
  <% if mlike.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mlike.errors.count, "error") %> prohibited this mlike from being saved:</h2>

      <ul>
      <% mlike.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :mobject_id %>
    <%= f.number_field :mobject_id %>
  </div>

  <div class="field">
    <%= f.label :like %>
    <%= f.check_box :like %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
