<p id="notice"><%= notice %></p>

<h1>Mlikes</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Mobject</th>
      <th>Like</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mlikes.each do |mlike| %>
      <tr>
        <td><%= mlike.user_id %></td>
        <td><%= mlike.mobject_id %></td>
        <td><%= mlike.like %></td>
        <td><%= link_to 'Show', mlike %></td>
        <td><%= link_to 'Edit', edit_mlike_path(mlike) %></td>
        <td><%= link_to 'Destroy', mlike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mlike', new_mlike_path %>
