<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @mlike.user_id %>
</p>

<p>
  <strong>Mobject:</strong>
  <%= @mlike.mobject_id %>
</p>

<p>
  <strong>Like:</strong>
  <%= @mlike.like %>
</p>

<%= link_to 'Edit', edit_mlike_path(@mlike) %> |
<%= link_to 'Back', mlikes_path %>
