<p id="notice"><%= notice %></p>

<p>
  <strong>Mobject:</strong>
  <%= @price.mobject_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @price.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @price.description %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @price.sequence %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
