
<div class="row">
    <%= header("Funktionen Privatpersonen", true) %>
</div>
<%= build_kachel_access(@appparams.where("domain=?","Privatpersonen"), "manage") %>

<div class="row">
    <%= header("Funktionen Institutionen", true) %>
</div>
<%= build_kachel_access(@appparams.where("domain=?","Institutionen"), "manage") %>

<div class="row">
    <%= header("Funktionen Business Objekte", true) %>
</div>
<%= build_kachel_access(@appparams.where("domain=?","Objekte"), "manage") %>
