<div class="row">
    <%= header("mein Markt", true) %>
</div>
<%= build_kachel_access("Funktionen", "User") %>
<div class="row">
    <%= header("Funktionen Privatpersonen", true) %>
</div>
<%= build_kachel_access("Privatpersonen", "User") %>
<div class="row">
    <%= header("Funktionen Institutionen", true) %>
</div>
<%= build_kachel_access("Institutionen", "User") %>
<div class="row">
    <%= header("Funktionen Business Objekte", true) %>
</div>
<%= build_kachel_access("Objekte", "User") %>
