<div class="row">
    <div class="row">
        <%= header($app_name + " Funktionalität für "+@user.fullname, true) %>
    </div>
    <br>
    <%= header("Hauptmenü", true) %>
</div>
<%= build_kachel_access("hauptmenue", "user", @user) %>
<div class="row">
    <%= header("Funktionen Privatpersonen", true) %>
</div>
<%= build_kachel_access("personen", "user", @user) %>
<div class="row">
    <%= header("Funktionen Institutionen", true) %>
</div>
<%= build_kachel_access("institutionen", "user", @user) %>
<div class="row">
    <%= header("Funktionen Business Objekte", true) %>
</div>
<%= build_kachel_access("objekte", "user", @user) %>
<div class="row">
    <%= header("Funktionen Kampagnen", true) %>
</div>
<%= build_kachel_access("dskampagnen", "user", @user) %>
<div class="row">
    <%= header("Funktionen Standorte", true) %>
</div>
<%= build_kachel_access("dsstandorte", "user", @user) %>
