<p id="notice"><%= notice %></p>

<p>
  <strong>Scope:</strong>
  <%= @credential.scope %>
</p>

<p>
  <strong>User:</strong>
  <%= @credential.user_id %>
</p>

<p>
  <strong>Access:</strong>
  <%= @credential.access %>
</p>

<%= link_to 'Edit', edit_credential_path(@credential) %> |
<%= link_to 'Back', credentials_path %>
