<p id="notice"><%= notice %></p>

<p>
  <strong>Status:</strong>
  <%= @appointment.status %>
</p>

<p>
  <strong>Active:</strong>
  <%= @appointment.active %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @appointment.subject %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @appointment.subject_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user_id %>
</p>

<p>
  <strong>Partner:</strong>
  <%= @appointment.partner_id %>
</p>

<p>
  <strong>Partner type:</strong>
  <%= @appointment.partner_type %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @appointment.datum %>
</p>

<p>
  <strong>Zeit:</strong>
  <%= @appointment.zeit %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @appointment.reminder %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
