<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= (I18n.t :resetpw) %>, <%= @user.name %></h1>
    <% attachments.inline["thurcloud.png"] = File.read(Rails.root.join("app/assets/images/#{"thurcloud.png"}")) %>
    <%= image_tag attachments["thurcloud.png"].url, :size => "200x200" %>
    <p><%= (I18n.t :hallo) + " " + @resource.email %>!</p>
    <p>
      <%= (I18n.t :resetpwhint) %>
    </p>
    <p>
      <p><%= link_to (I18n.t :changepw), edit_password_url(@resource, :reset_password_token => @token) %></p>
    </p>
    <p><%= (I18n.t :resetpwdisclaimer) %></p>
  </body>
</html>
