  <%= form_for @mdetail, html: {multipart: true}  do |f| %>
     <div class="row">
        <div class="col-md-10">
            <div class="panel panel-default">
                <div class="panel-heading header">
                <li_header>
                <%= link_to mobject_path(:id => @mdetail.mobject_id, :topic => "Details") do %>
                  <i class="btn btn-primary glyphicon glyphicon-list"></i>
                <% end %>
                  DETAILS <%= @mdetail.mobject.name %>
                </li_header>
                </div>
                <div class="panel-body">
                  <% if @mdetail.errors.any? %>
                    <div id="error_explanation">
                      <h2><%= pluralize(@mdetail.errors.count, "error") %> prohibited this workorder from being saved:</h2>
                      <ul>
                        <% @mdetail.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group">
                     <%= f.label "Photo " + @mdetail.avatar_file_name.to_s %><br/>
                     <%= image_tag @mdetail.avatar.url(:medium) %>
                  </div>
                  <div class="form-group">
                     <%= f.file_field :avatar, class:"form-control" %>
                  </div>
                  <div class="form-group">
                    <%= f.label "Bezeichnung" %><br/>
                    <%= f.text_field :name, autofocus: true, class:"form-control"%>
                  </div>
                  <div class="form-group">
                    <%= f.label "Beschreibung" %><br/>
                    <%= f.text_area :description, rows: 5, class:"form-control"%>
                  </div>
                  <div class="form-group">
                    <%= f.label "Reihenfolge" %><br/>
                    <%= f.number_field :sequence, class:"form-control"%>
                  </div>
                  <% if @mdetail.mobject.mtype == "Artikel" %>
                      <%= f.label "Textoptionen" %><br/>
                      <%= f.radio_button :textoptions, "Text" %>Text<br>
                      <%= f.radio_button :textoptions, "Link" %>Link<br>
                      <%= f.radio_button :textoptions, "Zitat" %>Zitat<br>
                  <% end %>
                  <div class="form-group">
                     <%= f.label "Dokument " + @mdetail.document_file_name.to_s %><br/>
                  </div>
                  <div class="form-group">
                     <%= f.file_field :document, class:"form-control" %>
                  </div>
                  <div>
                      <%= f.hidden_field :mobject_id, class:"form-control" %>
                      <%= f.hidden_field :mtype, class:"form-control" %>
                  </div>
                </div>
            </div>
        </div>
     </div>
     <div class="row">
        <div class="col-md-6">
            <div class="actions">
              <%= f.submit "Speichern", class:"btn btn-primary btn-lg"%>
            </div>
        </div>
      </div>
    </div>
  <% end %>

<script>
  document.addEventListener("turbolinks:load", function() {})
</script>