<p id="notice"><%= notice %></p>

<p>
  <strong>Header:</strong>
  <%= @email.header %>
</p>

<p>
  <strong>Body:</strong>
  <%= @email.body %>
</p>

<p>
  <strong>M from:</strong>
  <%= @email.m_from %>
</p>

<p>
  <strong>M to:</strong>
  <%= @email.m_to %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
