<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Account ver</th>
      <th>Account bel</th>
      <th>Valuta</th>
      <th>Status ver</th>
      <th>Status bel</th>
      <th>Status</th>
      <th>Active</th>
      <th>Trx text</th>
      <th>Trx ref</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.account_ver %></td>
        <td><%= transaction.account_bel %></td>
        <td><%= transaction.valuta %></td>
        <td><%= transaction.status_ver %></td>
        <td><%= transaction.status_bel %></td>
        <td><%= transaction.status %></td>
        <td><%= transaction.active %></td>
        <td><%= transaction.trx_text %></td>
        <td><%= transaction.trx_ref %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
