<p id="notice"><%= notice %></p>

<p>
  <strong>Account ver:</strong>
  <%= @transaction.account_ver %>
</p>

<p>
  <strong>Account bel:</strong>
  <%= @transaction.account_bel %>
</p>

<p>
  <strong>Valuta:</strong>
  <%= @transaction.valuta %>
</p>

<p>
  <strong>Valuta:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Status ver:</strong>
  <%= @transaction.status_ver %>
</p>

<p>
  <strong>Status bel:</strong>
  <%= @transaction.status_bel %>
</p>

<p>
  <strong>Status:</strong>
  <%= @transaction.status %>
</p>

<p>
  <strong>Active:</strong>
  <%= @transaction.active %>
</p>

<p>
  <strong>Trx text:</strong>
  <%= @transaction.text %>
</p>

<p>
  <strong>Trx text:</strong>
  <%= @transaction.ref %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
