
  <div class="row">
     <div class="col-md-12">
       <div class="panel-heading header">
          <div class="li_header">
          meine Tickets
          <span class="badge"><%= @ticanz %></span>
          </div>
       </div>
     </div>
   </div>
   <br>
   
  <div class="panel-body">
  <% ticketcount = 0 %>
  <% @user_tickets.each do |ut| %>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail" align="center">
        <anzeigetext>
          <%= ut.ticket.ticket_category.name %><br>
					<%= ut.ticket.name %><br>
				</anzeigetext><br>
        <% if !ut.user.avatar_file_name %>
          <%= image_tag("user_a.png", :size => "50x50" , class:"img-rounded") %>
        <% else %>
          <%= image_tag ut.user.avatar(:small), class:"img-rounded"%>
        <% end %>
        <%= ut.user.name + " " + ut.user.lastname %><br>
        <ntext><br>
        <b>Veranstaltung</b><br>
        <%= link_to ut.ticket.sponsor.event do %>
          <%= carousel2(ut.ticket.sponsor.event.event_details, :medium) %><br>
        <% end %>
        <%= ut.ticket.sponsor.event.name %><br>
        <%= ut.ticket.sponsor.event.date_from.strftime("%d.%m.%Y") + " - " + ut.ticket.sponsor.event.date_to.strftime("%d.%m.%Y")  %><br>
        <br>
        <b>überreicht von</b><br>
        <% if !ut.ticket.sponsor.company.avatar_file_name %>
          <%= image_tag("user_a.png", :size => "50x50" , class:"img-rounded") %>
        <% else %>
          <%= image_tag ut.ticket.sponsor.company.avatar(:small), class:"img-rounded"%>
        <% end %>
        <%= ut.ticket.sponsor.company.name %>
        </ntext>
        <div class="caption">
            <ntext>
  				  <%= ut.ticket.description %>
            </ntext>
  			</div>
        <ntext>
  		  <%= ut.ticket.created_at.strftime("%d.%b.%Y %H:%M Uhr") %>
  		  <% if ut.ticket.created_at.to_date == Date.today %>
  		    Heute
  		  <% end %>
  		  <% if (Date.today - ut.ticket.created_at.to_date) == 1 %>
  		    Gestern
  		  <% end %>
  		  <% if Date.today - ut.ticket.created_at.to_date > 1 %>
          <% anz = (Date.today.to_date - ut.ticket.created_at.to_date).to_i %>
          Vor <%= anz %> Tagen
  		  <% end %>
        </ntext>    		  
        </p>
  			<p>
  			<% case ut.status %>
  			  <% when "überreicht" %>
            <%= link_to edit_user_ticket_path(ut) do %>
              <i class="btn btn-primary btn btn-lg glyphicon glyphicon-shopping-cart"> Ticket aktivieren</i>
            <% end %>
  			  <% when "aktiviert" %>
            <%= link_to edit_user_ticket_path(ut) do %>
              <i class="btn btn-primary btn btn-lg glyphicon glyphicon-shopping-cart"> Ticket einlösen</i>
            <% end %>
        <% end %>
  		</div>
		</div>
  <% end %>
  </div>

