<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_ticket.user_id %>
</p>

<p>
  <strong>Ticket:</strong>
  <%= @user_ticket.ticket_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user_ticket.status %>
</p>

<%= link_to 'Edit', edit_user_ticket_path(@user_ticket) %> |
<%= link_to 'Back', user_tickets_path %>
