

  <div class="row">
    <% @item = Object.const_get(@object_name).find(@object_id) %>
    <%= action_buttons2("Account", @item, nil) %>
  </div>

  <div class="row">
    <%= header("Kontoübersicht " + @user.fullname, true) %>
  </div>
  
  <div class="row">

          <%= header("Kontoübersicht (privat)", true) %>
          <div class='col-xs-12'><div class="panel-body">
            <% @ali = [] %>
            <% @partners = Company.where('partner=?',true) %>
            <% @partners.each do |p| %>
              <% @customer = @user.customers.where("partner_id=?", p.id).first %>
              <% if @customer %>
                <% @customer.accounts.each do |ca| %>
                  <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="thumbnail" align="center">
                      <%= link_to new_transaction_path(:user_id => @user.id, :ref => @ref, :object_name => @object_name, :object_id => @object_id, :amount => @amount, :user_id_ver => @user_id_ver, :company_id_ver => @company_id_ver, :account_bel => ca.id) do %>
                        <%= showImage2(:medium, p, false) %> 
                      <% end %>
                      <br><br>
                      <%= p.name %><br>
                      <anzeigetext><%= ca.name %></anzeigetext><br>
                      <ntext><%= ca.iban %></ntext>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div></div>

          <% @user.companies.each do |c| %>
            <%= header("Kontoübersicht "+c.name, true) %>
            <div class='col-xs-12'><div class="panel-body">
              <% @ali = [] %>
              <% @partners = Company.where('partner=?',true) %>
              <% @partners.each do |p| %>
                <% @customer = c.customers.where("partner_id=?", p.id).first %>
                <% if @customer %>
                  <% @customer.accounts.each do |ca| %>
                    <div class="col-sm-6 col-md-4 col-lg-3">
                      <div class="thumbnail" align="center">
                        <%= link_to new_transaction_path(:company_id => c.id, :ref => @ref, :object_name => @object_name, :object_id => @object_id, :amount => @amount, :user_id_ver => @user_id_ver, :company_id_ver => @company_id_ver, :account_bel => ca.id) do %>
                          <%= showImage2(:medium, p, false) %> 
                        <% end %>
                        <br><br>
                        <%= p.name %><br>
                        <anzeigetext><%= ca.name %></anzeigetext><br>
                        <ntext><%= ca.iban %></ntext>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            </div></div>
          <% end %>

  </div>