<p id="notice"><%= notice %></p>

<p>
  <strong>Owner:</strong>
  <%= @charge.owner_id %>
</p>

<p>
  <strong>Owner type:</strong>
  <%= @charge.owner_type %>
</p>

<p>
  <strong>Stripe:</strong>
  <%= @charge.stripe_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @charge.amount %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @charge.plan %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
