<% controller_name + action_name %>
<% if controller_name == "home" and action_name == "index11" %>
    <%= %>
<% else %>
<br>
<div class="nav-panel-black">

    <br>
    <div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <%= render 'layouts/advertise' %>
        </div>
    </div>
    
    <br>
    <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3">
                <footer_header>
                    <%= I18n.t :nutzungsbedingungen %>
                </footer_header>
                <br>
                <footer_text>
                    <%= link_to((I18n.t :info), home_index_path) %><br>
                    <%= link_to((I18n.t :ueberuns), url_with_protocol("ueber_uns.html"), :target => '_blank') %><br>
                    <%= link_to((I18n.t :impressum), url_with_protocol("impressum.html"), :target => '_blank') %><br>
                    <%= link_to((I18n.t :rechtliches), url_with_protocol("rechtliches.html"), :target => '_blank') %><br>
                    <br>
                </footer_text>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <footer_header>
                    <%= I18n.t :registrieren %>
                </footer_header>
                <br>
                <footer_text>
                    <% if !user_signed_in? %>
                        <%= link_to (I18n.t :anmelden), new_user_session_path %><br>
                        <%= link_to (I18n.t :registrieren), new_user_registration_path %><br>
                    <% else %>
                       <% link_to (I18n.t :anmelden), credentials_path(current_user.id) %>
                       <%= link_to (I18n.t :abmelden), destroy_user_session_path, method: :delete %><br>
    		           <%= link_to (I18n.t :passwordchange), edit_user_registration_path %><br><br>
    		           <%= link_to (I18n.t :accountdel), registration_path(current_user), data: { confirm: (I18n.t :sindsiesicher) }, method: :delete, class:"btn btn-danger btn-xs" %><br>
                    <% end %>
                </footer_text>
            </div>

            <% if user_signed_in? and (current_user.webmaster or current_user.superuser) %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <footer_header>
                        <%= (I18n.t :poweruser) %>
                    </footer_header>
                    <br>
                    <footer_text>
                        <% if user_signed_in? %>
    					   <% if current_user.webmaster %>
    							<%= link_to (I18n.t :webmaster), webmasters_path  %><br><br>
    					   <% end %>
    					   <% if current_user.superuser %>
        						<%= link_to (I18n.t :funktionsmgt), appparams_path %><br>
        						<%= link_to (I18n.t :tabellenmgt), home_index9_path %><br>
        						<%= link_to (I18n.t :userstat), home_index2_path %><br>
        						<!--<%= link_to "Dashboard", home_dashboard_path %><br><br>-->
        						<!--<%= link_to "Dashboard2", home_dashboard2_path %><br><br>-->
        						<!--<%= link_to "Dashboard Project", home_dashboard_project_path %><br><br>-->
        						<%= link_to "Test", home_index17_path %><br><br>
    					   <% end %>
                        <% end %>
                    </footer_text>
                </div>
            <% end %>

            <div class="col-sm-6 col-md-4 col-lg-3">
                <footer_header>
                    <%= (I18n.t :partner) %>
                </footer_header>
                <br>
                <footer_text>
                <% @partners = Company.where('partner=?','t') %>
                <% @partners.each do |p| %>
                    <%= link_to p do %>
                        <%= p.name %><br>
                    <% end %>
                <% end %>
                </footer_text>
            </div>
    </div>
    <br>
    <div class="row">

            <div class="col-sm-6 col-md-4 col-lg-3">
                <i class="glyphicon glyphicon-copyright-mark"></i> <%= (I18n.t :tgcloudsoft) %>
            </div>
    </div>
    </div>

</div>
<% end %>
