<br>
<br>
<br>
<br>
<br>
<br>
<br>


<nav class="navbar nav-panel-black">
  <div class="container-fluid">
	<marquee height="100%" scrolldelay="150"><%= ticker() %></marquee>	
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="info-bar"></span>
        <span class="info-bar"></span>
        <span class="info-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	
        <li>
		<%= link_to home_index3_path do %>
	            <i class="glyphicon glyphicon-home" style="font-size:2em"></i>
		<% end %>
        </li>
        
		<% if user_signed_in? and $controller_list.include?(controller_name) and action_name == "index" %>
		    <li>
			<% case controller_name %>
				<% when "users" %>
	  		        <%= link_to searches_path :search_domain => "personen", :controller_name => controller_name do %>
	  		          <i class="glyphicon glyphicon-filter" style="font-size:2em"></i>
            		<% end %>
				<% when "companies" %>
	  		        <%= link_to searches_path :search_domain => "institutionen", :controller_name => controller_name do %>
	  		          <i class="glyphicon glyphicon-filter" style="font-size:2em"></i>
	  		        <% end %>
				<% when "mobjects", "showcal" %>
	  		        <%= link_to searches_path :search_domain => "objekte", :mtype => session[:mtype], :msubtype => session[:msubtype], :controller_name => controller_name do %>
	  		          <i class="glyphicon glyphicon-filter" style="font-size:2em"></i>
	  		        <% end %>
			<% end %>
			</li>
		<% end %>
      </ul>

		<% if $controller_list.include?(controller_name) and (action_name == "index") %>
			<% @items = url_for(action: action_name, controller: controller_name) %>
			<%= form_tag @items, method: 'get', class:'navbar-form navbar-left' do %>
					<div class="form-group">
						<div class="col=xs-1 col-md-2 col-lg-3">
				        	<%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Suchen...' %>
				        </div>
					</div>
				    <%= button_tag "", type: 'submit', class: "btn btn-nav glyphicon glyphicon-search" %>
			<% end %>
		<% end %>

      <ul class="nav navbar-nav navbar-right">
		<% if user_signed_in? %>
		    <li>
			<%= link_to current_user do %>
		            <i class="glyphicon glyphicon-user" style="font-size:2em"></i>
		            <!--<span><i class="glyphicon glyphicon-user" style="font-size:2em"></i> <%= current_user.name[0] + "." + current_user.lastname %></span>-->
			<% end %>
			</li>
			<% if false %>
				<li>
				<%= link_to(destroy_user_session_path, method: :delete) do %>
			            <i class="glyphicon glyphicon-log-out" style="font-size:2em"></i>
				<% end %>
				</li>
			<% end %>
		<% else %>
		    <li>
			<%= link_to new_user_session_path do %>
	            <i class="glyphicon glyphicon-log-in" style="font-size:2em"></i>
			<% end %>
			</li>
		<% end %>
      </ul>
      
    </div><!-- /.navbar-collapse -->
    
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% if user_signed_in? %>
				<user_logged_in><%= current_user.name + " " + current_user.lastname %></user_logged_in>
			<% else %>
				<user_logged_in>kein Benutzer angemeldet!</user_logged_in>
			<% end %>
			<% if !flash.empty? %>
			    <% flash.each do |name, msg| %>
			      <% content_tag(:div, msg, class:"alert alert-warning") %>
			      <message><fade><%= msg %></fade></message> 
			    <% end %>
			<% end %>
		</div>
	</div>
    
  </div><!-- /.container-fluid -->
</nav>      

<script>
$(document).ready(function(){
     $("fade").fadeOut(10000);
});
</script>

<script>
$(document).ready(function(){
	$("search_form").show();
});
</script>

<script>
$(document).ready(function(){
    $("#show").mouseenter(function(){
        alert("You entered p1!");
    });
});
</script>