<div class="panel nav-panel-black navbar-fixed-top">
	<br>
	<div class="container-fluid">
		<marquee height="100%" scrolldelay="150"><%= ticker() %></marquee>	
		<div class="row">
			<div  class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
				<%= link_to home_index3_path do %>
					<div class="thumbnail thumbnail-navnav" align="center">
			            <i class="glyphicon glyphicon-home" style="font-size:3em"></i><br>
			            <small_cal>Home</small_cal>
			        </div>
				<% end %>
			</div>

			<div  class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
				<% if $controller_list.include?(controller_name) and (action_name == "index") or (controller_name == "showcal" and (action_name == "action" or action_name == "bid" or action_name == "event")) %>
					<% @items = url_for(action: action_name, controller: controller_name) %>
					<%= form_tag(@items, method: 'get', class: 'navbar-form navbar-left') do %>
					  <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search'  %>
					  <% submit_tag "Suchen", class: 'btn btn-default', :name => nil %>
					<% end %>
				<% end %>
			</div>

			<div  class="col-xs-3 col-sm-2 col-md-1 col-lg-1 pull-right">
				<% if user_signed_in? %>
					<%= link_to current_user do %>
						<div class="thumbnail thumbnail-navnav" align="center">
				            <i class="glyphicon glyphicon-user" style="font-size:3em"></i><br>
							<small_cal><%= current_user.name[0] + "." + current_user.lastname %></small_cal>
						</div>
					<% end %>
				<% else %>
					<%= link_to new_user_session_path do %>
						<div class="thumbnail thumbnail-navnav" align="center">
			            <i class="glyphicon glyphicon-log-in" style="font-size:3em"></i><br>
							<small_cal>LogIn</small_cal>
						</div>
					<% end %> 
				<% end %>
			</div>
		</div>
	</div>
    <% flash.each do |name, msg| %>
      <% content_tag(:div, msg, class:"alert alert-warning") %>
      <message><fade><%= msg %></fade></message> 
    <% end %>
</div>

<br><br><br><br><br><br>

<script>
$(document).ready(function(){
        $("fade").fadeOut(10000);
});
</script>