<% controller_name + action_name %>
<% if controller_name == "home" and action_name == "index11" %>
<% else %>
<div class="nav-panel-black navbar-fixed-top">
	<div class="container-fluid">
		<marquee height="100%" scrolldelay="150"><%= ticker() %></marquee>	
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left">
				<%= link_to home_index3_path do %>
			            <i class="glyphicon glyphicon-home" style="font-size:3em"></i>
				<% end %>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<% if user_signed_in? %>
					<%= link_to current_user do %>
						<i class="glyphicon glyphicon-user" style="font-size:3em"></i>
						<user_logged_in><%= current_user.name[0] + "." + current_user.lastname %></user_logged_in>
					<% end %>
				<% else %>
					<% if false %>
					<i class="glyphicon glyphicon-user" style="font-size:3em"></i>
					<user_logged_in>kein Benutzer angemeldet!</user_logged_in>
					<% end %>
				<% end %>
			</div>
			
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
				<% if user_signed_in? %>
					<%= link_to(destroy_user_session_path, method: :delete) do %>
				    	<i class="glyphicon glyphicon-log-out pull-right" style="font-size:3em"></i>
					<% end %>
				<% else %>
					<%= link_to new_user_session_path do %>
			            <i class="glyphicon glyphicon-log-in pull-right" style="font-size:3em"></i>
					<% end %> 
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<% if $controller_list.include?(controller_name) and (action_name == "index") %>
					<% @items = url_for(action: action_name, controller: controller_name) %>
					<%= form_tag @items, method: 'get' do %>
						<div class="form-inline">
							<div class="form-group">
								  <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Suchen...' %>
								  <% button_tag "", type: 'submit', class: "btn btn-nav btn-xs glyphicon glyphicon-search" %>
							</div>
						</div>
					<% end %>
				<% end %>
				<% if !flash.empty? %>
				    <% flash.each do |name, msg| %>
				      <% content_tag(:div, msg, class:"alert alert-warning") %>
				      <message><fade><%= msg %></fade></message> 
				    <% end %>
				<% end %>
			</div>
		</div>

	</div>
</div>
<br><br><br><br><br><br>
<% end %>

<% if false %>
	<%= render ("layouts/header2") %>
<% end %>

<script>
$(document).ready(function(){
        $("fade").fadeOut(10000);
});
</script>