
    <%= form_for @account do |f| %>

        <% if @account.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@account.errors.count, "error") %> prohibited this calender from being saved:</h2>
              <ul>
                  <% @account.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                      <%= link_to accounts_path :customer_id => @account.customer_id do %>
                        <i class="btn btn-primary glyphicon glyphicon-list"></i>
                      <% end %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <div class="form-group">
                      <%= f.label "Kontobezeichnung" %><br/>
                      <%= f.text_field :name, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <%= f.label "IBAN" %><br/>
                      <%= f.text_field :iban, class:"form-control"%>
                    </div>
                    <div class="form-group">
                       <input type="checkbox" name="my-checkbox" checked>
                       <%= f.label "Gutschriften" %> 
                       <%= f.check_box :is_account_ver, :id => "account_ver", class:"form-control hidden"%>
                    </div>
                     <%= f.hidden_field :customer_id, class:"form-control" %>
                    <div class="actions">
                       <%= f.submit "Speichern",  class:"btn btn-primary btn-lg"%>
                    </div>
                </div>
            </div>
        </div>
    <% end %> 

<script>
    $.fn.bootstrapSwitch.defaults.onColor = 'success';
    $("[name='my-checkbox']").bootstrapSwitch('state',<%= @account.is_account_ver %>);
    $("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function () {
    $("#account_ver").prop('checked',$("[name='my-checkbox']").bootstrapSwitch('state'));
    });
</script>