
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
          <% if @customer.owner_type == "User" %>
            <%= link_to user_path(:id => @customer.owner_id, :topic => "Kundenstatus") do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
            <% end %>
          <% else %>
            <%= link_to company_path(:id => @customer.owner_id, :topic => "Kundenstatus") do %>
              <i class="btn btn-primary glyphicon glyphicon-list"></i>
            <% end %>
          <% end %>
          <%= link_to new_account_path :customer_id => @customer.id do %>
            <i class="btn btn-primary glyphicon glyphicon-plus"></i>
          <% end %>
          Kontenübersicht für <%= @header %> bei <%= @partner.name %>
          <span class="badge"><%= @accanz %></span>
        </li_header>
      </div>
    </div>
  </div>
	<div class="row">
    <div class="col-md-12">
  		<table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Konto Bezeichnung</th>            
            <th>Konto (IBAN)</th>
            <th>Kontoverbindung für Gutschriften</th>
          </tr>
        </thead>
        <tbody>
          <% @accounts.each do |ac| %>
            <tr>
              <td>
                <%= link_to statement_index_path :account_id => ac.id do %>
                  <i class="btn btn-primary btn btn-xs glyphicon glyphicon-tasks"></i>
                <% end %>
                <%= link_to edit_account_path(ac) do %>
                  <i class="btn btn-primary btn btn-xs glyphicon glyphicon-wrench"></i>
                <% end %>
      	        <%= link_to ac, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="btn btn-danger btn-xs glyphicon glyphicon-trash"></i>
                <% end %>
              </td>
              <td><%= ac.name %></td>
              <td><%= ac.iban %></td>
              <td>
              <% if ac.is_account_ver %>
                <i class="glyphicon glyphicon-ok"></i>
              <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
