<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @account.customer_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @account.company_id %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @account.iban %>
</p>

<p>
  <strong>Pref:</strong>
  <%= @account.pref %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
