<%= form_for(signage_hit) do |f| %>
  <% if signage_hit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(signage_hit.errors.count, "error") %> prohibited this signage_hit from being saved:</h2>

      <ul>
      <% signage_hit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :signage_camp_id %>
    <%= f.number_field :signage_camp_id %>
  </div>

  <div class="field">
    <%= f.label :signage_loc_id %>
    <%= f.number_field :signage_loc_id %>
  </div>

  <div class="field">
    <%= f.label :datetime_from %>
    <%= f.text_field :datetime_from %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
