<p id="notice"><%= notice %></p>

<h1>Signage Hits</h1>

<table>
  <thead>
    <tr>
      <th>Signage camp</th>
      <th>Signage loc</th>
      <th>Datetime from</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signage_hits.each do |signage_hit| %>
      <tr>
        <td><%= signage_hit.signage_camp_id %></td>
        <td><%= signage_hit.signage_loc_id %></td>
        <td><%= signage_hit.datetime_from %></td>
        <td><%= link_to 'Show', signage_hit %></td>
        <td><%= link_to 'Edit', edit_signage_hit_path(signage_hit) %></td>
        <td><%= link_to 'Destroy', signage_hit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Signage Hit', new_signage_hit_path %>
