<p id="notice"><%= notice %></p>

<p>
  <strong>Signage camp:</strong>
  <%= @signage_hit.signage_camp_id %>
</p>

<p>
  <strong>Signage loc:</strong>
  <%= @signage_hit.signage_loc_id %>
</p>

<p>
  <strong>Datetime from:</strong>
  <%= @signage_hit.datetime_from %>
</p>

<%= link_to 'Edit', edit_signage_hit_path(@signage_hit) %> |
<%= link_to 'Back', signage_hits_path %>
