    <%= form_for @planning do |f| %>

        <% if @planning.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@planning.errors.count, "error") %> prohibited this calender from being saved:</h2>
              <ul>
                  <% @planning.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                        <%= link_to user_path(:id => @planning.user_id, :topic => "Ressourcenplanung", :year => @planning.jahr, :mode => "Jahr") do %>
                          <i class="btn btn-primary glyphicon glyphicon-list"></i>
                        <% end %>
                        Ressourcenplanung <%= @planning.user.name + " " + @planning.user.lastname + " " + @planning.mobject.name + " " + @planning.jahr + "/" + @planning.monat %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">

                    <div class="form-group">
                      <%= f.label "Prozentsatz" %><br>
                      <%= f.number_field :percentage, class:"form-control" %>
                    </div>
                    <div class="actions">
                       <%= f.submit "Speichern", class:"btn btn-primary btn-lg"%>
                    </div>
                    <%= f.hidden_field :user_id, class:"form-control"  %>
                    <%= f.hidden_field :mobject_id, class:"form-control"  %>
                    <%= f.hidden_field :jahr, class:"form-control"  %>
                    <%= f.hidden_field :monat, class:"form-control"  %>
                </div>
            </div>
        </div>
    <% end %>
