    <%= form_for @planning do |f| %>

        <% if @planning.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@planning.errors.count, "error") %> prohibited this calender from being saved:</h2>
              <ul>
                  <% @planning.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading header">
                      <li_header>
                        <%= link_to user_path(:id => @planning.user_id, :topic => "personen_ressourcenplanung", :year => @planning.jahr, :mode => "Jahr") do %>
                          <i class="btn btn-primary glyphicon glyphicon-list"></i>
                        <% end %>
                        <%= (I18n.t :kapazitaetsplanung) + " " + (I18n.t @planning.costortime) + " " + @planning.user.name + " " + @planning.user.lastname + " " + @planning.mobject.name + " " + @planning.jahr + "/" + @planning.monat %>
                      </li_header>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">

                    <% if @planning.costortime == "aufwand" %>
                        <div class="form-group">
                          <%= f.label (I18n.t :prozentsatz) %>
                            <div class="input-group">
                              <!--<%= f.number_field :amount, :value => number_with_precision(@planning.amount, :precision => 0), :step => 5, :style => "text-align: Right", class:"form-control" %>-->
                              <%= f.number_field :amount, :style => "text-align: Right", class:"form-control" %>
                              <div class="input-group-addon"><%= I18n.t :prozentsym %></div>
                            </div>
                        </div>
                    <% end %>
                    <% if @planning.costortime == "kosten" %>
                        <div class="form-group">
                          <%= f.label (I18n.t :betrag) %><br>
                            <div class="input-group">
                              <!--<%= f.number_field :amount, :value => number_with_precision(@planning.amount, :precision => 2), :step => 0.01, :style => "text-align: Right", class:"form-control" %>-->
                              <%= f.number_field :amount, :style => "text-align: Right", class:"form-control" %>
                              <div class="input-group-addon"><%= I18n.t :waehrung %></div>
                            </div>
                        </div>
                    <% end %>
                    <div class="actions">
                       <%= f.submit (I18n.t :speichern), class:"btn btn-primary btn-lg"%>
                    </div>
                    <%= f.hidden_field :user_id, class:"form-control"  %>
                    <%= f.hidden_field :mobject_id, class:"form-control"  %>
                    <%= f.hidden_field :jahr, class:"form-control"  %>
                    <%= f.hidden_field :monat, class:"form-control"  %>
                    <%= f.hidden_field :costortime, class:"form-control"  %>
                </div>
            </div>
        </div>
    <% end %>
